<template>
  <div
    class="button_wrap hide"
  >
    <div
      :class="name"
      class="w-100"
      @click="$emit('click', true)"
    >
      <img
        v-if="round"
        class="arrow"
        :src="require('~/assets/img/up-icon.svg')"
      >
      <div
        v-if="add"
        class="add"
      >
        <div />
        <img
          class="vector"
          :src="require('~/assets/img/add-icon.svg')"
        >
      </div>
      <p class="button-text">
        {{ text }}
      </p>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    name: {
      type: String,
      default: 'button-primary'
    },
    text: {
      type: String,
      default: '按鈕'
    },
    round: {
      type: Boolean,
      default: false
    },
    add: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
    };
  },
  created () {
  },
  watch: {
  }

};
</script>

<style lang="scss">
  .button_wrap{
    display: inline-flex;
    position: relative;
  }
  .button-text{
    margin: 1px 0;
  }
</style>
