<template>
    <div
        :class="sizing"
        class="input-box dropdown"
    >
        <div class="input-title-box">
            <p class="input-title">
                {{ title }}
                <span class="starSign">
                {{ starSign }}
                </span>
            </p>
        </div>
        <van-dropdown-menu direction="up" class="dropdownMenu" :class="{errorType:isErrorType}">
            <van-dropdown-item class="dropdownItem" v-model="selected" :options="options" :title="defaultText"/>
        </van-dropdown-menu>
    </div>
</template>

<script>
export default {
    props: {
        options: {
            type: Array,
            default: () => {
                return [
                    { text: '選項1', value: '1' }, 
                    { text: '選項2', value: '2' }, 
                    { text: '選項3', value: '3' },
                    { text: '選項4', value: '4' }, 
                    { text: '選項5', value: '5' }, 
                    { text: '選項6', value: '6' },
                    { text: '選項7', value: '7' }, 
                    { text: '選項8', value: '8' }, 
                    { text: '選項9', value: '9' },
                    { text: '選項10', value: '10' }, 
                    { text: '選項11', value: '11' }, 
                    { text: '選項12', value: '12' },
                    { text: '選項13', value: '13' }, 
                    { text: '選項14', value: '14' }, 
                    { text: '選項15', value: '15' },
                    { text: '選項16', value: '16' }, 
                    { text: '選項17', value: '17' }, 
                    { text: '選項18', value: '18' },
                ];
            }
        },
        title: {
            type: String,
            default: '輸入框標題'
        },
        sizing: {
            type: String,
            default: 'w-100'
        },
        bgColor: {
            type: Boolean,
            default: false
        },
        placeholders: {
            type: String,
            default: '請選擇'
        },
        changeText: {
            type: Boolean,
            default: false
        },
        addText: {
            type: String,
            default: ''
        },
        setOptions: {
            type: Object,
            default: () => {
                return { title: '', value: '' };
            }
        },
        isDisable: {
            type: Boolean,
            default: false
        },
        starSign: {
            type: String,
            default: ''
        },
        setFirstOption: {
            type: Boolean,
        },
        isErrorType: {
            type: Boolean,
        }
    },
    data: () => {
        return {
            selected: 0,
            option: [],
            defaultText:''
        };
    },
    name: 'Dropdown',
    mounted(){
        this.setDefaultText();
    },
    methods:{
        setDefaultText(){
            if(this.setFirstOption){
                if(this.options[this.selected]){
                    this.defaultText = this.options[this.selected].text;
                }
            }else{
                this.defaultText = `請選擇${this.title}`;
            }
        }
    },
    watch: {
        selected (n, o) {
            if (n !== '') {
                this.defaultText = '';
                this.$emit('DropdownVal', n);
            }
        },
        changeText (value) {
            if (value === true) {
                this.setDefaultText();
                this.selected = '';
            }
        },
        addText (value) {
            if (value !== '') {
                this.selected = value;
            }
        },
        options (n) {
            if( n.length === 0 ){
                this.$store.commit('SET_MASK_STATUS',true);
            }else{
                this.$store.commit('SET_MASK_STATUS',false);
            }
            if (n.length === 1 || this.setFirstOption) {
                this.selected = n[0].value;
            }
        },
        setOptions (value) {
            if (value.title !== '') {
                this.selected = value;
            }
        },
        setFirstOption(value){
            this.setDefaultText();
        }
    }
};
</script>

<style lang="scss" scoped>
.input-box{
    flex-direction: initial !important;
    margin: 5px 0 !important;
}

.inputSelect{
    background-color: white;
}

.input-title-box {
    align-items: center;
}

.input-title {
    max-width: 100px;
    min-width: 80px;
    color: $header-black;
    flex: 1;
    text-align: left;
    //margin-right: 2px;
    margin: 0 2px 0 0;
    flex:1;
    @include noto-sans-tc-16-medium;
}

.add_bg {
    background-color: #DBE4E2;
    border: none !important;
}

.starSign {
    color: red;
}

.dropdownMenu{
    width: 80%;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $input-gray;
    flex:1;
}

.dropdownItem{
    div{
        z-index: 10001;
    }
}
</style>
<style lang="scss">
.dropdownMenu{
    &.errorType{
        border: 1px solid #ee0a24;
        .van-dropdown-menu__title{
            .van-ellipsis{
                color:#ee0a24
            }
        }
    }
}
.van-dropdown-item{
    z-index: 10001 !important;
}
</style>
