<template>
    <div class="iconButton" 
        :class="[
            {'focus':mapAction === name && mapControlList.indexOf(mapAction)<0},
            {'active':mapAction === name && mapControlList.indexOf(mapAction)>-1},
            name]" 
        @click.stop="sendData"
    >
        <img :src="require(`@/static/icon/${name}.svg`)">
    </div>
</template>
<script>
export default {
    props:{
        name:{
            type:String
        },
        mapAction:{
            type:String
        },
    },
    data:()=>{
        return{
            isActive : true,
            mapControlList:['zoomIn','zoomOut','position','home']
        }
    },
    methods:{
        sendData(e){
            this.$emit('mapAction',{name:this.name});
        }
    }
}
</script>
<style lang="scss">
.iconButton{
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: white;
    &.focus{
        background: $light-cyan;
        border:1px solid $main-blue;
        //outline: 1px $main-blue solid;
        //outline-offset: -2px;
    }
    &.active:active{
        background: $light-cyan;
        border:1px solid $main-blue;
        //outline: 1px $main-blue solid;
        //outline-offset: -2px;
    }
    &.position{
        top:0;
    }
    &.location{
        top:45px;
    }
    &.channel{
        top:90px;
    }
    &.home{
        top:135px;
    }
    &.zoomIn{
        top:180px;
        border-radius: 5px 5px 0 0;
    }
    &.zoomOut{
        top:220px;
        border-radius: 0 0 5px 5px;
    }
}
</style>