<template>
  <div
    class="input-box"
    :class="sizing"
  >
    <div
      v-show="isError"
      class="error-hinit"
    >
      <div class="error-circle">
        <img
          alt=""
          class="vector"
          :src="require('~/assets/img/error_icon.svg')"
        >
      </div>
      <p class="error-hint-text">
        {{ errorTip }}
      </p>
    </div>
    <van-popup v-model="filterBox" position="bottom" :overlay="false" :closeable="true" :style="{ 'height':'30%','width':'100%','margin-bottom':'195px' }">
      <ul class="filterBoxContent">
        <li
          v-for="(item, index) in filterList"
          :key="index"
          @click="selectFilter(item)"
        >
          {{ item.text }}
        </li>
      </ul>
    </van-popup>
    <input
      v-model="message"
      autocomplete="off"
      class="inputType"
      :class="{inputError:isError, isIcon:isAddIcon, 'add_bg': bgColor, add_border:unfillError&&message===''}"
      :placeholder="placeholder"
      :name="name"
      :type="passwordAsText ? 'text' : inputType"
      :disabled="isDisable === true"
      :maxlength="limitText"
    >
    <div
      v-show="textNum"
      class="textNumBox green_hint_text"
    >
      <span>{{ message.length }}/{{ limitText }}</span>
    </div>
    <img
      v-show="isAddIcon"
      :src="iconImg"
      class="input-icon"
    >
    <button
        v-show="!!iconRear"
        type="button"
        class="input-icon-rear"
        @click="passwordAsText = !passwordAsText"
        :class="{isError:isError}"
      >
        <img
          :src="iconRear"
          :alt="passwordAsText ? '不顯示密碼' : '顯示密碼'"
        >
      </button>
  </div>
</template>

<script>
import eyesFilled from '~/assets/img/ant-design_eye-filled.png';
import eyesInvisibleFilled from '~/assets/img/ant-design_eye-invisible-filled.png';
export default {
  props: {
    name: {
      type: String,
      default: 'test'
    },
    placeholder: {
      type: String,
      default: '輸入文字'
    },
    errorTip: {
      type: String,
      default: ''
    },
    isWarn: {
      type: String,
      default: ''
    },
    isDisable: {
      type: Boolean,
      default: false
    },
    setError: {
      type: Boolean,
      default: false
    },
    inputType: {
      type: String,
      default: 'text'
    },
    sizing: {
      type: String,
      default: 'w-100'
    },
    isIcon: {
      type: String,
      default: ''
    },
    inputId: {
      type: Number,
      default: 0
    },
    inputNum: {
      type: Number,
      default: 0
    },
    searchInput: {
      type: Array,
      default: () => {
        return [];
      }
    },
    changeText: {
      type: Boolean,
      default: false
    },
    alterCoor: {
      type: String,
      default: ''
    },
    filterPos: {
      type: String,
      default: ''
    },
    filterW: {
      type: String,
      default: ''
    },
    filterH: {
      type: String,
      default: ''
    },
    addText: {
      type: String,
      default: ''
    },
    unfillError: {
      type: Boolean,
      default: false
    },
    limitText: {
      type: Number,
      default: 255
    },
    bgColor: {
      type: Boolean,
      default: false
    },
    textNum: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      message: '',
      RegExpType: {
        code8: '^.{8}$',
        userId: /^[A-Za-z][12]\d{8}$/
      },
      filterBox: false,
      filterList: [],
      isCloseFilter: false,
      passwordAsText: false
    };
  },
  name: 'InputTool',
  mounted () {
    if (this.addText !== '') {
      this.message = this.addText;
    }
  },
  methods: {
    filterData () {
      this.filterBox = true;
      this.$emit('inputValue', this.message);
    },
    selectFilter (item) {
      this.message = item.text;
      this.filterBox = false;
      this.isCloseFilter = true;
      this.$emit('inputObj', item);
    }
  },
  computed: {
    isError: function () {
      const defaultStatus = this.isWarn;
      const regtype = this.RegExpType[defaultStatus];
      const rules = new RegExp(regtype);
      if (this.errorTip !== '' && this.setError) {
        return true;
      } else {
        if (defaultStatus === '' || this.message === '' || !regtype) {
          return false;
        } else {
          return !rules.test(this.message);
        }
      }
    },
    iconImg () {
      const icon = this.isIcon;
      if (icon !== '') {
        return require(`~/assets/img/${icon}.svg`);
      } else {
        return null;
      }
    },
    isAddIcon () {
      const icon = this.isIcon;
      if (icon !== '') {
        return true;
      } else {
        return false;
      }
    },
    iconRear () {
      return this.inputType !== 'password'
        ? ''
        : this.passwordAsText
          ? eyesInvisibleFilled
          : eyesFilled;
    },
    setFilterW () {
      let result = '';
      if (this.filterW !== '') {
        result = this.filterW + 'px';
      }
      return result;
    },
    setFilterH () {
      let result = '';
      if (this.filterH !== '') {
        result = this.filterH + 'px';
      }
      return result;
    },
    setFilterPos () {
      let result = '';
      if (this.filterPos !== '') {
        if (this.filterPos === 'right') {
          result = 'filterRight';
        } else if (this.filterPos === 'left') {
          result = 'filterLeft';
        }
      }
      return result;
    }
  },
  watch: {
    message (n) {
      const data = { val: n, id: this.inputId, num: this.inputNum };
      this.$emit('inputValue', data);
      const events = this.searchInput;
      const fileList = events.filter(function (event) {
        const text = event.text;
        return text.startsWith(n) && n !== '';
      });
      this.filterList = fileList;
      this.filterBox = fileList.length > 0 && !this.isCloseFilter;
      this.isCloseFilter = false;
    },
    changeText (value) {
      if (value === true) {
        this.message = '';
      }
    },
    alterCoor (value) {
      this.message = value;
    },
    addText (value) {
      if (value !== '') {
        this.message = value;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.error-hinit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.filterBox{
  ul{
    li{
      padding-bottom: 2px;
    }
    li:hover{
      cursor: pointer;
      background-color: #007bff;
      color:white;
    }
  }
}
.add_border {
  border: 1px solid #e06c6c;
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e06c6c;
    opacity: 0.75; /* Firefox */
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e06c6c;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: #e06c6c;
  }
}
.add_bg {
  background-color: #DBE4E2;
  border: none !important;
}

.textNumBox{
  text-align:right;
  width: 100%;
}

.green_hint_text {
  color: #21705D;
  @include noto-sans-tc-14-medium;
}

.filterBoxContent{
  padding: 1em;
}

.error-hint-text{
  margin: 0;
}

.input-icon-rear{
  &.isError{
    top:24px !important;
  }
}
</style>

<style lang="scss">
.van-popup{
  z-index: 10001 !important;
}
</style>
