<template>
    <div
        class="inputTitleBox input-box"
    >
        <div class="input-title-box">
            <p class="input-title">
                {{ title }}
                <span class="starSign">
                {{ starSign }}
                </span>
            </p>
        </div>
        <Input 
            :placeholder="placeholders" 
            @inputObj="getInput" 
            @inputValue="getInput" 
            :searchInput="searchInput" 
            :changeText="changeText" 
            :setError="isErrorType" 
            :errorTip="errorTip"
            style="width:calc( 100% - 80px ) !important"
        />
    </div>
</template>
<script>
import Input from '~/components/tools/InputTool';
export default {
    components: {
        Input
    },
    props: {
        title: {
            type: String,
            default: '輸入框標題'
        },
        placeholders: {
            type: String,
            default: '請選擇'
        },
        starSign: {
            type: String,
            default: ''
        },
        searchInput: {
            type: Array
        },
        changeText:Boolean,
        isErrorType:Boolean,
        errorTip:String
    },
    data:()=>{
        return{
            value: ''
        }
    },
    methods:{
        getInput(e){
            console.log(e);
            this.$emit('getInputVal',e);
        }
    }
}
</script>
<style lang="scss" scoped>
.inputTitleBox{
    width: inherit;
    display: flex !important;
    flex-direction: inherit !important;
    margin: 0 auto;
    // flex-direction: initial !important;
    // margin: 0 !important;
}

.input-title-box {
    align-items: center !important;
}

.input-title {
    //max-width: 100px;
    //min-width: 80px;
    width: 80px;
    color: $header-black;
    flex: 1;
    text-align: left;
    margin: 0 2px 0 0;
    flex:1;
    @include noto-sans-tc-16-medium;
}
.starSign {
    color: red;
}
.inputType{
    flex:1 !important;
    margin: 0 !important;
}
</style>