<template>
    <div class="listBox">
        <ul>
            <li v-for="(item,i) in options" v-bind:key="i" style="display:flex">
                <div class="title"><b>{{item.title}}</b></div>
                <div class="text">{{item.text}}</div>
            </li>
        </ul>

    </div>
</template>
<script>
    export default {
        props:{
            options:{
                type:Array
            }
        }
    }
</script>
<style lang="scss" scoped>
.listBox{
    ul{
        height: 180px;
        overflow-y: auto;
        li{
            .title{
                min-width: 105px;
                padding: 5px 0;
            }
            .text{
                margin-left: 1em;
                padding: 5px 0;
            }
            &:nth-child(odd){
                background: #F5F5F5;
            }
            &:nth-child(even){
                background: #FFF;
            }
        }
        &::-webkit-scrollbar{
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-track{
            background: #FFF;
        }
        &::-webkit-scrollbar-thumb{
            background: #A1BFB8;
        }
    }

}
</style>