<template>
    <div class="tipsBar">
        {{text}}
    </div>
</template>
<script>
export default{
    props:{
        text:{
            type:String
        }
    }
}
</script>
<style lang="scss">
.tipsBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    z-index: 10;
    position: absolute;
    bottom: 65px;
    width: 100%;
    height: 22px;
    background: #D0F7F7;
    border-radius: 5px 5px 0px 0px;
    color: #494949;
    @include noto-sans-tc-16-regular;
}
</style>
