<template>
    <div class="sliderButton" :class="{'active':isActive}" @click="sendVal()">{{btnText}}</div>
</template>
<script>
export default {
    props: {
        btnText: {
            type: String,
            default: '按鈕'
        },
        btnVal: {
            type: String,
            default: 'channel'
        },
        tabbarStatus: {
            type: String,
            default: 'channel'
        },
    },
    methods:{
        sendVal(){
            this.$emit('btnVal',this.btnVal);
        }
    },
    computed:{
        isActive(){
            return this.btnVal === this.tabbarStatus ? true : false
        }
    }
}
</script>
<style lang="scss">
.sliderButton{
    height: 23px;
    width: 84px;
    left: 10px;
    top: 0px;
    border-radius: 45px;
    //padding: 5px 10px 5px 10px;
    padding: 5px;
    color: $dark-blue;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 23px;
    margin: 0 2px;
    text-align: center;
    line-height: 22px;
    @include noto-sans-tc-16-medium;
    &.active{
        background: $light-cyan;
        border:1px solid $dark-blue;
        // outline: 1px #1F6473 solid;
        // outline-offset: -2px;
    }
}
</style>