<template>
    <van-tabbar v-model="active" class="tabbarTool" active-color="#fff" inactive-color="#fff" @change="onChange">
        <van-tabbar-item name="layer" @click="onClick('layer')" :class="{isDisable:!layerLoading}">
            <span>圖層</span>
            <template #icon="props">
                <img :src="props.map ? icon.map : icon.map" />
            </template>
        </van-tabbar-item>
        <van-tabbar-item name="search" @click="onClick('search')" :class="{isDisable:!layerLoading}">
            <span>查詢工具</span>
            <template #icon="props">
                <img :src="props.search ? icon.search : icon.search" />
            </template>
        </van-tabbar-item>
        <van-tabbar-item name="measurement"  @click="onClick('measurement')" :class="{isDisable:!layerLoading}">
            <span>量測</span>
            <template #icon="props">
                <img :src="props.measurement ? icon.measurement : icon.measurement" />
            </template>
        </van-tabbar-item>
    </van-tabbar>
</template>

<script>
export default {
  props:{
    clearTabbarStatus:{
      type:Boolean,
      default:false
    },
    layerLoading:Boolean
  },
  data() {
    return {
      active: '',
      toggle: '',
      icon: {
        map: require('@/static/icon/mapTool.svg'),
        search: require('@/static/icon/searchTool.svg'),
        measurement: require('@/static/icon/measurementTool.svg'),
      },
    };
  },
  mounted(){
    setTimeout(function(){
      this.active = '',
      this.toggle = ''
    },3000)
  },
  methods: {
    onClick(e){
      if(e === this.toggle && !this.clearTabbarStatus){
        this.active = '';
        this.toggle = '';
        this.$emit('tabbarStatus','');
      }else if(this.layerLoading){
        this.active = e;
        this.toggle = e;
      }
    },
    onChange(index) {
      if(this.layerLoading){
        this.$emit('tabbarStatus',index);
      }
    },
  },
  watch:{
    clearTabbarStatus(n){
      if(n){
        this.active = ''
        this.toggle = ''
      }
    },
    layerLoading(n){
      if(n){
        this.active = ''
        this.toggle = ''
      }
    }
  }
}
</script>
<style lang="scss">
.tabbarTool{
  z-index: 10001;
}
.isDisable{
  background: #b0b0b0 !important;
}
span{
  font-family: $font-family !important;
}
.van-tabbar-item{
  padding-bottom: 15px;
}
</style>