<template>
    <div class="mainTableBox w-100">
        <table class="mainTable w-100">
            <thead :class="{mapTable:ismapTable}">
                <tr>
                    <th v-for="(item,i) in options.title" v-bind:key="i">
                        {{item}}
                    </th>
                </tr>
            </thead>
            <tbody :class="{mapTable:ismapTable}">
                <tr v-for="(list,index) in filterOption" v-bind:key="index">
                    <td v-for="(item,i) in list" v-bind:key="i">
                        <span v-if="typeof item === 'object'" @click="sendEvent(item)">{{item.text}}</span>
                        <span v-else>{{item}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        props:{
            options:{
                type:Object,
                default: () => {
                    return {
                        title:['管理處','管理分處','工作站'],
                        data:[
                            ['嘉南','新化區管理處','公塭站1'],
                            ['嘉南','新化區管理處','公塭站2'],
                            ['嘉南','新化區管理處','公塭站3'],
                            ['嘉南','新化區管理處','公塭站4'],
                            ['嘉南','新化區管理處','公塭站5'],
                            ['嘉南','新化區管理處','公塭站6'],
                            ['嘉南','新化區管理處','公塭站7'],
                            ['嘉南','新化區管理處','公塭站8'],
                            ['嘉南','新化區管理處','公塭站9'],
                            ['嘉南','新化區管理處','公塭站10'],
                            ['嘉南','新化區管理處','公塭站11'],
                            ['嘉南','新化區管理處','公塭站12']
                        ]
                    };
                }
            },
            pageNum:{
                type:Number,
                default:1
            },
            pageDefault:{
                type:Number,
                default:4
            },
            ismapTable:Boolean
        },
        data:()=>{
            return{
                //pageNum:1
            }
        },
        methods:{
            sendEvent(e){
                this.$emit('tableEvent',e);
            }
        },
        computed:{
            filterOption(){
                const result = this.options.data.filter((item,i)=>{
                    return i < this.pageNum*this.pageDefault && i >= this.pageNum*this.pageDefault - this.pageDefault
                })
                return result
            }
        }
    }
</script>
<style lang="scss">
.mainTableBox{
    overflow-x: auto;
    background: none;
    &::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track{
        background: #E2E4E4;
    }
    &::-webkit-scrollbar-thumb{
        background: $main-blue;
    }
}
.mainTable{
    border-collapse: collapse;
    display: inline-table;
    overflow: auto;
    thead{
        border-bottom: 5px solid $main-blue;
        tr{
            border-right: 1px solid #D2E7EB;
            border-left: 1px solid #D2E7EB;
            border-top: 1px solid #D2E7EB;
            th{
                padding:0 10px;
                min-width: 75px;
                border-left: 1px solid #D2E7EB;
                text-align: left;
            }
            th:last-child{
                border-left: 1px solid #D2E7EB;
                border-right: 1px solid #D2E7EB;
            }
        }
        &.mapTable{
            tr{
                border-right: 1px solid #617376;
                border-left: 1px solid #617376;
                border-top: 1px solid #617376;
            }
            th{
                border-left: 1px solid #617376;
            }
            th:last-child{
                border-left: 1px solid #617376;
                border-right: 1px solid #617376;
            }
        }
    }
    tbody{
        tr{
            border-bottom: 1px solid #D2E7EB;
            td{
                border-left: 1px solid #D2E7EB;
                border-top: 1px solid #D2E7EB;
                min-width: fit-content;
                padding:0 10px;
                text-align: left;
                span{
                    white-space:pre
                }
            }
            td:last-child{
                border-left: 1px solid #D2E7EB;
                border-right: 1px solid #D2E7EB;
            }
            &:nth-child(odd){
                //background: #F5F5F5;
                background: rgba(255,255,255,0);
            }
        }
        &.mapTable{
            tr{
                border-bottom: 1px solid #617376;
                td{
                    border-left: 1px solid #617376;
                    border-top: 1px solid #617376;
                    min-width: fit-content;
                    text-align: left;
                }
                td:last-child{
                    border-left: 1px solid #617376;
                    border-right: 1px solid #617376;
                }
            }
        }
    }
}
</style>