<template>
    <div class="tableController">
        <div class="returnBox" @click="returnSearch">
            <font-awesome-icon icon="angle-left" class="icon"/>
            <span>返回查詢</span>
        </div>
        <div class="pageController" v-if="maxPageNum">
            <font-awesome-icon icon="angle-left" class="icon" @click="minusNum"/>
            <span>{{pageNum}}</span>
            <font-awesome-icon icon="angle-right" class="icon" @click="addNum"/>
        </div>
    </div>
</template>
<script>
    export default {
        props:{
            maxPageNum:{
                type:Number
            }
        },
        data:()=>{
            return{
                pageNum:1
            }
        },
        methods:{
            returnSearch(){
                this.$emit('returnSearch',true);
            },
            minusNum(){
                if(this.pageNum > 1){
                    this.pageNum -= 1;
                    this.$emit('pageNum',this.pageNum);
                }
            },
            addNum(){
                if( this.pageNum < this.maxPageNum){
                    this.pageNum += 1;
                    this.$emit('pageNum',this.pageNum);
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
.tableController{
    display: flex;
    justify-content: space-between;
    //padding: 10px 0 0;
}
.returnBox{
    color: #3E889F;
    @include noto-sans-tc-16-medium;
    span{
        padding-left: 5px;
    }
}
.pageController{
    span{
        border: 1px solid #959595;
        padding: 5px 10px;
    }
}
</style>