<template>
    <div class="toggleList" @click="toggleStatus">
        <img class="toggleImg" :src="toggleImg"/>
        <span>{{toggleText}}</span>
    </div>
</template>
<script>
    export default {
        data:()=>{
            return{
                status:true,
                toggleText:'展開查詢列表',
                toggleImg:require('@/static/icon/toggle-open.svg')
            }
        },
        methods:{
            toggleStatus(){
                this.status = !this.status;
                if(this.status){
                    this.toggleText = '收合查詢列表';
                    this.toggleImg = require('@/static/icon/toggle-close.svg');
                    this.$emit('toggleStatus',this.status);
                }else{
                    this.toggleText = '展開查詢列表';
                    this.toggleImg = require('@/static/icon/toggle-open.svg');
                    this.$emit('toggleStatus',this.status);
                }
            }
        }
    }
</script>
<style lang="scss">
.toggleList{
    padding: 10px 0;
    float:right;
    color: $main-blue;
    display: flex;
    @include noto-sans-tc-16-medium;
}

</style>