@import './mixin.scss';
@import './variable.scss';

.button-round {
  background-color: $main-blue;
  border-radius: 39px;
  padding: 6px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-align: center;
  cursor: pointer;
  @include noto-sans-tc-16-regular;

  .arrow {
    width: 11.08px;
    height: 8.31px;
    margin-right: 5px;
    padding: 4.5px 3.46px 5.19px;
  }
}

.button-primary {
  background-color: $main-blue;
  border-radius: 5px;
  padding: 6px 15px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  // width: 32px;
  cursor: pointer;

  .button-text {
    color: $white;
    text-align: center;
    @include noto-sans-tc-16-regular;
  }

  &:hover {
    background-color: $dark-blue;
    color: $white;
  }
}

.button-primary-disable {
  background-color: $main-blue;
  border-radius: 5px;
  padding: 6px 15px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  // width: 32px;
  opacity: 0.5;
  cursor: default;

  .button-text {
    color: $white;
    text-align: center;
    @include noto-sans-tc-16-regular;
  }
}

.button-default {
  background-color: $sky-blue;
  border-radius: 5px;
  padding: 6px 15px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  // width: 32px;
  cursor: pointer;

  .button-text {
    color: $dark-blue;
    text-align: center;
    @include noto-sans-tc-16-regular;
  }

  &:active,&:focus{
    background-color: $light-blue;
    color: $dark-blue;
  }
}

.button-default-disable {
  background-color: $light-blue;
  border-radius: 5px;
  padding: 6px 15px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.5;
  cursor: default;

  .button-text {
    color: $dark-blue;
    text-align: center;
    @include noto-sans-tc-16-regular;
  }
}

.button-link {
  border-radius: 5px;
  padding: 6px 0;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;

  .button-text {
    color: $dark-blue;
    text-align: center;
    text-decoration: underline;
    @include noto-sans-tc-16-regular;

    &:active,&:focus{
      color:white
    }
  }
}

.button-link-disable {
  border-radius: 5px;
  padding: 6px 0;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.5;
  cursor: default;

  .button-text {
    color: $dark-blue;
    text-align: center;
    text-decoration: underline;
    @include noto-sans-tc-16-regular;
  }
}

.button-red {
  background-color: $caution-red;
  border-radius: 5px;
  padding: 6px 15px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  // width: 32px;
  cursor: pointer;

  .button-text {
    color: $white;
    text-align: center;
    @include noto-sans-tc-16-regular;
  }

  &:hover,&:active,&:focus {
    background-color: $sienna;
  }
}

.button-red-disable {
  background-color: $caution-red;
  border-radius: 5px;
  padding: 6px 15px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  // width: 32px;
  opacity: 0.5;
  cursor: default;

  .button-text {
    color: $white;
    text-align: center;
    @include noto-sans-tc-16-regular;
  }
}

.button-add {
  background-color: $button-orange;
  border-radius: 5px;
  padding: 6px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover,&:active,&:focus {
    background-color: $peru;
  }

  .add {
    margin-right: 5px;
    padding: 0.56px;
    width: 16.88px;
    height: 16.88px;
    position: relative;
  }

  .ellipse-9 {
    width: 66.67%;
    height: 66.67%;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 2.25px;
  }

  .vector {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .button-text {
    color: $white;
    text-align: center;
    @include noto-sans-tc-16-regular;
  }
}

.button-add-disable {
  background-color: $button-orange;
  border-radius: 5px;
  padding: 6px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  opacity: 0.5;  

  .add {
    margin-right: 5px;
    padding: 0.56px;
    width: 16.88px;
    height: 16.88px;
    position: relative;
  }

  .ellipse-9 {
    width: 66.67%;
    height: 66.67%;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 2.25px;
  }

  .vector {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .button-text {
    color: $white;
    text-align: center;
    @include noto-sans-tc-16-regular;
  }
}

