.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    .input-icon{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 14px;
        height: 14px;
        z-index: 560;
    }
    .input-icon-rear {
        background: transparent;
        border: none;
        position: absolute;
        right: 5px;
        top: 6px
    }
    .filterBox{
        position: absolute;
        background: #FFF;
        width: $w-90;
        top: 38px;
        z-index: 1000;
        padding: 10px 5%;
        max-height: 150px;
        overflow: auto;
        border: 1px solid #959595;
        &.vertical{
            top:60px;
        }
        &.horizontal{
            width: $w-50;
            top:60px;
            right: 0;
        }
        ul{
            li{
                // height: 20px;
                line-height: 20px;
                @include noto-sans-tc-16-regular;
            }
        }
        &::-webkit-scrollbar{
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-track{
            background: #FFF;
        }
        &::-webkit-scrollbar-thumb{
            background: #A1BFB8;
        }
    }
}
.input-title-box {
    margin-bottom: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: stretch;
}
.error-circle {
    margin-right: 4px;
    padding: 1.58px 1.59px 1.59px 1.58px;
    display: flex;
    align-items: center;
    width: 15.83px;
    height: 15.83px;
}
.vector {
    //width: 100%;
    align-self: stretch;
    object-fit: cover;
}
.error-hint-text {
    color: $caution-red;
    @include noto-sans-tc-12-regular;
}
.default-hint-text {
    color: #494949;
    @include noto-sans-tc-12-regular;
}
.inputType {
    background-color: $white;
    border-radius: 5px;
    padding: 6px 10px;
    margin: 0 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid $input-gray;
    align-self: stretch;
    &.inputError{
        border: 1px solid $caution-red;
        color: $caution-red;
        &::placeholder {
            color: $caution-red;
        }
    }
    // &:hover {
    //     border: 1px solid $main-green;
    // }
    // &:active,&:focus,&:visited {
    //     outline:none;
    //     border: 1px solid $main-green !important;
    //     box-shadow: 0 0 4px 0 $dark-sea-green;
    //     color: #000;
    // }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active  {
        //-webkit-text-fill-color: #D8CB86;
        -webkit-text-fill-color: #545454;
        -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
        transition: background-color 5000s ease-in-out 0s;
    }
    &:-webkit-autofill:disabled  {
        //-webkit-text-fill-color: #D8CB86;
        -webkit-text-fill-color: #555555;
        -webkit-box-shadow: 0 0 0 1000px #e6e6e6 inset;
        transition: background-color 5000s ease-in-out 0s;
    }
    &::placeholder {
        line-height: 16px;
        height: 16px;
        font-size: 16px;
        font-weight: 400;
        color:#959595;
    }
    &:disabled{
        //background: #DBE4E2;
        background: #e8e8e8;
        border-radius: 5px;
    }
    &.isIcon{
        padding-left: 28px;
    }
    &.hasIconRear {
        padding-right: 2em;

        // disable builtin reveal in edge
        &::-ms-reveal,
        &::-ms-clear {
            display: none;
        }
    }
    &.searchInput{
        border-radius: 0px;
        padding: 10px 0px 0px;
        margin: 0 2.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        border: none;
        align-self: stretch;
        .van-field__body{
            border: 1px solid #959595 !important;
            background-color: $white;
            padding: 5px 2px 5px 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
        }
    }
}
.errorType{
    .van-field__body{
        border: 1px solid #ee0a24 !important;
    }
}
.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin: 3px 0;
    position: relative;
    select{
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        border: 1px solid $input-gray;
        align-self: stretch;
        flex: 1;
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        padding: 5px;
        color: #959595;
        &:active,&:focus,&:visited {
            outline:none;
            border: 1px solid $main-green !important;
            box-shadow: 0 0 4px 0 $dark-sea-green;
        }
    }
}
.input-text {
    color: $caution-red;
    flex: 1;
    @include noto-sans-tc-16-regular;
}

.checkBoxOption{
    @include noto-sans-tc-16-regular;
    input[type="checkbox"] {
      display:none;
    }
    input[type="checkbox"] + label
    {
      height: 14px;
      width: 14px;
      display:inline-block;
      margin: 0 5px;
      cursor: pointer;
      @include checkbox;
    }
    input[type="checkbox"]:checked + label
    {
      background: url("~/assets/img/check.svg");
      height: 14px;
      width: 14px;
      display:inline-block;
      margin: 0 5px;
      cursor: pointer;
    }
}

.vantInput{
    padding: 0 !important;
    .van-field__body{
        border: 1px solid #959595;
        background-color: $white;
        padding: 5px 2px 5px 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
}

