@charset "UTF-8";

.navtabs__header {
  // border: 1px solid red;
  display: flex;
  // width: 352px;
  height: 32px;
  padding: 5px 0 !important;
}
@media all and (max-width: $pcl-media) {
  .navtabs__header {
    height: 40px;
    padding: 0 0 10px; 
  }
  .navtabs__btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navtabs__btn {
  flex-grow: 1;
  text-align: center;
  border-bottom: 5px solid rgba(226, 228, 228, 1);
  width: 100%;
  cursor: pointer;
  line-height: 1 !important;
  @include noto-sans-tc-16-medium;
  
  &.current {
    border-bottom: 5px solid rgba(232, 180, 103, 1);
  }
}

.navtabs__content {
  padding: 0 20px;
}

// * ==========================================================================
// * Scrollbar 的樣式
// * ==========================================================================

.theme_scrollbar {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $white;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #A1BFB8;
  }
}

// * ==========================================================================
// * Checkbox 的樣式
// * ==========================================================================


.theme_checkbox {
  position: relative;

  input {
  position: absolute; // take it out of document flow
  bottom: 0;
  left: -2px;
  opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    // Box.
    & + label::before {
      content: '';
      // margin-right: 7px;
      margin-right: 13px;
      margin-bottom: -2px;
      display: inline-block;
      width: 13px;
      height: 13px;
      background: white;
      border: 1px solid #959595;
      border-radius: 3px;
    }

    // Box checked
    &:checked + label::before {
      content: '';
      background: url('~/assets/img/checkbox.svg') no-repeat right/contain;
      width: 15px;
      height: 15px;
      border: none;
    }

    &:indeterminate + label::before {
      content: '';
      background: url('~/assets/img/checkbox-Indeterminate.png') no-repeat right/contain;
      width: 15px;
      height: 15px;
      border: none;
    }

    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    &:disabled + label::before {
      box-shadow: none;
      background: #ddd;
    }

  }

  label {
    color: #494949;
    display: flex;
    align-items: center;
    @include noto-sans-tc-16-regular;
  }
}
