@charset "UTF-8";

.w-310{
    width: $w-310;
}
.w-100{
    width: $w-100 !important;
}
.w-90{
    width: $w-90 !important;
}

.w-98 {
    width: 98.5% !important;
    margin-left: 2px;
}

.w-88{
    width: 88%;
    display: inline-flex !important;
}

.w-78{
    width: 78%;
    display: inline-flex !important;
}

.w-80{
    width: $w-80 !important;
}
.w-75{
    width: $w-75 !important;
}
.w-70{
    width: $w-70 !important;
}
.w-60{
    width: $w-60 !important;
}
.w-50{
    width: $w-50 !important;
}
.w-40{
    width: $w-40 !important;
}
.w-30{
    width: $w-30 !important;
}
.w-25{
    width: $w-25 !important;
}
.w-20{
    width: $w-20 !important;
}
.w-10{
    width: $w-10 !important;
}

.vw-100{
    width: $vw-100 !important;
}
.vw-90{
    width: $vw-90 !important;
}
.vw-80{
    width: $vw-80 !important;
}
.vw-75{
    width: $vw-75 !important;
}
.vw-70{
    width: $vw-70 !important;
}
.vw-60{
    width: $vw-60 !important;
}
.vw-50{
    width: $vw-50 !important;
}
.vw-40{
    width: $vw-40 !important;
}
.vw-30{
    width: $vw-30 !important;
}
.vw-25{
    width: $vw-25 !important;
}
.vw-20{
    width: $vw-20 !important;
}
.vw-10{
    width: $vw-10 !important;
}

.vh-100{
    height: $vh-100 !important;
}
.vh-90{
    height: $vh-90 !important;
}
.vh-80{
    height: $vh-80 !important;
}
.vh-75{
    height: $vh-75 !important;
}
.vh-70{
    height: $vh-70 !important;
}
.vh-60{
    height: $vh-60 !important;
}
.vh-50{
    height: $vh-50 !important;
}
.vh-40{
    height: $vh-40 !important;
}
.vh-30{
    height: $vh-30 !important;
}
.vh-25{
    height: $vh-25 !important;
}
.vh-20{
    height: $vh-20 !important;
}
.vh-10{
    height: $vh-10 !important;
}

.h-82 {
    height: 480px;
}

.tg-75{
    margin-left: 360px !important;
    width: calc( 100vw - 400px) !important;
}

.flexBox{
    width: $w-100;
    display: flex;
    &.flex-left{
        justify-content:flex-start !important;
    }
    &.flex-right{
        justify-content:flex-end !important;
    }
    &.flex-center{
        justify-content:center !important;
    }
    .flex-1{
        flex:1 !important;
    }
    .flex-2{
        flex:2 !important;
    }
    .flex-3{
        flex-basis:33.33% !important;
    }
    .flex-4{
        flex:4 !important;
    }
    .flex-5{
        flex:5 !important;
    }
    .flex-6{
        flex:5 !important;
    }
    .flex-7{
        flex:7 !important;
    }
    .flex-8{
        flex:8 !important;
    }
    .flex-9{
        flex:9 !important;
    }
    .flex-10{
        flex:10 !important;
    }
    .flex-11{
        flex:11 !important;
    }
    .flex-12{
        flex:12 !important;
    }
    .flex-13{
        flex:13 !important;
    }
    .flex-14{
        flex:14 !important;
    }
    .flex-15{
        flex:15 !important;
    }
    .flex-16{
        flex:16 !important;
    }
}



//電腦
@mixin pcxl-width() {
  @media all and (min-width: $pcxl-media){
    @content;
  }
}
@mixin pcl-width() {
    @media all and (min-width: $pcl-media) and (max-width: $pcxl-media) {
      @content;
    }
  }
@mixin pc-width() {
  @media all and (min-width: $pc-media) and (max-width: $pcl-media) {
    @content;
  }
}
@mixin pcm-width() {
    @media all and (min-width: $pcm-media) and (max-width: $pc-media) {
      @content;
    }
  }
@mixin pcs-width() {
  @media all and (min-width: $pcs-media) and (max-width: $pcm-media) {
    @content;
  }
}
@mixin pcxs-width() {
    @media all and (min-width: $pcxs-media) and (max-width: $pcs-media) {
      @content;
    }
}





