<template>
    <div class="flatButtonBox" :class="{horizontal:wHorizontal}">
        <div class="flatLeftBox">
            <IconButton name="position" :mapAction="mapAction" @mapAction="getMapAction"/>
            <IconButton name="location" :mapAction="mapAction" @mapAction="getMapAction"/>
            <IconButton name="channel" :mapAction="mapAction" @mapAction="getMapAction"/>
            <IconButton name="home" :mapAction="mapAction" @mapAction="getMapAction"/>
            <IconButton name="zoomIn" :mapAction="mapAction" @mapAction="getMapAction"/>
            <IconButton name="zoomOut" :mapAction="mapAction" @mapAction="getMapAction"/>
        </div>
    </div>
</template>
<script>
import IconButton from '~/components/tools/IconButton.vue';
export default {
    name:"FlatButtonBox",
    components:{
        IconButton
    },
    props:{
        clearMapAction:{
            type:Boolean
        }
    },
    data:()=>{
        return{
            mapAction:'',
            wHorizontal: false
        }
    },
    mounted () {
        window.addEventListener('touchstart', e => {
            if(e.target._prevClass === 'container'){
                this.mapAction = '';
                this.$emit('mapAction','');
            };
        });
        window.onresize = ()=>{
            this.wHorizontal = window.innerHeight < 480 ? true : false;
        }
    },
    methods:{
        getMapAction(e){
            const mapControlList = ['zoomIn','zoomOut','position','home'];
            if(this.mapAction === e.name && mapControlList.indexOf(this.mapAction)<0){
                this.mapAction = '';
                this.$emit('mapAction','close');
            }else{
                this.mapAction = e.name;
                this.$emit('mapAction',e.name);
                this.$store.commit('SET_MAP_ACTION',e.name);
            }
        }
    },
    watch:{
        clearMapAction(n){
            if(n){
                this.mapAction = '';
                this.$store.commit('SET_MAP_ACTION','');
            }
        }
    }
}
</script>
<style lang="scss">
.flatButtonBox{
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 65px;
    height: 280px;
    z-index: 10000;
    overflow-y: auto;
    &::-webkit-scrollbar { width: 0 !important }
    /*IE 10+*/
    -ms-overflow-style: none;
    .flatLeftBox{
        width: 42px;
        padding-left: 5px;
    }
    .flatRightBox{
        width: 40px;
        padding-right: 5px;
    }
    &.horizontal{
        height: 60vh;
        bottom: 22.5vh;
    }
}
</style>