<template>
    <footer class="footerTool w-100" :class="{login:loginText}">
        <div class="defaultBox" :class="{login:loginText}">
            <div class="copyright">
                {{copyright}}
            </div>
        </div>
    </footer>
</template>
<script>
export default {
    props:{
        loginText:{
            type:Boolean
        },
        copyright:{
            type:String,
            default:'©2022行政院農業委員會-農田水利現勘應用工具(PWA) | 國土測繪中心'
        }
    }
}
</script>
<style lang="scss" scoped>
.footerTool{
    background: white;
    opacity: 0.6;
    position: fixed;
    bottom: 65px;
    text-align: center;
    @include noto-sans-tc-12-regular;
    &.login{
        bottom: 0;
    }
    .loginBox{
        height: 20px;
        line-height: 20px;
    }
    .defaultBox{
        .copyright{
            color: $main-blue;
        }
    }
}
</style>