<template>
    <header class="headerTool w-100">
        <van-row>
            <van-col span="12" class="logo"><img src="@/static/logo.svg"></van-col>
            <van-col span="12">
                <div class="userBox">
                    <span>{{userName}}</span>
                    <Button :text="loginStatus" @click="logout"/>
                </div>
            </van-col>
        </van-row>
    </header>
</template>
<script>
import Button from '~/components/tools/Buttons.vue';
import { getLogout } from '~/publish/getLogout';
export default {
    name: 'headerTool',
    components: {
        Button
    },
    data:()=>{
        return{
            loginStatus:'登出',
            userName:''
        }
    },
    mounted() {
        this.setWindowWidth();
        const _this = this;
        setTimeout(function(){
            _this.userName = sessionStorage.getItem("loginUser");
        },500);
    },
    updated(){
        this.userName = sessionStorage.getItem("loginUser");
    },
    methods:{
        setWindowWidth(){
            window.onresize = () => {
                console.log(window.innerWidth);
            }
        },
        logout(){
            getLogout(this);
        }
    }
}
</script>
<style>
.headerTool{
    position: fixed;
    top: 0;
    background: white;
    z-index: 10000;
}
.userName{
    text-align: right;
    line-height: 54px;
}
.userBox{
    text-align: right;
    line-height: 54px;
    padding: 0 5px;
}
.logo{
    text-align: left;
    padding-left: 10px;
}
</style>