<template>
    <van-popup round position="bottom" class="popupBox" :overlay="false" v-model="popupShow" :style="{ height: popupHeight }">
        <div class="popupTitle" @click="togglePopup">
            <div class="title">
                <img :src="require(`~/static/icon/${titleIcon}.svg`)">
                <span class="titleText">{{title}}</span>
            </div>
            <div class="button">
                <img :src="require(`~/static/icon/${toggle}.svg`)">
                <img :src="require(`~/static/icon/close.svg`)" @click="closePopup">
            </div>
        </div>
        <div class="popupContent" v-show="!popupIsHide">
            <component
                :is="componentInstance"
                :mapObj="mapObj"
                :mapAction="mapAction"
                :mapCoordinate="mapCoordinate"
                :stakeSearchText="stakeSearchText"
                :isClearSearch="!popupShow"
                :baseLayerList="baseLayerList"
                :userPosition="userPosition"
                @setPopupHeight="setPopupHeight"
                @setPopupTable="setPopupTable"
                @setPopupResult="setPopupResult"
                @getCurrent="getCurrent"
                @changeVisible="changeVisible"
                @updateOpacity="updateOpacity"
                @getMeasurement='getMeasurement'
                @clearMap="clearMap"
            />
        </div>
    </van-popup>
</template>
<script>
import Layer from '~/components/model/popupBox/layer';
import Search from '~/components/model/popupBox/search';
import Measurement from '~/components/model/popupBox/measurement';
import Cadastral from '~/components/model/popupBox/cadastral';
import Coordinate from '~/components/model/popupBox/coordinate';
import Location from '~/components/model/popupBox/location';
import HouseNumber from '~/components/model/popupBox/houseNumber';
import Channel from '~/components/model/popupBox/channel';
import { mapState } from 'vuex';
export default {
    components: {
        Layer,
        Search,
        Measurement,
        Cadastral,
        Coordinate,
        HouseNumber,
        Location,
        Channel
    },
    props:{
        isShow:{
            type:Boolean,
            default:false
        },
        type:{
            type:String,
            default:'search'
        },
        title:{
            type:String,
            default:''
        },
        mapObj:{
            type:Object
        },
        obj:{
            type:Object
        },
        mapAction:{
            type:String
        },
        mapCoordinate:{
            type:Object
        },
        stakeSearchText:{
            type:Object
        },
        baseLayerList:{
            type:Object
        },
        userPosition:{
            type:Object
        },
    },
    data() {
        return {
            popupShow: false,
            popupIsHide: false,
            isPopupTable: false,
            isPopupResult: false,
            popupHeight:'',
            iaList:[]
        };
    },

    methods:{
        togglePopup(){
            this.popupIsHide = !this.popupIsHide;
            if(this.popupIsHide){
                this.popupHeight = '51px';
            }else if(this.isPopupTable){
                this.popupHeight = '427px';
            }else if(this.isPopupResult){
                this.popupHeight = this.switchPopupResultHeight(this.type);
            }else{
                this.isPopupTable = false;
                this.popupHeight = this.switchPopupHeight(this.type);
            }
        },
        switchPopupResultHeight(type){
            switch(type){
                case 'cadastral':
                    return '271px';
                default:
                    return '200px';
            }
        },
        switchPopupHeight(type){
            this.popupIsHide = false;
            switch(type){
                case 'houseNumber':
                    return '151px';
                case 'location':
                    return '172px';
                case 'channel':
                    return '172px';
                case 'layer':
                    return 'calc( 100% - 50px )';
                case 'measurement':
                    return '189px';
                case 'coordinate':
                    return '300px';
                default:
                    return '286px';
            }
        },
        setPopupTable(e){
            this.isPopupTable = e
        },
        setPopupResult(e){
            this.isPopupResult = e
        },
        closePopup(e){
            this.isPopupTable = false;
            this.isPopupResult = false;
            this.popupIsHide = false;
            this.popupShow = false;
            this.$emit('closePopup',true);
            e.stopPropagation();
        },
        setPopupHeight(e){
            this.popupHeight = e;
        },
        getCurrent(e){
            this.$emit("getCurrent",e);
        },
        updateOpacity(e){
            this.$emit("updateOpacity",e);
        },
        getMeasurement(e){
            this.$emit("getMeasurement",e);
        },
        clearMap(e){
            this.$emit("clearMap",e);
        },
        changeVisible(e){
            if(e.category === 'surfaceList'){
                this.$emit('changeVisible', e.status , e.id , e.category, e.layerName, '', e.opacity)
            }else{
                this.$emit('changeVisible', e.status , e.id , e.category, e.layerName, e.hasLoaded, e.opacity);
                this.getService(e.text, e.id, e.category, e.LayerName);   
            }
        },
        getService (title, id, category, LayerName) {
            if (title === '水工構造物' && this.count.Cons === 0) {
                this.$emit('loadMapService', 'Cons', id, category, LayerName);
                this.$store.commit('SET_COUNT_CONS');
            }
            if (title === '渠道' && this.count.Canal === 0) {
                this.$emit('loadMapService', 'Canal', id, category, LayerName);
                this.$store.commit('SET_COUNT_CANAL');
            }
            if (title === '管理處' && this.count.Ia === 0) {
                this.$emit('loadMapService', 'Ia', id, category, LayerName);
                this.$store.commit('SET_COUNT_IA');
            }
            if (title === '工作站' && this.count.Stn === 0) {
                this.$emit('loadMapService', 'Stn', id, category, LayerName);
                this.$store.commit('SET_COUNT_STN');
            }
            if (title === '小組' && this.count.Grp === 0) {
                this.$emit('loadMapService', 'Grp', id, category, LayerName);
                this.$store.commit('SET_COUNT_GRP');
            }
        }
    },

    computed:{
        toggle(){
            return this.popupIsHide ? 'arrowDown' : 'arrowUp'
        },
        componentInstance () {
            const searchType = this.type;
            return searchType;
        },
        titleIcon(){
            const searchArr = ['search','cadastral','houseNumber','coordinate'];
            const type = this.type !== "" ? this.type : 'layer';
            return searchArr.indexOf(type) > -1 ? 'search' : type
        },
        ...mapState([
            'count',
            'pointList'
        ]),
    },

    watch:{
        isShow(n){
            this.popupShow = n
            this.popupHeight = this.switchPopupHeight(this.type);
        },
        type(n){
            if(n){
                this.popupIsHide = false;
                this.popupHeight = this.switchPopupHeight(n);
            }
        },
        popupHeight(n){
            if(this.popupIsHide){
                this.popupHeight = '51px';
            }
        }
    }

};
</script>
<style lang="scss">
.popupBox{
    margin-bottom:50px;
    z-index: 10000 !important;
}
.popupTitle{
    background:#EFF4F4;
    height: 26px;
    display: flex;
    overflow: initial;
    justify-content: space-between;
    padding: 5px 10px;
    position: fixed;
    z-index: 10000;
    width: calc( 100% - 20px);
    .title{
        display: inline-flex;
        align-items: center;
        .titleText{
            @include noto-sans-tc-18-medium;
        }
        img{
            width: 20px;
            height: 20px;
            padding-right:5px ;
        }
    }
    .button{
        align-items: center;
        display: flex;
        width: 50px;
        justify-content: space-around
    }
}
.popupContent{
    margin-top: 42px;
    padding: 0 1em;
}
</style>
