<template>
    <div class="btnBox">
        <Button 
            :text="firstText"
            class="btn"
            @click="firstData"
        />
        <Button 
            :text="secondText"
            name="button-default"
            class="btn"
            @click="secondData"
        />
    </div>
</template>
<script>
import Button from '~/components/tools/Buttons';
export default {
    name:"btnBox",
    components: {
        Button
    },
    props:{
        firstText:{
            type:String,
            default:'查詢'
        },
        secondText:{
            type:String,
            default:'清除全部'
        }
    },
    methods:{
        firstData(){
            this.$emit("firstEvent");
        },
        secondData(){
            this.$emit("secondEvent");
        }
    }
}
</script>
<style lang="scss">
.btnBox{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 0;
    position: fixed;
    bottom: 65px;
    right: 1em;
    .btn{
        margin-left: 5px;
    }
}
</style>