<template>
    <div class="SliderButtonBox">
        <SliderButton v-for="(item,i) in btnList" :key="i" :btnText="item.text" :btnVal="item.val" @btnVal="getTabbarStatus" :tabbarStatus="tabbarStatus"/>
    </div>
</template>
<script>
import SliderButton from '~/components/tools/SliderButton.vue';
export default {
    name:"SliderButtonBox",
    components:{
        SliderButton
    },
    props:{
        btnList:{
            type:Array,
            default: () => {
                return [
                    {
                        text:'渠道查詢',
                        val:'search'
                    },
                    {
                        text:'坐標查詢',
                        val:'coordinate'
                    },
                    {
                        text:'地籍查詢',
                        val:'cadastral'
                    },
                    {
                        text:'門牌查詢',
                        val:'houseNumber'
                    }
                ];
            }
        },
        tabbarStatus:{
            type:String
        }
    },
    data:()=>{
        return{
        }
    },
    methods:{
        getTabbarStatus(e){
            this.$emit('searchStatus',e)
        }
    }
}
</script>
<style lang="scss">
.SliderButtonBox{
    display: inline-flex;
    margin-top: 60px;
    overflow-x: scroll;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10000;
    justify-content: center;
    &::-webkit-scrollbar { width: 0 !important }
    /*IE 10+*/
    -ms-overflow-style: none;
}
</style>