<template>
    <van-checkbox-group v-model="checkList" class="childBox">
        <div :class="mainArrowClass" @click="toggleMainList" v-show="iconList.length>0"></div>
        <van-checkbox :name="item.id" shape="square" class="childBoxList" label-disabled>
            <font-awesome-icon icon="folder" class="icon"/>{{item.text}}
            <template #icon="props">
                <img class="img-icon" :src="props.checked ? activeListIcon : inactiveListIcon" />
            </template>
        </van-checkbox>
        <ul class="iconList" v-show="listShow">
            <li v-for="(element,i) in iconList" 
                v-bind:key="i" >
                <span>{{element.text}}</span>
                <div><img :src="require(`@/assets/img/conspic/${element.src}.svg`)" class="icon_pic"/></div>
            </li>
        </ul>
    </van-checkbox-group>
</template>
<script>
import { mapState } from 'vuex';
export default {
    props:{
        selectOption:{
            type:Array,
        },
        mainCheck:{
            type:Boolean
        },
        bottomLine:{
            type: Boolean,
            default: true
        },
        item:{
            type: Object
        }
    },
    data() {
        return {
            checked:false,
            checkList: [],
            activeListIcon:require('@/static/icon/checkAll.svg'),
            inactiveListIcon:require('@/static/icon/checkDefault.svg'),
            listShow:false,
            mainArrowClass:"arrowRight",
            iconList:[
                {text:'圖例1',src:'mapIcon1'},
                {text:'圖例2',src:'mapIcon1'},
                {text:'圖例3',src:'mapIcon1'},
            ]
        };
    },
    methods:{
        toggleMainList(e){
            if(this.listShow){
                this.mainArrowClass = "arrowRight";
                this.listShow = false;
            }else{
                this.mainArrowClass = "arrowDown";
                this.listShow = true;
            }
        }
    },
    computed:{
        activeIcon(){
            let checkIcon = '';
            if(this.selectOption.length > this.result.length){
                checkIcon = require('@/static/icon/checkIndeterminate.svg');
            }else if(this.result.length === this.selectOption.length){
                checkIcon = require('@/static/icon/checkAll.svg');
            }
            return checkIcon;
        },
        inactiveIcon(){
            let checkIcon = '';
            if(this.result.length === 0){
                checkIcon = require('@/static/icon/checkDefault.svg');
            }else if(this.selectOption.length > this.result.length){
                checkIcon = require('@/static/icon/checkIndeterminate.svg');
            }
            return checkIcon;
        },
        ...mapState([
        ])
    },
    watch:{  
        mainCheck(n){
            if(n){
                this.result.push(this.item.id);
            }else{
                this.result = []
            }
        }
    }
};
</script>
<style lang="scss" scoped>
.treeCheckBox{
    padding: 10px 0 60px;
    position: relative;
}
.childBox{
    position: relative;
    .childBoxList{
        padding-left: 25px;
        margin: 6px 0;
    }
}
.icon{
    color:#3E889F;
    margin-right: 5px;
}
.img-icon {
    height: 20px;
}
.bottomLine{
    border-bottom: 0.5px solid #3E889F;
    padding: 10px 0;
}
.iconList{
    padding-left: 25px;
    li{
        display: flex;
        line-height: 32px;
        padding-left: 0 1.5em;
        justify-content: space-between;
    }
}
.arrowRight{
    position: absolute;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #000000;
}
.arrowDown{
    position: absolute;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
}
.icon_pic{
    width: 20px;
    height: 20px;
}
.square_pic{
    width: 20px;
    height: 20px;
}
.line_pic{
    width: 15px;
    height: 3px;
    margin-left: 10px;
}
</style>