<template>
    <div class="treeCheckBox" :class="{'bottomLine':bottomLine}">
        <div :class="mainArrowClass" @click="toggleMainList"></div>
        <van-checkbox v-model="checked" class="mainCheck" shape="square" label-disabled>
            <font-awesome-icon icon="folder" class="icon"/>{{ListTitle}}
            <template #icon="props">
                <img class="img-icon" :src="props.checked ? activeIcon : inactiveIcon" />
            </template>
        </van-checkbox>
        <TreeCheckListBox 
            v-for="(item,i) in selectOption" 
            v-bind:key="i"
            v-show="listShow"
            :setOpen="setOpen"
            :mainCheck="checked"
            @childCheck="childList"
            :item='item'
        />
    </div>
</template>
<script>
import TreeCheckListBox from '~/components/model/TreeCheckListBox.vue';
export default {
    components:{
        TreeCheckListBox
    },
    props:{
        ListTitle:{
            type:String
        },
        type:{
            type:String
        },
        selectOption:{
            type:Array,
            default: () => {
                return [
                    {text:'縣市界',val:0},
                    {text:'鄉鎮區界',val:1},
                    {text:'段籍圖',val:2},
                    {text:'地籍圖',val:3},
                    {text:'非都市使用分區',val:4}
                ];
            }
        },
        bottomLine:{
            type: Boolean,
            default: true
        },
        setOpen:{
            type:Array
        }
    },
    data() {
        return {
            checked:false,
            result: [],
            activeListIcon:require('@/static/icon/checkAll.svg'),
            inactiveListIcon:require('@/static/icon/checkDefault.svg'),
            listShow:true,
            mainArrowClass:"arrowDown"
        };
    },
    methods:{
        toggleMainList(e){
            if(this.listShow){
                this.mainArrowClass = "arrowRight";
                this.listShow = false;
            }else{
                this.mainArrowClass = "arrowDown";
                this.listShow = true;
            }
        },
        childList(e){
            if(e.status){
                this.result.push(e.id);
                this.result = [...(new Set(this.result))];
            }else{
                const index = this.result.indexOf(e.id);
                if (index > -1) {
                    this.result.splice(index, 1);
                }
            }
            if(this.selectOption.length === this.result.length){
                this.checked = true;
            }else if(this.result.length === 0){
                this.checked = false;
            }
            this.$emit('changeVisible', e)
        }
    },
    computed:{
        activeIcon(){
            let checkIcon = '';
            if(this.selectOption.length > this.result.length){
                checkIcon = require('@/static/icon/checkIndeterminate.svg');
            }else if(this.result.length === this.selectOption.length){
                checkIcon = require('@/static/icon/checkAll.svg');
            }
            return checkIcon;
        },
        inactiveIcon(){
            let checkIcon = '';
            if(this.result.length === 0){
                checkIcon = require('@/static/icon/checkDefault.svg');
            }else if(this.selectOption.length > this.result.length){
                checkIcon = require('@/static/icon/checkIndeterminate.svg');
            }
            return checkIcon;
        }
    },
    watch:{
        checked(n){
            if(n){
                this.result = [];
                this.selectOption.forEach(element => {
                    this.result.push(element.id);
                });
            }else{
                this.result = [];
            }
        }
    }
};
</script>
<style lang="scss" scoped>
.treeCheckBox{
    padding: 10px 0 60px;
    position: relative;
}
.childBox{
    margin-left: 40px;
    padding-left: 10px;
    .childBoxList{
        margin: 6px 0;
    }
}
.mainCheck{
    padding-left: 25px;
}
.icon{
    color:#3E889F;
    margin-right: 5px;
}
.img-icon {
    height: 20px;
}
.bottomLine{
    border-bottom: 0.5px solid #3E889F;
    padding: 10px 0;
}
.iconList{
    li{
        display: flex;
        padding-left: 0 1.5em;
        justify-content: space-between;
    }
}
.arrowRight{
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #000000;
}
.arrowDown{
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
}
</style>