<template>
    <div class="treeCheckBox" :class="{'bottomLine':bottomLine}">
        <div :class="mainArrowClass" @click="toggleMainList"></div>
        <van-checkbox v-model="checked" class="mainCheck" shape="square" label-disabled>
            <font-awesome-icon icon="folder" class="icon"/>{{ListTitle}}
            <template #icon="props">
                <img class="img-icon" :src="props.checked ? activeIcon : inactiveIcon" />
            </template>
        </van-checkbox>
        <van-checkbox-group v-model="result1" class="childBox" label-disabled v-show="listShow">
            <van-checkbox v-for="(item,i) in selectOption" shape="square" class="childBoxList" v-bind:key="i" :name="item.id">
                <font-awesome-icon icon="folder" class="icon"/>{{item.text}}
                <template #icon="props">
                    <img class="img-icon" :src="props.checked ? activeListIcon : inactiveListIcon" />
                </template>
            </van-checkbox>
        </van-checkbox-group>
    </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
    props:{
        ListTitle:{
            type:String
        },
        type:{
            type:String
        },
        selectOption:{
            type:Array,
            default: () => {
                return [
                    {text:'縣市界',val:0},
                    {text:'鄉鎮區界',val:1},
                    {text:'段籍圖',val:2},
                    {text:'地籍圖',val:3},
                    {text:'非都市使用分區',val:4}
                ];
            }
        },
        bottomLine:{
            type: Boolean,
            default: true
        },
        setOpen:{
            type:Array
        },
        isSingle:{
            type: Boolean,
        },

    },
    data() {
        return {
            checked:true,
            result: [],
            result1: [],
            activeListIcon:require('@/static/icon/checkAll.svg'),
            inactiveListIcon:require('@/static/icon/checkDefault.svg'),
            listShow:true,
            mainArrowClass:"arrowDown"
        };
    },
    mounted(){
        const _this = this;
        setTimeout(function(){
            if(_this.selectLayerOption.imageLayer[0].status){
                let _id = '';
                if(!_this.selectLayerOption.imageLayer[0].id){
                    _id = _this.selectLayerOption.imageLayer[0][0].id
                }else{
                    _id = _this.selectLayerOption.imageLayer[0].id
                }
                _this.result1.push(_id);
            }
        },1500)
    },
    methods:{
        toggleMainList(e){
            if(this.listShow){
                this.mainArrowClass = "arrowRight";
                this.listShow = false;
            }else{
                this.mainArrowClass = "arrowDown";
                this.listShow = true;
            }
        },
        childList(e){
            if(e.status){
                if(this.isSingle){
                    this.result = [e.id];
                }else{
                    this.result.push(e.id);
                    this.result = [...(new Set(this.result))];
                }
            }else{
                const index = this.result.indexOf(e.id);
                if (index > -1) {
                    this.result.splice(index, 1);
                }
            }
            if(this.selectOption.length === this.result.length && !this.isSingle){
                this.checked = true;
            }else if(this.result.length === 0){
                this.checked = false;
            }
            this.$emit('changeVisible', e)
        }
    },
    computed:{
        activeIcon(){
            let checkIcon = '';
            if(this.result1.length === 0){
                checkIcon = require('@/static/icon/checkDefault.svg');
            }else{
                checkIcon = require('@/static/icon/checkIndeterminate.svg');
            }
            return checkIcon;
        },
        inactiveIcon(){
            let checkIcon = '';
            if(this.result1.length === 0){
                checkIcon = require('@/static/icon/checkDefault.svg');
            }else{
                checkIcon = require('@/static/icon/checkIndeterminate.svg');
            }
            return checkIcon;
        },
        ...mapState([
            'selectLayerOption',
        ]),
    },
    watch:{
        checked(n){
            if(n && this.result1.length === 0){
                this.result1.push(2);
            }else if(!n&&this.result1.indexOf(this.selectLayerOption.imageLayer[0].id)>-1){
                this.result1 = [];
            }
        },
        result1(n){
            const _id = this.selectLayerOption.imageLayer[0].id;
            const selectLayer = this.selectOption.filter(element => element.id === _id)[0];
            if(selectLayer){
                selectLayer.status = false;
                this.checked = false;
                this.$emit('changeVisible', selectLayer);
            }
            if(n.length>1){
                this.result1.splice(0,1);
            }else{
                const newSelectLayer = this.selectOption.filter(element => {
                    return this.result1.indexOf(element.id)>-1;
                });
                if(newSelectLayer[0]){
                    newSelectLayer[0].status = true;
                    this.checked = true;
                    this.$emit('changeVisible', newSelectLayer[0]);
                }
                
            }
        }
    }
};
</script>
<style lang="scss" scoped>
.treeCheckBox{
    padding: 10px 0 60px;
    position: relative;
}
.childBox{
    margin-left: 75px !important;
    .childBoxList{
        margin: 6px 0 !important;
    }
}

.mainCheck{
    padding-left: 25px;
}
.icon{
    color:#3E889F;
    margin-right: 5px;
}
.img-icon {
    height: 20px;
}
.bottomLine{
    border-bottom: 0.5px solid #3E889F;
    padding: 10px 0;
}
.iconList{
    li{
        display: flex;
        padding-left: 0 1.5em;
        justify-content: space-between;
    }
}
.arrowRight{
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #000000;
}
.arrowDown{
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
}
</style>