<template>
    <van-checkbox-group v-model="result" class="childBox">
        <div :class="mainArrowClass" @click="toggleMainList" v-show="picList && picList.length>0"></div>
        <van-checkbox :name="item.id" shape="square" class="childBoxList" label-disabled>
            <font-awesome-icon icon="folder" class="icon"/>{{item.text}}
            <template #icon="props">
                <img class="img-icon" :src="props.checked ? activeListIcon : inactiveListIcon" />
            </template>
        </van-checkbox>
        <ul class="iconList" v-show="listShow" v-if="item.type === 'icon'">
            <li v-for="(element,i) in picList" 
                v-bind:key="i" >
                <span>{{element.text}}</span>
                <div><img :src="require(`@/assets/img/conspic/${element.src}.png`)" class="icon_pic"/></div>
            </li>
        </ul>
        <ul class="iconList" v-show="listShow" v-else-if="item.type === 'square'">
            <li v-for="(element,i) in picList"
                v-bind:key="i">
                <span v-if="picList.length>1||element.showText">{{element.text}}</span>
                <span v-else></span>
                <div :style="{'background':element.color,'border':`1px solid ${element.border}`}" class="square_pic">
                <div>
            </li>
        </ul>
        <ul class="iconList" v-show="listShow" v-else-if="item.type === 'line'">
            <li v-for="(element,i) in picList"
                v-bind:key="i">
                <span>灌排{{element.text}}</span>
                <div :style="{'background':element.color}" class="line_pic">
                <div>
            </li>
        </ul>
    </van-checkbox-group>
</template>
<script>
import { mapState } from 'vuex';
export default {
    props:{
        selectOption:{
            type:Array,
            default: () => {
                return [
                    {text:'縣市界',val:0},
                    {text:'鄉鎮區界',val:1},
                    {text:'段籍圖',val:2},
                    {text:'地籍圖',val:3},
                    {text:'非都市使用分區',val:4}
                ];
            }
        },
        mainCheck:{
            type:Boolean
        },
        bottomLine:{
            type: Boolean,
            default: true
        },
        item:{
            type: Object
        },
        setOpen:{
            type: Array
        },
    },
    data() {
        return {
            checked:false,
            result: [],
            activeListIcon:require('@/static/icon/checkAll.svg'),
            inactiveListIcon:require('@/static/icon/checkDefault.svg'),
            listShow:false,
            mainArrowClass:"arrowRight",
            iconList:[
                {text:'圖例1',src:'mapIcon1'},
                {text:'圖例2',src:'mapIcon1'},
                {text:'圖例3',src:'mapIcon1'},
            ],
            iaIcon:[
                {name:'宜蘭',picStn:'#F3CEC8',subId:"01",visible:true},
                {name:'北基',picStn:'#F4FBCF',subId:"02",visible:true},
                {name:'桃園',picStn:'#FFBB34',subId:"03",visible:true},
                {name:'石門',picStn:'#2BB0E0',subId:"04",visible:true},
                {name:'新竹',picStn:'#CACFD2',subId:"05",visible:true},
                {name:'苗栗',picStn:'#98876C',subId:"06",visible:true},
                {name:'臺中',picStn:'#FF8953',subId:"07",visible:true},
                {name:'南投',picStn:'#6B6AB1',subId:"08",visible:true},
                {name:'彰化',picStn:'#98DD78',subId:"09",visible:true},
                {name:'雲林',picStn:'#B0B8FF',subId:"10",visible:true},
                {name:'嘉南',picStn:'#327867',subId:"11",visible:true},
                {name:'高雄',picStn:'#8CA3A6',subId:"12",visible:true},
                {name:'屏東',picStn:'#DFF362',subId:"13",visible:true},
                {name:'臺東',picStn:'#6C3232',subId:"14",visible:true},
                {name:'花蓮',picStn:'#4DE7C3',subId:"15",visible:true},
                {name:'七星',picStn:'#84FFFF',subId:"16",visible:true},
                {name:'瑠公',picStn:'#FFB9E3',subId:"17",visible:true},
            ]
        };
    },
    mounted(){
        if(this.setOpen.indexOf(this.item.id)>-1){
            this.result.push(this.item.id);
        };
    },
    methods:{
        toggleMainList(e){
            if(this.listShow){
                this.mainArrowClass = "arrowRight";
                this.listShow = false;
            }else{
                this.mainArrowClass = "arrowDown";
                this.listShow = true;
            }
        },
        getLayer(n){
            const arr = [...new Set(n)];
            if(this.item.category === 'pointList'){
                const a = this.pointList.filter(x=>x.id===this.item.id);
                const LayerName = a[0].LayerName
                if(arr[0]>-1){
                    this.$emit("childCheck",{id:this.item.id,status:true,category:this.item.category,layerName:LayerName,text:this.item.text,hasLoaded:true,list:this.item.list});
                }else{
                    this.$emit("childCheck",{id:this.item.id,status:false,category:this.item.category,layerName:LayerName,text:this.item.text,hasLoaded:false,list:this.item.list});
                }
            }else if(this.item.category === 'lineList'){
                const LayerName = this.lineList[0].LayerName;
                if(arr[0]>-1){
                    this.$emit("childCheck",{id:this.item.id,status:true,category:this.item.category,layerName:LayerName,text:this.item.text,hasLoaded:true,list:this.item.list});
                }else{
                    this.$emit("childCheck",{id:this.item.id,status:false,category:this.item.category,layerName:LayerName,text:this.item.text,hasLoaded:false,list:this.item.list});
                }
            }else{
                if(arr[0]>-1){
                    this.$emit("childCheck",{id:this.item.id,status:true,category:this.item.category,layerName:this.item.layerName,text:this.item.text,list:this.item.list});
                }else{
                    this.$emit("childCheck",{id:this.item.id,status:false,category:this.item.category,layerName:this.item.layerName,text:this.item.text,list:this.item.list});
                }
            }
        }
    },
    computed:{
        activeIcon(){
            let checkIcon = '';
            if(this.selectOption.length > this.result.length){
                checkIcon = require('@/static/icon/checkIndeterminate.svg');
            }else if(this.result.length === this.selectOption.length){
                checkIcon = require('@/static/icon/checkAll.svg');
            }
            return checkIcon;
        },
        inactiveIcon(){
            let checkIcon = '';
            if(this.result.length === 0){
                checkIcon = require('@/static/icon/checkDefault.svg');
            }else if(this.selectOption.length > this.result.length){
                checkIcon = require('@/static/icon/checkIndeterminate.svg');
            }
            return checkIcon;
        },
        picList(){
            let result = [];
            switch(this.item.text){
                case '管理處':
                    const userAuthorityArr = this.getUserAuthority.split(',');
                    const iaIconArr = this.iaIcon.filter(x=>userAuthorityArr.indexOf(x.subId)>-1);
                    result = iaIconArr.map(item => {
                        return { 
                            text: item.name,
                            showText:true, 
                            color: item.picStn, 
                            border:''
                        };
                    });
                    break;
                case '工作站':
                    result = this.picData.Stn.map(item => {
                        return { 
                            text: item.name, 
                            color: item.picStn, 
                            border:''
                        };
                    });
                    break;
                case '小組':
                    result = [{
                        text: '01',
                        color: '#0084A8',
                        border: '#000'
                    }]
                    break;
                case '渠道':
                    result = this.picData.Canal.map(item => {
                        return { 
                            text: item.name, 
                            color: item.picCanal
                        };
                    });
                    break;
                case '水工構造物':
                    result = this.picData.Cons.map(item => {
                        return { 
                            text: item.name, 
                            src: item.picCons
                        };
                    });
                    break;
            }
            this.pwaLayerList.forEach(x=>{
                if(x.title === this.item.text){
                    result = [{
                        text: '01',
                        color: '#ffc0cb',
                        border: '#ffc0cb'
                    }]
                }
                console.log(result);
            })
            return result;
        },
        getUserAuthority(){
            return sessionStorage.getItem('userAuthority');
        },
        ...mapState([
            'picData',
            'pointList',
            'surfaceList',
            'lineList',
            'pwaLayerList'
        ])
    },
    watch:{
        result(n){
            const _this = this
            this.$store.commit('SET_MASK_STATUS',true);
            setTimeout(function(){
                _this.getLayer(n);
            },500)
        },
        mainCheck(n){
            if(n){
                this.result.push(this.item.id);
            }else{
                this.result = []
            }
        },
        '$store.state.selectLayerOption.surfaceLayer':{
            handler (value) {
                console.log(value);
                setTimeout(() => {
                    this.$store.commit('SET_MASK_STATUS',false);
                }, value.length * 600);
            }
        },
        '$store.state.selectLayerOption.imageLayer':{
            handler (value) {
                console.log(value);
                this.$store.commit('SET_MASK_STATUS',false);
            }
        },
        '$store.state.selectLayerOption.areaLayer':{
            handler (value) {
                console.log(value);
                this.$store.commit('SET_MASK_STATUS',false);
            }
        }
    }
};
</script>
<style lang="scss" scoped>
.treeCheckBox{
    padding: 10px 0 60px;
    position: relative;
}
.childBox{
    position: relative;
    .childBoxList{
        padding-left: 25px;
        margin: 6px 0;
    }
}
.icon{
    color:#3E889F;
    margin-right: 5px;
}
.img-icon {
    height: 20px;
}
.bottomLine{
    border-bottom: 0.5px solid #3E889F;
    padding: 10px 0;
}
.iconList{
    padding-left: 25px;
    li{
        display: flex;
        line-height: 32px;
        padding-left: 0 1.5em;
        justify-content: space-between;
    }
}
.arrowRight{
    position: absolute;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #000000;
}
.arrowDown{
    position: absolute;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
}
.icon_pic{
    width: 20px;
    height: 20px;
}
.square_pic{
    width: 20px;
    height: 20px;
}
.line_pic{
    width: 15px;
    height: 3px;
    margin-left: 10px;
}
</style>