<template>
    <div>
        <div class="cadastralSearch" v-show="!isSearch">
            <DropdownTitle title="縣市" starSign="*" :changeText="isClearCountry" @DropdownVal="countyDrop" :options="countryList" :isErrorType="errorType.county"/>
            <DropdownTitle title="鄉鎮市區" starSign="*" :changeText="isClearTown" @DropdownVal="townDrop" :options="townList" :isErrorType="errorType.town"/>
            <DropdownTitle title="段名" starSign="*" :changeText="isClearSection" @DropdownVal="sectionDrop" :options="sectionList" :isErrorType="errorType.section" :setFirstOption="sectionList.length === 1"/>
            <InputTitle title="地號" starSign="*" :changeText="isClearLandNo" placeholders="輸入格式範例:200、220-1" @getInputVal="getLand" :searchInput="landList" :isErrorType="errorType.landNo" errorTip="地號為必填"/>
            <SearchBtnBox @firstEvent="getSearch" @secondEvent="clearSearch"/>
        </div>
        <div class="cadastralResult" v-show="isSearch">
            <TableController @returnSearch="returnSearch"/>
            <ListTool :options="irrigationLandResult">
        </div>
    </div>
</template>
<script>
import TableController from '~/components/tools/TableController';
import DropdownTitle from '~/components/tools/DropdownTitle';
import InputTitle from '~/components/tools/InputTitle';
import SearchBtnBox from '~/components/model/SearchBtnBox';
import ListTool from '~/components/tools/List';
import { mapState } from 'vuex';
import axios from 'axios';
import { getCounties,getTowns,getSections,getSecNoList,getSecNo,getSecFid,searchIrrigationLandArea,getSec5cov,getRalidSection,getRalidLandno } from '~/api/data';
export default {
    components: {
        DropdownTitle,
        SearchBtnBox,
        InputTitle,
        TableController,
        ListTool
    },
    props:{
        baseLayerList:{
            type:Object
        },
        isClearSearch:Boolean
    },
    data:()=>{
        return{
            isClear : false,
            isClearCountry : false,
            isClearTown : false,
            isClearSection: false,
            isClearLandNo: false,
            isSearch: false,
            dataObj:{
                Country:[],
                Town:[],
                Section:[]
            },
            searchObj:{
                county:'',
                Town:'',
                Section:'',
                land_no:''
            },
            FIDObj:{
                Country:'',
                Town:'',
                Section:''
            },
            countryList:[],
            townList:[],
            sectionList:[],
            landList:[],
            myLandGraphic: '',
            irrigationLandResult:[],
            errorType:{
                county: false,
                town: false,
                section: false,
                landNo: false
            },
            office:null,
            dmapGraphic:null,
            secCnsText:null
        }
    },
    mounted(){
        const data = { account: this.userAccount };
        this.$toast.allowMultiple();
        this.$toast({
            message: ' 文字資料：內政部地政司(111年1月)\n定位資料：內政部國土測繪中心API',
            position: 'center',
            duration: 3000,
            className: 'toastTips'
        });
        getCounties(data).then(r => {
            const data = r.data;
            this.dataObj.Country = data;
            data.forEach(item => {
                this.countryList.push({text:item.COUNTYNAME,value:item.COUNTYID,});
            });
        }).catch(e => {
            console.log(e);
        })
    },
    methods:{
        clearSearch(){
            this.isClearCountry = true;
            this.isClearTown = true;
            this.isClearSection = true;
            this.isClearLandNo = true;
            this.isSearch = false;
            this.clearObj(this.searchObj);
            pMapBase.drawingGraphicsLayer.remove(this.myLandGraphic);
        },
        clearObj(obj){
            for(var o of Object.getOwnPropertyNames(obj))
            {
                obj[o] = '';
            }
        },
        countyDrop(e){
            if(e){
                this.searchObj.county = e;
                this.isClearCountry = false;
                this.isClearTown = true;
                this.isClearSection = true;
                this.isClearLandNo = true;
                this.FIDObj.Country = this.dataObj.Country.filter(x=>x.COUNTYID === e)[0].FID;
                this.townList = [];
                this.sectionList = [];
                this.landList = [];
                this.errorType.county = false;
                this.errorType.town = false;
                this.errorType.section = false;
                this.errorType.landNo = false;
                axios.get(`https://api.nlsc.gov.tw/other/ListTown/${this.searchObj.county}`).then(r => {
                    const x2js = new X2JS();
                    const jsonObj = x2js.xml_str2json(r.data);
                    this.dataObj.Town = jsonObj.townItems.townItem;
                    this.townList = jsonObj.townItems.townItem.map(x => ({ text: x.townname, value: x.towncode }));
                }).catch(e => {
                    console.log(e);
                });
            }
        },
        townDrop(e){
            if(e){
                this.isClearTown = false;
                this.isClearSection = true;
                this.isClearLandNo = true;
                this.searchObj.Town = e;
                this.sectionList = [];
                this.landList = [];
                this.errorType.town = false;
                this.errorType.section = false;
                this.errorType.landNo = false;
                axios.get(`https://api.nlsc.gov.tw/other/ListLandSection/${this.searchObj.county}/${this.searchObj.Town}`).then(r => {
                    const x2js = new X2JS();
                    const jsonObj = x2js.xml_str2json(r.data);
                    this.office = jsonObj.sectItems.sectItem[0].office;
                    getRalidSection({ county: this.searchObj.county, office: this.office }).then(r => {
                        this.sectionList = r.data.map(x => ({ text: x.Sec_cns, value: x.Section }));
                    }).catch(e => {
                        console.log(e);
                        if (e.response.status === 403) {
                            this.isClearSection = false;
                            this.sectionList = [{ text: '無地段資料', value: '00' }];
                        };
                    });
                }).catch(e => {
                    console.log(e);
                });
            }
        },
        sectionDrop(e){
            if(e){
                this.secCnsText = this.sectionList.filter(x => x.value === e);
                this.landList = [];
                this.isClearSection = false;
                this.isClearLandNo = true;
                this.searchObj.Section = e;
                this.errorType.section = false;
                this.errorType.landNo = false;
                getRalidLandno({ county: this.searchObj.county, section: this.searchObj.Section }).then(r => {
                    this.landList = r.data.map(x => ({ text: x.Land_no, value: x.Land_no }));
                }).catch(err => {
                    console.log(err);
                });
            }
        },
        getLand(e){
            const value = e.text || e.val;
            this.isClearLandNo = false;
            this.errorType.landNo = false;
            this.searchObj.land_no = value;
        },
        // * @ 地籍定位 : 點選各dropdown的其中一筆 繪製圖形+定位過去
        positionCtrl (payload, myType) {
            if (payload === '') { return; }
            let myObj = {};
            if (myType === 'County') {
                myObj = { FID: this.FIDObj.Country, account: this.userId };
            }
            if (myType === 'Town') {
                myObj = { CountyID: this.searchObj.county, FID: this.FIDObj.Town };
            }
            if (myType === 'Section') {
                myObj = { CountyID:this.searchObj.county, TownID: this.searchObj.Town, FID: this.FIDObj.Section };
            }

            fetch(`/AERC/rest/${myType}`, {
                method: 'POST',
                headers: new Headers({
                'Content-Type': 'application/json'
                }),
                body: JSON.stringify(myObj)
            }).then((response) => {
                return response.json();
            }).then((jsonData) => {
                // 先清除之前的
                pMapBase.drawingGraphicsLayer.remove(this.myLandGraphic);
                // 畫圖
                let geometry = '';
                geometry = sg.geometry.Geometry.fromGeoJson(jsonData[0].GEOMETRY);
                this.myLandGraphic = sg.Graphic.createFromGeometry(geometry, { borderwidth: 1, fillcolor: new sg.Color(220, 105, 105, 0.5) });
                pMapBase.drawingGraphicsLayer.add(this.myLandGraphic);
                // 定位
                const extent = geometry.extent;
                pMapBase.ZoomMapTo(extent);
                //ZoomOut();
                pMapBase.getTransformation().FitLevel();
                pMapBase.RefreshMap(true);
            }).catch((err) => {
                console.log(err);
            });
        },
        getSearch(e){
            let isReturn = false;
            if(!this.searchObj.county){
                this.errorType.county = true;
                isReturn = true;
            }
            if(!this.searchObj.Town){
                this.errorType.town = true;
                isReturn = true;
            }
            if(!this.searchObj.Section){
                this.errorType.section = true;
                isReturn = true;
            }
            if(!this.searchObj.land_no){
                this.errorType.landNo = true;
                isReturn = true;
            }
            if(isReturn){
                return;
            }
            this.irrigationLandResult = [];
            // const sec5covData = {
            //     CountyID:this.searchObj.county,
            //     Section:this.searchObj.Section,
            //     Land_no:this.searchObj.land_no
            // }
            this.$store.commit('SET_MASK_STATUS',true);
            const searchData = {
                county:this.searchObj.county,
                Town:this.searchObj.Town.substr(1),
                Section:this.searchObj.Section,
                land_no:this.searchObj.land_no
            }
            searchIrrigationLandArea(searchData).then(r=>{
                const x = r.data[0].Irr[0];
                const y = r.data[0].Land[0];
                this.$store.commit('SET_MASK_STATUS',false);
                const sectionCode = this.searchObj.Section.substring(2)
                axios.get(`https://api.nlsc.gov.tw/dmaps/CadasMapImage/${this.searchObj.county}/${sectionCode}/${y.landno}`).then(d => {
                    console.log(d.data)
                    if(d.data){
                        const geoDataL = d.data;
                        pMapBase.RemoveLayer(this.dmapGraphic);
                        const cData1 = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(4326), EPSG.CreateSpatialReference(3857), null, { X: String(geoDataL.lx), Y: String(geoDataL.ly) });
                        const cData2 = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(4326), EPSG.CreateSpatialReference(3857), null, { X: String(geoDataL.rx), Y: String(geoDataL.ry) });
                        this.dmapGraphic = new sg.layers.MapImageLayer();
                        this.dmapGraphic.addImage(new sg.layers.MapImage({ href: `data:image/png;base64,${geoDataL.image.split('"')}`, extent: new sg.geometry.Extent(cData1.X, cData1.Y, cData2.X, cData2.Y) }));
                        pMapBase.AddLayer(this.dmapGraphic);
                        const extent = this.dmapGraphic.extent;
                        pMapBase.ZoomMapTo(extent);
                        ZoomOut();
                        const dmapData = this.baseLayerList.filter(x=>x.Layer_sno === 23)[0];
                        const areaLayer = this.selectLayerOption.areaLayer;
                        this.isSearch = true;
                        this.irrigationLandResult = [
                            {title:'地段',text:this.secCnsText[0].text},
                            {title:'地號',text:y.landno},
                            {title:'公私別',text:y.Own_scro1},
                            {title:'所有權人',text:y.name}
                        ]
                        areaLayer.push({id:dmapData.id,status:true,category:'baseLayer',layerName:dmapData.LayerName,text:dmapData.LayerTitle,list:'areaLayer',opacity:this.mapOpacity})
                        this.$emit("changeVisible",{id:dmapData.id,status:true,category:'baseLayer',layerName:dmapData.LayerName,text:dmapData.LayerTitle,list:'areaLayer'});
                        this.$store.commit('SET_SEARCH_LAYER', dmapData.LayerTitle);
                        this.$store.commit('SET_SELECT_LAYER', {obj:'areaLayer',arr:[...new Set(areaLayer)]});
                        pMapBase.getTransformation().FitLevel();
                        pMapBase.RefreshMap(true);
                        this.$store.commit('SET_DMAP_OBJ',this.dmapGraphic);
                    }else{
                        this.$toast({
                            message: '查無此地號',
                            position: 'center',
                        });
                    }
                }).catch(error => {
                    console.log(error);
                    this.$toast({
                        message: '查無此地號',
                        position: 'center',
                    });
                });
            })
        },
        returnSearch(e){
            this.isSearch = false;
        }
    },
    computed:{
        userAccount () {
            return sessionStorage.getItem('loginUser');
        },
        ...mapState([
            'clearMapDraw',
            'selectLayerOption',
            'mapOpacity'
        ]),
    },
    watch:{
        isClearSearch(){
            this.clearSearch();
        },
        '$store.state.clearMapDraw':{
            handler (value) {
                console.log(value);
            }
        },
    }
}
</script>
<style lang="scss" scoped>
.cadastralResultContent{
    color: $header-black;
    overflow-y: scroll;
    height: 125px;
    &::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track{
        background: #E2E4E4;
    }
    &::-webkit-scrollbar-thumb{
        background: $main-blue;
    }
    li{
        display: flex;
        @include noto-sans-tc-16-regular;
        padding: 6px 0;
        .resultTitle{
            @include noto-sans-tc-16-medium;
            flex: 1;
        }
        span{
            flex: 2;
            justify-content: flex-start;
        }
    }
}
</style>
<style>
.toastTips{
    background-color:#D2E7EB !important;
    color: #1F6473 !important;
}
.cadastralSearch{
    width: 100% !important;
}
</style>