<template>
    <div>
        <div class="coordinateResult">
            <ul class="coordinateResultContent">
                <li><span class="resultTitle">{{stakeSearchText.canalName}}</li>
                <li><span class="resultTitle">{{stakeSearchText.start1}}K+{{stakeSearchText.start2}}</li>
                <li><span class="resultTitle">(末端起算: {{stakeSearchText.end1}}K+{{stakeSearchText.end2}})</li>
            </ul>
        </div>
    </div>
</template>
<script>
export default{
    props:{
        stakeSearchText:{
            type:Object
        }
    }
}
</script>
<style lang="scss" scoped>
.coordinateSearch{
    padding-top: 10px;
}
.coordinateResultContent{
    color: $header-black;
    li{
        display: flex;
        @include noto-sans-tc-16-regular;
        padding: 6px 0;
        text-align: center;
        .resultTitle{
            @include noto-sans-tc-16-medium;
            flex: 1;
        }
        span{
            flex: 2;
            justify-content: flex-start;
        }
    }
}
.inputType{
    margin: 8px 0 !important;
}
.navigationLink{
    float: right;
    color: $dark-blue;
    @include noto-sans-tc-16-regular;
}
</style>