<template>
    <div>
        <div class="coordinateSearch" v-if="!isSearch">
            <SwitchTabs 
                :selected="twdOptions.current"
                :type-list="twdOptions.typeList"
                @current="setCurrent"
            />
            <div class="LngBox vantInput" 
                v-if="twdOptions.current === 0">
                <InputTool
                    :class="{errorType:placeholder.wgsX.error}"
                    class="inputType searchInput"
                    :setError="placeholder.wgsX.error"
                    :placeholder="placeholder.wgsX.text"
                    :errorTip="placeholder.wgsX.errorText"
                    @inputValue="getWgsX"
                />
                <InputTool
                    :class="{errorType:placeholder.wgsY.error}"
                    class="inputType searchInput"
                    :setError="placeholder.wgsY.error"
                    :placeholder="placeholder.wgsY.text"
                    :errorTip="placeholder.wgsY.errorText"
                    @inputValue="getWgsY"
                />
            </div>
            <div class="TWD97Box vantInput" 
                v-if="twdOptions.current === 1">
                <DropdownTitle title="中央經線" :changeText="isClear" @DropdownVal="getDropdownVal" :setFirstOption="true" :options="centralMeridian"/>
                <InputTool
                    :class="{errorType:placeholder.twdX.error}"
                    class="inputType searchInput"
                    :setError="placeholder.twdX.error"
                    :placeholder="placeholder.twdX.text"
                    :errorTip="placeholder.twdX.errorText"
                    @inputValue="getTwdX"
                />
                <InputTool
                    :class="{errorType:placeholder.twdY.error}"
                    class="inputType searchInput"
                    :setError="placeholder.twdY.error"
                    :placeholder="placeholder.twdY.text"
                    :errorTip="placeholder.twdY.errorText"
                    @inputValue="getTwdY"
                />
            </div>
            <SearchBtnBox class="searchBtnBox" @firstEvent="getSearch"  @secondEvent="clearSearch"/>
        </div>
        <div class="coordinateResult" v-if="isSearch">
            <TableController @returnSearch="returnSearch"/>
            <ul class="coordinateResultContent" v-if="twdOptions.current === 0">
                <li><span class="resultTitle">經緯度</span><span>{{this.locate.wgsX}},{{this.locate.wgsY}}</span></li>
                <li><span class="resultTitle">TWD97</span><span>{{this.transCoor.twdX}},{{this.transCoor.twdY}}</span></li>
            </ul>
            <ul class="coordinateResultContent" v-else>
                <li><span class="resultTitle">經緯度</span><span>{{this.transCoor.wgsX}},{{this.transCoor.wgsY}}</span></li>
                <li><span class="resultTitle">TWD97</span><span>{{this.locate.twdX}},{{this.locate.twdY}}</span></li>
            </ul>
            <Button class="navigationLink" name="button-link" text="導航" @click="coordinateNavigation"/>
        </div>
    </div>
</template>
<script>
import SwitchTabs from '~/components/tools/SwitchTabs';
import DropdownTitle from '~/components/tools/DropdownTitle';
import SearchBtnBox from '~/components/model/SearchBtnBox';
import TableController from '~/components/tools/TableController';
import Button from '~/components/tools/Buttons.vue';
import InputTool from '~/components/tools/InputTool';
import { mapState } from 'vuex';
export default {
    components: {
        SwitchTabs,
        DropdownTitle,
        SearchBtnBox,
        TableController,
        Button,
        InputTool
    },
    props:{
        isClearSearch:Boolean
    },
    data:()=>{
        return{
            twdOptions: {
                current: 0,
                typeList: [
                {
                    name: '經緯度',
                    id: 0
                },
                {
                    name: 'TWD97',
                    id: 1
                }
                ]
            },
            centralMeridian:[
                {text:'東經121度',value:0},
                {text:'東經119度',value:1}
            ],
            placeholder:{
                wgsX:{text:'經度(ex:121.5373)',error:false,errorText:''},
                wgsY:{text:'緯度(ex:24.9595)',error:false,errorText:''},
                twdX:{text:'TWD97-X(ex:304294)',error:false,errorText:''},
                twdY:{text:'TWD97-Y(ex:2761366)',error:false,errorText:''}
            },
            isClear:false,
            isSearch: false,
            isErrorType: false,
            drawPoint: '',
            locate: {
                twdX: '',
                twdY: '',
                wgsX: '',
                wgsY: ''
            },
            transCoor: {
                twdX: '',
                twdY: '',
                wgsX: '',
                wgsY: ''
            },
            userPosition:{
                lat:'',
                lon:''
            }
        }
    },
    mounted(){
        proj4.defs('EPSG:4326', '+proj=longlat +datum=WGS84 +no_defs');
        proj4.defs('EPSG:3826', '+proj=tmerc +lat_0=0 +lon_0=121 +k=0.9999 +x_0=250000 +y_0=0 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
        proj4.defs('EPSG:3857', '+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0 +k=1.0 +units=m +nadgrids=@null +wktext  +no_defs');
    },
    methods:{
        getWgsX(e){
            this.locate.wgsX = e.value;
        },
        getWgsY(e){
            this.locate.wgsY = e.value;
        },
        getTwdX(e){
            this.locate.twdX = e.value;
        },
        getTwdY(e){
            this.locate.twdY = e.value;
        },
        setCurrent(e){
            this.twdOptions.current = e;
            if(e === 1){
                this.$emit('setPopupHeight','300px');
            }else{
                this.$emit('setPopupHeight','300px');
            }
        },
        getDropdownVal(e){
            console.log(e);
        },
        getSearch(){
            const status = this.twdOptions.current;
            if(status === 0){
                let isReturn = false;
                const rules1 = new RegExp(/^\d{3}\.?\d{0,4}$/);
                const rules2 = new RegExp(/^\d{2}\.?\d{0,4}$/);
                if(!this.locate.wgsX){
                    this.locate.wgsX = '121.5373';
                    //this.placeholder.wgsX.text='經度為必填(ex:121.5373)';
                    //this.placeholder.wgsX.error=true;
                    //isReturn = true;
                }else if(!rules1.test(this.locate.wgsX)){
                    this.placeholder.wgsX.errorText='輸入格式錯誤(ex:121.5373)';
                    this.placeholder.wgsX.error=true;
                    isReturn = true;
                }
                if(!this.locate.wgsY){
                    this.locate.wgsY = '24.9595';
                }else if(!rules2.test(this.locate.wgsY)){
                    this.placeholder.wgsY.errorText='輸入格式錯誤(ex:24.9595)';
                    this.placeholder.wgsY.error=true;
                    isReturn = true;
                }
                if(isReturn){
                    return;
                }
            }else if(status === 1){
                let isReturn = false;
                const rules1 = new RegExp(/^\d{6}$/);
                const rules2 = new RegExp(/^\d{7}$/);
                if(!this.locate.twdX){
                    this.locate.twdX = '304294'
                }else if(!rules1.test(this.locate.twdX)){
                    this.placeholder.twdX.errorText='輸入格式錯誤(ex:304294)';
                    this.placeholder.twdX.error=true;
                    isReturn = true;
                }
                if(!this.locate.twdY){
                    this.locate.twdY = '2761366'
                }else if(!rules2.test(this.locate.twdY)){
                    this.placeholder.twdY.errorText='輸入格式錯誤(ex:2761366)';
                    this.placeholder.twdY.error=true;
                    isReturn = true;
                }
                if(isReturn){
                    return;
                }
            }
            this.isSearch = true;
            this.$emit('setPopupResult',true);
            this.$emit('setPopupHeight','200px');
            navigator.geolocation.getCurrentPosition(this.getUserPosition, this.getUserPositionError,{enableHighAccuracy:true});
            if(status === 0){
                this.locate.twdX = '';
                this.locate.twdY = '';
                this.transCoor.wgsX = '';
                this.transCoor.wgsY = '';
                pMapBase.drawingGraphicsLayer.remove(this.drawPoint);

                const EPSG4326 = new proj4.Proj('EPSG:4326'); // WGS84
                const EPSG3826 = new proj4.Proj('EPSG:3826'); // TWD97
                const cData = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(4326), EPSG.CreateSpatialReference(3857), null, { X: this.locate.wgsX, Y: this.locate.wgsY });
            
                pMapBase.ZoomMapTo(new sg.geometry.Point(cData.X, cData.Y));
                //ZoomOut();
                ZoomLevel(5);
                pMapBase.getTransformation().FitLevel();
                pMapBase.RefreshMap(true);
                // 畫點
                this.drawPoint = sg.Graphic.createFromGeometry(new sg.geometry.Point(cData.X, cData.Y), { markerurl: require('~/assets/img/icon/navigation.svg'), markersize: 50, markercolor: new sg.Color(25, 112, 93, 1) });
                pMapBase.drawingGraphicsLayer.add(this.drawPoint);
                this.$store.commit('SET_MAP_OBJ',this.drawPoint);
                const tData = proj4(EPSG4326, EPSG3826, [this.locate.wgsX, this.locate.wgsY]);
                this.transCoor.twdX = tData[0].toFixed(2);
                this.transCoor.twdY = tData[1].toFixed(2);
            }else{
                this.locate.wgsX = '';
                this.locate.wgsY = '';
                this.transCoor.twdX = '';
                this.transCoor.twdY = '';
                pMapBase.drawingGraphicsLayer.remove(this.drawPoint);

                const EPSG3826 = new proj4.Proj('EPSG:3826'); // TWD97
                const EPSG4326 = new proj4.Proj('EPSG:4326'); // WGS84

                const cData = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(3826), EPSG.CreateSpatialReference(3857), null, { X: this.locate.twdX, Y: this.locate.twdY });

                // 定位
                pMapBase.ZoomMapTo(new sg.geometry.Point(cData.X, cData.Y));
                //ZoomOut();
                pMapBase.getTransformation().FitLevel();
                pMapBase.RefreshMap(true);
                ZoomLevel(5);
                // 畫點
                this.drawPoint = sg.Graphic.createFromGeometry(new sg.geometry.Point(cData.X, cData.Y), { markerurl: require('~/assets/img/icon/navigation.svg'), markersize: 50, markercolor: new sg.Color(25, 112, 93, 1) });
                pMapBase.drawingGraphicsLayer.add(this.drawPoint);
                this.$store.commit('SET_MAP_OBJ',this.drawPoint);

                // 轉WGS84
                const tData = proj4(EPSG3826, EPSG4326, [this.locate.twdX, this.locate.twdY]);
                this.transCoor.wgsX = tData[0].toFixed(4);
                this.transCoor.wgsY = tData[1].toFixed(4);

                
            }
        },
        coordinateNavigation(){
            const x = this.twdOptions.current === 0 ? this.locate.wgsX : this.transCoor.wgsX;
            const y = this.twdOptions.current === 0 ? this.locate.wgsY : this.transCoor.wgsY;
            const end = `${y},${x}`;
            const start = `${this.userPosition.lat},${this.userPosition.lon}`;
            const url = `https://www.google.com.tw/maps/dir/${start}/${end}`;
            window.open(url);
        },
        clearSearch(e){
            this.locate.twdX = '';
            this.locate.twdY = '';
            this.locate.wgsX = '';
            this.locate.wgsY = '';
            this.isSearch = false;
            pMapBase.drawingGraphicsLayer.remove(this.drawPoint);
        },
        returnSearch(e){
            this.isSearch = false;
            this.$emit('setPopupHeight','300px');
            this.$emit('setPopupResult',false);
        },
        getUserPosition(position){
            this.userPosition.lat=position.coords.latitude;
            this.userPosition.lon=position.coords.longitude;
        },
        getUserPositionError(e){
            console.log(e)
        }
    },
    computed:{
        ...mapState([
            'clearMapDraw',
        ]),
    },
    watch:{
        'locate.wgsX':{
            handler(n){
                this.placeholder.wgsX.error = false;
                this.placeholder.wgsX.errorText = '';
            }
        },
        'locate.wgsY':{
            handler(n){
                this.placeholder.wgsY.error = false;
                this.placeholder.wgsY.errorText = '';
            }
        },
        'locate.twdX':{
            handler(n){
                this.placeholder.twdX.error = false;
                this.placeholder.twdX.errorText = '';
            }
        },
        'locate.twdY':{
            handler(n){
                this.placeholder.twdY.error = false;
                this.placeholder.twdY.errorText = '';
            }
        },
        isClearSearch(){
            this.clearSearch();
        },
        '$store.state.clearMapDraw':{
            handler (value) {
                console.log(value);
            }
        },
    }
}
</script>
<style lang="scss" scoped>
.coordinateSearch{
    padding-top: 10px;
}
.coordinateResultContent{
    color: $header-black;
    li{
        display: flex;
        @include noto-sans-tc-16-regular;
        padding: 6px 0;
        .resultTitle{
            @include noto-sans-tc-16-medium;
            flex: 1;
        }
        span{
            flex: 2;
            justify-content: flex-start;
        }
    }
}
.navigationLink{
    float: right;
}
</style>