<template>
    <div>
        <TreeCheckBox 
            ListTitle="農田水利灌溉基礎圖資" 
            type="irrigation" 
            :selectOption="surfaceObj1"
            :setOpen="surfaceOpen"
            @changeVisible="changeVisible"
        />
        <TreeCheckBox2
            ListTitle="影像圖資" 
            type="imageLayer" 
            @changeVisible="changeVisible"
            :setOpen="imageOpen"
            :isSingle="true"
            :selectOption="imageLayerObj"
        />
        <TreeCheckBox 
            ListTitle="行政區界與相關圖資" 
            type="areaLayer" 
            :selectOption="areaLayerObj" 
            :setOpen="areaOpen"
            @changeVisible="changeVisible"
        />
        <TreeCheckBox
            ListTitle="自訂圖資" 
            type="userLayer"
            :selectOption="surfaceObj2"
            :setOpen="surfaceOpen"
            @changeVisible="changeVisible"
            :bottomLine="false"
        />
        <div class="sliderBox">
            <div class="sliderTitle">透明度設定</div>
            <div class="sliderBar">
                <van-slider v-model="value" bar-height="7px" active-color="#3E889F">
                    <template #button>
                        <div class="custom-button">{{ value }}</div>
                    </template>
                </van-slider>
            </div>
        </div>
    </div>
</template>
<script>
import TreeCheckBox from '~/components/model/TreeCheckBox';
import TreeCheckBox2 from '~/components/model/TreeCheckBox2';
import { getLayer,getPWALayer } from '~/api/data';
import { mapState } from 'vuex';
export default {
    components: {
        TreeCheckBox,
        TreeCheckBox2
    },
    props:{
        baseLayerList:{
            type:Object
        }
    },
    data:()=>{
        return{
            value: 100,
            surfaceObj:[],
            imageLayerObj:[],
            areaLayerObj:[],
            sec5CovObj:[],

            surfaceObj1:[],
            surfaceObj2:[],

            surfaceOpen:[],
            areaOpen:[],
            setListObj:{}
        }
    },
    mounted(){
        this.setListObj = this.baseLayerList;
        this.filterSetListObj(this.baseLayerList,true);
        this.value = this.mapOpacity;
    },
    methods:{
        filterSetListObj(r,t){
            const imageLayerArr = r.filter(x=>x.PWACategory === 2);
            const areaLayerArr = r.filter(x=>x.PWACategory === 3);
            const surfaceLayerArr = this.surfaceList.filter(x=>x.LayerTitle !== '地籍圖');
            this.surfaceObj = surfaceLayerArr.map(x => {
                const result = {
                    text:x.LayerTitle,
                    id:x.id,
                    type:'square',
                    category:'surfaceList',
                    layerName:x.LayerName,
                    list:'surfaceLayer'
                }
                return result;
            });
            const pointObj = this.pointList.map(x => {
                const result = {
                    text:x.LayerTitle,
                    id:x.id,
                    type:x.LayerName === 'shpVec' ? 'square' : 'icon',
                    category:'pointList',
                    layerName:x.LayerName,
                    list:'surfaceLayer'
                }
                return result;
            });
            this.surfaceObj = this.surfaceObj.concat(pointObj);
            const lineObj = this.lineList.map(x => {
                const result = {
                    text:x.LayerTitle,
                    id:x.id,
                    type:'line',
                    category:'lineList',
                    layerName:x.LayerName,
                    list:'surfaceLayer'
                }
                return result;
            });
            this.surfaceObj = this.surfaceObj.concat(lineObj);
            this.surfaceObj1 = this.surfaceObj.filter(x=>x.layerName !== "shpVec");
            this.surfaceObj2 = this.surfaceObj.filter(x=>x.layerName === "shpVec");
            if(t){
                this.imageLayerObj = imageLayerArr.map(x=>{
                    const result = {
                        text:x.LayerTitle,
                        id:x.Layer_sno,
                        type:'none',
                        category:'baseLayer',
                        layerName:x.LayerName,
                        list:'imageLayer'
                    }
                    return result;
                })
            }

            const areaArrObj = areaLayerArr.map(x=>{
                const result = {
                    text:x.LayerTitle,
                    id:x.Layer_sno,
                    type:'none',
                    category:'baseLayer',
                    layerName:x.LayerName,
                    list:'areaLayer'
                }
                return result;
            });
            if(t){
                areaArrObj.sort((a, b) => { return a.LayerIndex > b.LayerIndex ? 1 : -1; });
                this.areaLayerObj = this.areaLayerObj.concat(areaArrObj);
            }
            this.surfaceOpen = this.selectLayerOption.surfaceLayer.map(x=>x.id);
            const sec5CovData = this.selectLayerOption.surfaceLayer.filter(x=>x.list==='areaLayer');
            const sec5CovOpen = sec5CovData.map(x=>x.id);
            this.areaOpen = this.selectLayerOption.areaLayer.map(x=>x.id);
            this.areaOpen = this.areaOpen.concat(sec5CovOpen);
        },
        filterLayerObj(o,e){
            let layer = this.selectLayerOption[o];
            if(o === 'imageLayer'){
                layer=[e];
            }else{
                if(layer.filter(x=>x.id === e.id).length < 1){
                    layer.push(e);
                }
            }
            return layer;
        },
        changeVisible(e){
            e.opacity = this.value;
            if(e.status){
                if(e.list === 'surfaceLayer' || e.category === 'surfaceList'){
                    const selectSurfaceLayerObj = this.filterLayerObj('surfaceLayer',e);
                    this.$store.commit('SET_SELECT_LAYER', {obj:'surfaceLayer',arr:[...new Set(selectSurfaceLayerObj)]})
                    this.$store.commit('SET_SEARCH_LAYER', e.text);
                }else if(e.list === 'imageLayer'){
                    const selectImageLayerObj = this.filterLayerObj('imageLayer',e);
                    this.$store.commit('SET_SELECT_LAYER', {obj:'imageLayer',arr:[...new Set(selectImageLayerObj)]});
                }else if(e.list === 'areaLayer'){
                    if(e.text === '國土測繪中心地籍圖磚'){
                        this.$store.commit('SET_SEARCH_LAYER', e.text);
                    }
                    const selectAreaLayerObj = this.filterLayerObj('areaLayer',e);
                    this.$store.commit('SET_SELECT_LAYER', {obj:'areaLayer',arr:[...new Set(selectAreaLayerObj)]});
                }
            }else{
                if(e.list === 'surfaceLayer' || e.category === 'surfaceList'){
                    const selectSurfaceLayerObj = this.selectLayerOption.surfaceLayer
                    const index = selectSurfaceLayerObj.findIndex(x=>x.id === e.id);
                    selectSurfaceLayerObj.splice(index, 1);
                    this.$store.commit('SET_SELECT_LAYER', {obj:'surfaceLayer',arr:[...new Set(selectSurfaceLayerObj)]});
                    this.$store.commit('DEL_SEARCH_LAYER', e.text);
                }else if(e.list === 'imageLayer'){
                    const selectImageLayerObj = this.filterLayerObj('imageLayer',e);
                    this.$store.commit('SET_SELECT_LAYER', {obj:'imageLayer',arr:[...new Set(selectImageLayerObj)]});
                }else if(e.list === 'areaLayer'){
                    const selectAreaLayerObj = this.selectLayerOption.areaLayer
                    const index = selectAreaLayerObj.findIndex(x=>x.id === e.id);
                    if(e.text === '國土測繪中心地籍圖磚'){
                        this.$store.commit('DEL_SEARCH_LAYER', e.text);
                    }
                    selectAreaLayerObj.splice(index, 1);
                    this.$store.commit('SET_SELECT_LAYER', {obj:'areaLayer',arr:[...new Set(selectAreaLayerObj)]});
                }
            }
            this.$emit('changeVisible', e);
        }
    },
    computed:{
        ...mapState([
            'selectLayerOption',
            'surfaceList',
            'pointList',
            'lineList',
            'mapOpacity'
        ]),
        imageOpen(){
            return this.selectLayerOption.imageLayer.map(x=>x.id);
        }
    },
    watch:{
        value(n){
            this.$store.commit('SET_MAP_OPACITY',n);
            this.$emit("updateOpacity",n);
        },
        '$store.state.surfaceList':{
            handler(n){
                if(this.setListObj.data.length>0){
                    this.filterSetListObj(this.setListObj,false);
                }
            }
        }
    }
}
</script>
<style lang="scss">
.sliderBox{
    position: fixed;
    bottom:50px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    .sliderTitle{
        min-width: 120px;
    }
    .sliderBar{
        width: calc( 100vw - 160px );
        padding-top: 7px
    }
}
.custom-button {
    width: 26px;
    color: #fff;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    background-color: #3E889F;
    border-radius: 100px;
}
</style>