<template>
    <div>
        <div class="coordinateResult">
            <ul class="coordinateResultContent">
                <li><span class="resultTitle">經緯度</span><span>{{this.mapCoordinate.locate.X}},{{this.mapCoordinate.locate.Y}}</span></li>
                <li><span class="resultTitle">TWD97</span><span>{{this.mapCoordinate.transCoor.X}},{{this.mapCoordinate.transCoor.Y}}</span></li>
            </ul>
            <Button class="navigationLink" name="button-link" text="導航" @click="coordinateNavigation"/>
        </div>
    </div>
</template>
<script>
import Button from '~/components/tools/Buttons.vue';
export default {
    components:{
        Button,
    },
    props:{
        mapCoordinate:{
            type:Object,
            default:{
                locate: { X: "", Y: "" }, 
                transCoor: { X: "", Y: "" }
            }
        },
        userPosition:{
            type:Object
        },
    },
    data:()=>{
        return{
            twdOptions: {
                current: 0,
                typeList: [
                {
                    name: '經緯度',
                    id: 0
                },
                {
                    name: 'TWD97',
                    id: 1
                }
                ]
            },
            centralMeridian:[
                {text:'東經121度',value:0},
                {text:'東經119度',value:1}
            ],
            isClear:false,
            isSearch: false,
            drawPoint: '',
            locate: {
                twdX: '',
                twdY: '',
                wgsX: '',
                wgsY: ''
            },
            transCoor: {
                twdX: '',
                twdY: '',
                wgsX: '',
                wgsY: ''
            },
            userPosition:{
                lat:'',
                lon:''
            }
        }
    },
    mounted(){
        proj4.defs('EPSG:4326', '+proj=longlat +datum=WGS84 +no_defs');
        proj4.defs('EPSG:3826', '+proj=tmerc +lat_0=0 +lon_0=121 +k=0.9999 +x_0=250000 +y_0=0 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
        proj4.defs('EPSG:3857', '+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0 +k=1.0 +units=m +nadgrids=@null +wktext  +no_defs');
    },
    methods:{
        setCurrent(e){
            this.twdOptions.current = e;
        },
        getSearch(){
            this.isSearch = true;
            this.$emit('setPopupHeight','200px');
            const status = this.twdOptions.current;
            if(status === 0){
                this.locate.twdX = '';
                this.locate.twdY = '';
                this.transCoor.wgsX = '';
                this.transCoor.wgsY = '';
                pMapBase.drawingGraphicsLayer.remove(this.drawPoint);

                const EPSG4326 = new proj4.Proj('EPSG:4326'); // WGS84
                const EPSG3826 = new proj4.Proj('EPSG:3826'); // TWD97
                const cData = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(4326), EPSG.CreateSpatialReference(3857), null, { X: this.locate.wgsX, Y: this.locate.wgsY });
                console.log(cData);
                pMapBase.ZoomMapTo(new sg.geometry.Point(cData.X, cData.Y));
                //ZoomOut();
                pMapBase.getTransformation().FitLevel();
                pMapBase.RefreshMap(true);
                // 畫點
                this.drawPoint = sg.Graphic.createFromGeometry(new sg.geometry.Point(cData.X, cData.Y), { markerurl: require('~/assets/img/icon/navigation.svg'), markersize: 50, markercolor: new sg.Color(25, 112, 93, 1) });
                pMapBase.drawingGraphicsLayer.add(this.drawPoint);
                const tData = proj4(EPSG4326, EPSG3826, [this.locate.wgsX, this.locate.wgsY]);
                this.transCoor.twdX = tData[0].toFixed(2);
                this.transCoor.twdY = tData[1].toFixed(2);
            }else{
                this.locate.wgsX = '';
                this.locate.wgsY = '';
                this.transCoor.twdX = '';
                this.transCoor.twdY = '';
                pMapBase.drawingGraphicsLayer.remove(this.drawPoint);

                const EPSG3826 = new proj4.Proj('EPSG:3826'); // TWD97
                const EPSG4326 = new proj4.Proj('EPSG:4326'); // WGS84

                const cData = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(3826), EPSG.CreateSpatialReference(3857), null, { X: this.locate.twdX, Y: this.locate.twdY });
                console.log(cData);
                // 定位
                pMapBase.ZoomMapTo(new sg.geometry.Point(cData.X, cData.Y));
                //ZoomOut();
                pMapBase.getTransformation().FitLevel();
                pMapBase.RefreshMap(true);
                // 畫點
                this.drawPoint = sg.Graphic.createFromGeometry(new sg.geometry.Point(cData.X, cData.Y), { markerurl: require('~/assets/img/icon/navigation.svg'), markersize: 50, markercolor: new sg.Color(25, 112, 93, 1) });
                pMapBase.drawingGraphicsLayer.add(this.drawPoint);

                // 轉WGS84
                const tData = proj4(EPSG3826, EPSG4326, [this.locate.twdX, this.locate.twdY]);
                this.transCoor.wgsX = tData[0].toFixed(4);
                this.transCoor.wgsY = tData[1].toFixed(4);
            }
        },
        coordinateNavigation(){
            const x = this.mapCoordinate.locate.X;
            const y = this.mapCoordinate.locate.Y;
            const end = `${y},${x}`;
            const start = `${this.userPosition.lat},${this.userPosition.lon}`;
            const url = `https://www.google.com.tw/maps/dir/${start}/${end}`;
            window.open(url);
        },
        clearSearch(e){
            console.log(e);
        },
        returnSearch(e){
            this.isSearch = false;
            this.$emit('setPopupHeight','200px');
        },
    }
}
</script>
<style lang="scss" scoped>
.coordinateSearch{
    padding-top: 10px;
}
.coordinateResultContent{
    color: $header-black;
    li{
        display: flex;
        @include noto-sans-tc-16-regular;
        padding: 6px 0;
        .resultTitle{
            @include noto-sans-tc-16-medium;
            flex: 1;
        }
        span{
            flex: 2;
            justify-content: flex-start;
        }
    }
}
.inputType{
    margin: 8px 0 !important;
}
.navigationLink{
    float: right;
}
</style>