<template>
    <div>
        <NavTabs 
            :type-list="options.typeList"
            :selected="options.current"
            @current="getCurrent"
        />
        <div class="measurementText">{{measurementText}}</div>
        <div class="flexBox flex-center">
            <Button text="完成" @click="getMeasurement"/>
        </div>
    </div>
</template>
<script>
import NavTabs from '~/components/tools/NavTabs';
import Button from '~/components/tools/Buttons.vue';
import { mapState } from 'vuex';
export default {
    components: {
        NavTabs,
        Button
    },
    props:{
        mapObj:{
            type:Object
        },
        mapAction:{
            type:String
        }
    },
    data:()=>{
        return{
            options: {
                current: 0,
                typeList: [
                {
                    name: '距離量測',
                    id: 0
                },
                {
                    name: '面積量測',
                    id: 1
                }
                ]
            },
            measurementText:'請點擊圖面至少兩點，以繪製線段',
            current:0
        }
    },
    mounted(){
        window.addEventListener(this.deviceEvent, e => {
            if(e.target.tagName === 'svg'){
                this.measurementText = '點擊完成查看測量結果';
            };
        });
    },
    methods:{
        getCurrent(e){
            this.current = e;
            if(e === 0){
                this.measurementText = '請點擊圖面至少兩點，以繪製線段';
            }else if(e === 1){
                this.measurementText = '請點擊圖面至少三點，以繪製多邊形';
            }
            this.$emit("getCurrent",e)
        },
        getMeasurement(e){
            this.$emit('getMeasurement',e);
        }
    },
    computed:{
        ...mapState([
            'deviceEvent'
        ]),
    },
    watch:{
        'mapObj.lineM': {
            handler (n) {
                if(n){
                    this.measurementText =`總長度:${this.GET_COMMA(n)}公尺`
                }
            }
        },
        "mapObj.surM": {
            handler (n) {
                if(n){
                    this.measurementText =`面積:${this.GET_COMMA(n)}平方公尺`
                }
            }
        },
    }
}
</script>
<style lang="scss">
.measurementText{
    line-height: 23px;
    @include noto-sans-tc-16-regular;
    color: #494949;
    text-align:center;
    /* Inside auto layout */
    margin: 5px 0px;
}
</style>