<template>
    <div>
        <div class="searchBox" v-show="!isSearch">
            <DropdownTitle title="管理處" starSign="*" :changeText="isClearIa" @DropdownVal="getIaVal" :options="iaList" :isErrorType="errorType.Ia" :setFirstOption="iaList.length === 1"/>
            <DropdownTitle title="工作站" :changeText="isClearStn" @DropdownVal="getStnVal" :options="stnList" :isErrorType="errorType.Stn" :setFirstOption="stnList.length === 1"/>
            <Input placeholder="請輸入渠道關鍵字" :changeText="isClearText" @inputObj="getInputValue" :searchInput="searchList" :addText="canalText" :setError="errorType.Text" errorTip="請正確輸入渠道關鍵字"/>
            <SearchBtnBox @firstEvent="getSearch" @secondEvent="clearSearch"/>
        </div>
        <div class="searchResultBox" v-show="isSearch">
            <TableController @returnSearch="returnSearch"/>
            <ListTool :options="resultList">
            <ToggleList @toggleStatus="getToggleStatus"/>
        </div>
    </div>
</template>
<script>
import DropdownTitle from '~/components/tools/DropdownTitle';
import Input from '~/components/tools/InputTool';
import SearchBtnBox from '~/components/model/SearchBtnBox';
import TableController from '~/components/tools/TableController';
import ListTool from '~/components/tools/List';
import ToggleList from '~/components/tools/ToggleList';
import { getIas,getStns,getCanal } from '~/api/data';
import { mapState } from 'vuex';
export default {
    components: {
        DropdownTitle,
        SearchBtnBox,
        ListTool,
        TableController,
        ToggleList,
        Input
    },
    props:{
        isClearSearch:Boolean
    },
    data:()=>{
        return{
            isClearIa : false,
            isClearStn : false,
            isClearText: false,
            isSearch: false,
            channel: '',
            pageNum: 1,
            pageDefault: 4,
            options:{
                title:['管理處','管理分處','工作站'],
                data:[
                    ['嘉南','新化區管理處','公塭站1'],
                    ['嘉南','新化區管理處','公塭站2'],
                    ['嘉南','新化區管理處','公塭站3'],
                    ['嘉南','新化區管理處','公塭站4'],
                    ['嘉南','新化區管理處','公塭站5'],
                    ['嘉南','新化區管理處','公塭站6'],
                    ['嘉南','新化區管理處','公塭站7'],
                    ['嘉南','新化區管理處','公塭站8'],
                    ['嘉南','新化區管理處','公塭站9'],
                    ['嘉南','新化區管理處','公塭站10'],
                    ['嘉南','新化區管理處','公塭站11'],
                    ['嘉南','新化區管理處','公塭站12']
                ]
            },
            iaList:[],
            stnList:[],
            searchArr:[],
            searchList:[],
            searchObj:{
                Ia:'',
                Stn:'',
                Text:'',
                FID:''
            },
            filterBox: false,
            filterList: [],
            resultList: [],
            //渠道繪製data
            // * 渠道總長
            canalLength: '',
            // * 點擊渠道 輸入框文字
            // * 反向
            isReverse: false,
            // * 渠道圖形
            canalGraphic: '',
            // * 樁號範圍
            range1: '',
            range2: '',
            // * icon
            iconStart: '',
            icon1: '',
            icon2: '',
            iconEnd: '',
            radius: '',
            // * 所選圖資
            nowLayer: '',
            engName: '',
            myTableData: {
                head: [],
                body: []
            },
            // * 預設半徑 = 10
            setRadius: '10',
            errorType:{
                Ia:false,
                Stn:false,
                Text:false
            }
        }
    },
    mounted(){
        getIas().then(r => {
            const data = r.data;
            data.forEach(item => {
                this.iaList.push({text:item.Ia_cns,value:item.Ia});
            });
        }).catch(e => {
            console.log(e);
        })
    },
    methods:{
        clearSearch(){
            this.isClearIa = true;
            this.isClearStn = true;
            this.isClearText = true;
            this.isSearch = false;
            this.clearObj(this.searchObj);
            pMapBase.drawingGraphicsLayer.remove(this.canalGraphic);
            pMapBase.drawingGraphicsLayer.remove(this.iconStart);
            pMapBase.drawingGraphicsLayer.remove(this.icon1);
            pMapBase.drawingGraphicsLayer.remove(this.icon2);
            pMapBase.drawingGraphicsLayer.remove(this.iconEnd);
            this.iconStart = '';
        },
        clearObj(obj){
            if(this.iaList.length !== 1){
                obj.Ia = ''
            }
            if(this.stnList.length !== 1){
                obj.Stn = ''
            }
            obj.Text = '';
            obj.FID = ''
        },
        getSearch(){
            let isReturn = false;
            if(!this.searchObj.Ia){
                this.errorType.Ia = true;
                isReturn = true;
            }
            if(!this.searchObj.Text){
                this.errorType.Text = true;
                isReturn = true;
            }
            if(isReturn){
                return;
            }
            this.isSearch = true;
            getCanal({Ia:this.searchObj.Ia,FID:this.searchObj.FID}).then(r=>{
                const data = r.data[0];
                this.resultList = [
                    {title:'管理處',text:data.Ia_cns},
                    {title:'管理分處',text:data.Mng_cns},
                    {title:'工作站',text:data.Stn_cns},
                    {title:'渠道名稱',text:data.Sys_cns},
                    {title:'渠道種類',text:data.Sys_cls},
                    {title:'長度(m)',text:data.Length},
                    {title:'渠道屬性1',text:data.Sys_atb_1E},
                    {title:'渠道屬性2',text:data.Sys_atb_2E},
                    {title:'渠道屬性3',text:data.Sys_atb_3E}
                ]
                return r.data[0];
            }).then((jsonData) => {
                // 預設值
                const geometry = sg.geometry.Geometry.fromGeoJson(jsonData.GEOMETRY);
                this.canalLength = geometry.length.toFixed(2);

                this.range1 = 0;
                this.range2 = parseFloat(this.canalLength);
                if (this.radius === '') { this.radius = 10; }

                // 先清除之前的
                pMapBase.drawingGraphicsLayer.remove(this.canalGraphic);
                pMapBase.drawingGraphicsLayer.remove(this.iconStart);
                pMapBase.drawingGraphicsLayer.remove(this.icon1);
                pMapBase.drawingGraphicsLayer.remove(this.icon2);
                pMapBase.drawingGraphicsLayer.remove(this.iconEnd);
                this.iconStart = '';
                this.icon1 = '';
                this.icon2 = '';
                this.iconEnd = '';

                // 畫渠道圖
                this.canalGraphic = sg.Graphic.createFromGeometry(geometry, { linewidth: 5, linecolor: new sg.Color(255, 255, 0, 0.6) });
                pMapBase.drawingGraphicsLayer.add(this.canalGraphic);

                // 定位
                let point1;
                let point2;
                let xMin;
                let xMax;
                let yMin;
                let yMax;

                if (this.isReverse === false) {
                // 沒勾反向
                    point1 = geometry.getPoint(this.range1);
                    point2 = geometry.getPoint(this.range2);
                } else {
                // 有勾反向
                    point1 = geometry.getPoint(this.canalLength - this.range1);
                    point2 = geometry.getPoint(this.canalLength - this.range2);
                }

                if (point1.x < point2.x) {
                    xMin = point1.x;
                    xMax = point2.x;
                } else {
                    xMin = point2.x;
                    xMax = point1.x;
                }

                if (point1.y < point2.y) {
                    yMin = point1.y;
                    yMax = point2.y;
                } else {
                    yMin = point2.y;
                    yMax = point1.y;
                }

                // 畫icon
                const start = geometry.getPoint(0);
                const end = geometry.getPoint(this.canalLength);

                if (this.range1 !== 0 && this.range2 !== parseFloat(this.canalLength)) {
                    this.iconStart = sg.Graphic.createFromGeometry(new sg.geometry.Point(start.x, start.y), { markerurl: require('~/assets/img/marker-big.svg'), markersize: 25, markercolor: new sg.Color(25, 112, 93, 1), text: '起始點', textsize: 14, textoffset: [0, -10] });
                    this.iconEnd = sg.Graphic.createFromGeometry(new sg.geometry.Point(end.x, end.y), { markerurl: require('~/assets/img/marker-big.svg'), markersize: 25, markercolor: new sg.Color(25, 112, 93, 1), text: '結束點', textsize: 14, textoffset: [0, -10] });

                    pMapBase.drawingGraphicsLayer.add(this.iconStart);
                    pMapBase.drawingGraphicsLayer.add(this.iconEnd);
                }

                if (this.range1 !== 0 && this.range2 === parseFloat(this.canalLength)) {
                    this.iconStart = sg.Graphic.createFromGeometry(new sg.geometry.Point(start.x, start.y), { markerurl: require('~/assets/img/marker-big.svg'), markersize: 25, markercolor: new sg.Color(25, 112, 93, 1), text: '起始點', textsize: 14, textoffset: [0, -10] });

                    pMapBase.drawingGraphicsLayer.add(this.iconStart);
                    }
                    if (this.range1 === 0 && this.range2 !== parseFloat(this.canalLength)) {
                    this.iconEnd = sg.Graphic.createFromGeometry(new sg.geometry.Point(end.x, end.y), { markerurl: require('~/assets/img/marker-big.svg'), markersize: 25, markercolor: new sg.Color(25, 112, 93, 1), text: '結束點', textsize: 14, textoffset: [0, -10] });

                    pMapBase.drawingGraphicsLayer.add(this.iconEnd);
                }

                this.icon1 = sg.Graphic.createFromGeometry(new sg.geometry.Point(point1.x, point1.y), { markerurl: require('~/assets/img/marker-big.svg'), markersize: 25, markercolor: new sg.Color(25, 112, 93, 1), text: `0K+${this.range1}`, textsize: 14, textoffset: [0, -10] });
                this.icon2 = sg.Graphic.createFromGeometry(new sg.geometry.Point(point2.x, point2.y), { markerurl: require('~/assets/img/marker-big.svg'), markersize: 25, markercolor: new sg.Color(25, 112, 93, 1), text: `0K+${this.range2}`, textsize: 14, textoffset: [0, -12] });
                pMapBase.drawingGraphicsLayer.add(this.icon1);
                pMapBase.drawingGraphicsLayer.add(this.icon2);

                // 有寫樁號定位範圍
                if (this.range1 !== '' && this.range2 !== '') {
                    const extent = new sg.geometry.Extent();
                    extent.xmax = xMax;
                    extent.xmin = xMin;
                    extent.ymax = yMax-100;
                    extent.ymin = yMin-100;
                    pMapBase.ZoomMapTo(extent);
                    //ZoomOut();
                    ZoomLevel(-2);
                    pMapBase.getTransformation().FitLevel();
                    pMapBase.RefreshMap(true);
                }
                
                // 沒寫樁號定位範圍
                if (this.range1 === '' && this.range2 === '') {
                    const extent = geometry.extent;
                    pMapBase.ZoomMapTo(extent);
                    //ZoomOut();
                    ZoomLevel(-2);
                    pMapBase.getTransformation().FitLevel();
                    pMapBase.RefreshMap(true);
                }
                const mapObj = {obj:[this.canalGraphic,this.iconStart,this.icon1,this.icon2,this.iconEnd]}
                this.$store.commit('SET_MAP_OBJ',mapObj);
            }).catch(e=>{
                console.log(e);
            })
        },
        getIaVal(e){
            if(e){
                this.isClearIa = false;
                this.isClearStn = false;
                this.isClearText = true;
                this.errorType.Ia = false;
                this.searchObj.Ia = e;
                getStns(e).then(r => {
                    const data = r.data;
                    this.stnList = [];
                    this.isClearStn = true;
                    data.forEach(item => {
                        this.stnList.push({text:item.Stn_cns,value:item.Mng+'_'+item.Stn});
                    });
                }).catch(e => {
                    console.log(e);
                })

                getCanal({Ia:this.searchObj.Ia}).then(r=>{
                    const obj = this.searchObj;
                    const arr = r.data.filter(x=>{
                        return x.Ia === obj.Ia;
                    });
                    this.searchArr = arr;
                    const arr1 = arr.map(x=>{
                        return {text:x.Sys_cns,fid:x.FID}
                    });
                    this.searchList = arr1;
                }).catch(e=>{
                    console.log(e);
                })
            }
        },
        getStnVal(e){
            if(e){
                this.isClearStn = false;
                this.isClearText = true;
                this.errorType.Stn = false;
                this.searchObj.Stn = e;
                const mng = e.split("_")[0];
                const stn = e.split("_")[1];
                const arr = this.searchArr.filter(x=>{
                    return x.Mng === mng && x.Stn === stn
                });
                const arr1 = arr.map(x=>{
                    return {text:x.Sys_cns,fid:x.FID}
                });
                this.searchList = arr1;
            }
        },
        returnSearch(e){
            this.isSearch = false;
            this.$emit('setPopupHeight','271px');
            this.$emit("setPopupTable",false);
            this.pageDefault = 4
        },
        getPageNum(e){
            if(e){
                this.pageNum = e;
            }
        },
        getToggleStatus(e){
            if(this.pageDefault === 10){
                this.pageDefault = 4
                this.$emit("setPopupHeight","271px");
                this.$emit("setPopupTable",false);
            }else{
                this.pageDefault = 10
                this.$emit("setPopupHeight","427px");
                this.$emit("setPopupTable",true);
            }
        },
        getInputValue(e){
            if(e.text){
                this.errorType.Text = false;
                this.isClearText = false;
            };
            this.searchObj.Text = e.text;
            this.searchObj.FID = e.fid;
        }
    },
    computed:{
        maxTablePage(){
            return Math.ceil(this.options.data.length / this.pageDefault);
        },
        ...mapState([
            'clearMapDraw',
        ]),
    },
    watch:{
        isClearSearch(){
            this.clearSearch();
        },
        '$store.state.clearMapDraw':{
            handler (value) {
                console.log(value);
            }
        },
    }
}
</script>