<template>
  <div class="wrapper mapWrap">
    <SliderButtonBox 
      v-show="isSliderButton"
      :isClose="popupStatus"
      :tabbarStatus="tabbarStatus"
      @searchStatus="getSearchStatus"
    />
    <Tabbar 
      :clearTabbarStatus="!popupStatus"
      :layerLoading="layerLoading"
      @tabbarStatus="getTabbarStatus"
    />
    <FlatButtonBox
      :clearMapAction="clearMapAction"
      @mapAction="getMapAction"
    />
    <MapTipsBar 
      v-show="isMapTips"
      :text="mapTips" 
    />
    <Popup 
      :title="popupTitle" 
      :type="tabbarStatus"
      :isShow="popupStatus"
      :mapObj="drawTool"
      :mapAction="activeWindow"
      :obj="layerOptions.surfaceList"
      :mapCoordinate="mapCoordinate"
      :stakeSearchText="stakeSearchText"
      :baseLayerList="this.layerOptions.baseLayerList"
      :userPosition="userPosition"
      @closePopup="closePopup"
      @getCurrent="getCurrent"
      @loadMapService="getMapService"
      @changeVisible="layerVisibleCtrl"
      @loadCovService="getCovService"
      @updateOpacity="updateOpacity"
      @getMeasurement="getMeasurement"
      @clearMap="clearAllPage"
    />
    <MaskTool :isActive="maskStatus"/>
    <van-popup 
      v-model="showClickSearch" 
      :overlay="false" 
      position="center" 
      class="clickSearchPopup"
      v-show="showSearchPopup"
      :round="true" 
      :closeable="true" 
      :close-icon="require('~/assets/img/icon/closePopup.png')"
      @close="toggleClickSearchStatus">
      <vuescroll :ops="ops" class="SearchPopupContent">
      <div v-show="showSearchLayer('管理處')">
        <span>管理處</span>
        <TableTool :options="clickSearchResult.Ia" :ismapTable="true"/>
      </div>
      <div v-show="showSearchLayer('工作站')">
        <span>工作站</span>
        <TableTool :options="clickSearchResult.Stn" :ismapTable="true"/>
      </div>
      <div v-show="showSearchLayer('小組')">
        <span>小組</span>
        <TableTool :options="clickSearchResult.Grp" :ismapTable="true"/>
      </div>
      <div v-show="showSearchLayer('渠道')">
        <span>灌排渠道</span>
        <TableTool :options="clickSearchResult.Canal" :ismapTable="true"/>
      </div>
      <div v-show="showSearchLayer('水工構造物')">
        <span>水工構造物</span>
        <TableTool :options="clickSearchResult.Cons" :ismapTable="true"/>
      </div>
      <div v-show="showSearchLayer('國土測繪中心地籍圖磚')">
        <span>地籍</span>
        <TableTool :options="clickSearchResult.Land" :ismapTable="true"/>
      </div>
      </vuescroll>
    </van-popup>
    <div
      class="main"
    >
      <canvas
        id="canvas"
        ref="mapCanvas"
        class="canvasShot"
        width="984"
        height="735"
      />
      <div
        id="mapNode"
        ref="mapBox"
      >
      </div>
      <div
        class="scbar_wrap"
      >
        <div
          id="ScaleTools"
        />
      </div>
    </div>
  </div>
</template>
<script>
import Tabbar from '~/components/tools/Tabbar.vue';
import MapTipsBar from '~/components/tools/MapTipsBar.vue';
import SliderButtonBox from '~/components/model/SliderButtonBox.vue';
import FlatButtonBox from '~/components/model/FlatButtonBox.vue';
import Popup from '~/components/model/Popup.vue';
import MaskTool from '~/components/tools/Mask.vue';
import TableTool from '~/components/tools/Table';
import axios from 'axios';
import { mapState } from 'vuex';
import vuescroll from 'vuescroll';
export default {
  layout: 'default',
  middleware: 'routerAuth',
  components: {
    Tabbar,
    MapTipsBar,
    SliderButtonBox,
    FlatButtonBox,
    Popup,
    TableTool,
    MaskTool,
    vuescroll
  },
  data () {
    return {
      mymap: '',
      totalIaList: '',
      // * loading視窗
      loadModal: false,
      // * 目前所選取的功能視窗
      activeWindow: '',
      searchResult: {
        channel: ''
      },
      hideResult: false,
      // * 測量視窗
      openOnce: true,
      openLine: true,
      drawTool: '',
      // * 截圖
      screenTitle: '',
      screenImgSrc: '',
      // * 街景
      streetMap: '',
      openOnceStreet: true,
      // * 開啟圖層工具
      openOnceLa: true,
      // * 圖層工具
      layerOptions: {
        current: 0,
        typeList: [
          {
            name: '點圖資',
            id: 0
          },
          {
            name: '線圖資',
            id: 1
          },
          {
            name: '面圖資',
            id: 2
          },
          {
            name: '底圖切換',
            id: 3
          },
          {
            name: 'OGC介接',
            id: 4
          }
        ],
        pointList: [],
        lineList: [],
        surfaceList: [],
        baseLayerList: []
      },
      allVectors: '',
      allBaseLayer: [],
      // * OGC介接
      ogcOptions: {
        current: 0,
        typeList: [
          {
            name: 'wms',
            id: 0
          },
          {
            name: 'wmts',
            id: 1
          }
        ],
        holder: '請輸入服務連結',
        layerList: []
      },
      wmTsLayer: {},
      wmsLayer: {},
      wmTsUrl: 'https://wmts.nlsc.gov.tw/wmts',
      wmsUrl: 'https://wms.nlsc.gov.tw/wms',
      ogcWarnBox: false,
      // * 臨時展繪的lightbox
      formatBox: false,
      sizeBox: false,
      // * 臨時展繪
      shpOptions: {
        current: 0,
        typeList: [
          {
            name: 'shp',
            id: 0
          },
          {
            name: 'kmz/kml',
            id: 1
          }
        ],
        layerList: [],
        kmlLayer: ''
      },
      allShpGraphic: [],
      allGeotry: [],
      //* 跳轉視窗 圖形
      geoData: '',
      localGraphic: '',
      // * 圖磚是否已有
      getCons: false,
      getCanal: false,
      getIa: false,
      getStn: false,
      getGrp: false,
      // * 渠道查詢表格 單筆圖形
      channelGraphic: '',
      spGraph: [],
      wordStatus: true,
      showWordBt: false,
      // * 隱藏渠道箭頭
      showCaArr: true,
      // * 底圖載入幾張
      baseCount: 0,
      // * 點線面WMS圖資
      Rows17: [],
      wetLayers: {
        Cons: [],
        Canal: [],
        Section: [],
        Ia: [],
        Stn: [],
        Grp: []
      },
      plsCount: 0,
      secMap: '',
      // * 點線面map service
      allMapSer: {
        Cons: '',
        Canal: '',
        Arrow: '',
        Sec5cov: '',
        Ia: '',
        Stn: '',
        Grp: ''
      },
      // * 渠道流向map service
      canalArrMap: '',

      // * 圖層實際套疊的順序(愈上面是疊在最下面的)
      realArr: [
        'Ia',
        'Stn',
        'Grp',
        'Sec5cov',
        'Canal',
        'Cons'
      ],
      // * 圖例假資料
      picData: {
        Cons: [],
        Canal: [],
        Stn: [],
        Period: [],
        Arrow: []
      },
      authWarnBox: false,
      timeCut: 3000,
      tabbarStatus:'',
      isSliderButton:false,
      popupStatus:false,
      popupTitle:'',
      mapTips:'',
      isMapTips: false,
      clearMapAction: false,
      listener:'',
      myGeoData: '',
      drawPoint: '',
      drawUserPosition: '',
      mapCoordinate:{},
      myPoint: { x: '', y: '' },
      stakeSearchText:{},
      myCountyName: '',
      clickSearchResult:{
        Ia:{
          id:'',
          title:[],
          data:[]
        },
        Stn:{
          id:'',
          title:[],
          data:[]
        },
        Grp:{
          id:'',
          title:[],
          data:[]
        },
        Cons:{
          id:'',
          title:[],
          data:[]
        },
        Canal:{
          id:'',
          title:[],
          data:[]
        },
        Land:{
          id:'',
          title:[],
          data:[]
        }
      },
      userPosition:{
        lat:'',
        lon:'',
        heading:0
      },
      showClickSearch: false,
      clickSearchStatus: true,
      resultList:[],
      bar: {
        keepShow: true,
        background: '#3e889f',
      },
      layerLoading: false,
      count1:'',
      showSearchPopup:false,
      noIa:false,
      ops: {
        mode: 'slide',
        paging: false,
        zooming: true,
        snapping: {
          enable: false,
          width: 100,
          height: 100
        },
        scrollPanel: {
          initialScrollY: false,
          initialScrollX: false,
          scrollingX: true,
          scrollingY: true,
          speed: 300,
          easing: undefined,
          verticalNativeBarPos: 'right'
        },
        scroller: {
          /*
            Allow to scroll out of boundaries
            true or false or an array specify which direction can be
            bounced. The options can be:
            ['top','bottom','left','right']
          */
          bouncing: {
            top: 100,
            bottom: 100,
            left: 100,
            right: 100
          },
          /** Enable locking to the main axis if user moves only slightly on one of them at start */
          locking: true,
          /** Minimum zoom level */
          minZoom: 0.5,
          /** Maximum zoom level */
          maxZoom: 3,
          /** Multiply or decrease scrolling speed **/
          speedMultiplier: 1,
          /** This configures the amount of change applied to deceleration when reaching boundaries  **/
          penetrationDeceleration: 0.03,
          /** This configures the amount of change applied to acceleration when reaching boundaries  **/
          penetrationAcceleration: 0.08,
          /** Whether call e.preventDefault event when sliding the content or not */
          preventDefault: true,
          /** Whether call preventDefault when (mouse/touch)move*/
          preventDefaultOnMove: true,
          // whether to  disable scroller or not.
          disable: false
        }
      }
    };
  },
  mounted () {
    LoadConfig();
    this.$toast.setDefaultOptions({ duration: 1000 });
    setTimeout(() => {
      //* 晚半秒取回使用者位置
      navigator.geolocation.watchPosition(this.getUserPosition, this.getUserPositionError,{enableHighAccuracy:true});
    },500)
    setTimeout(() => {
      this.getBaseLayerNew();
      this.layerInput();
      this.clickSearch();
    }, 3000);

    // * 載入canvas
    const canvas = document.getElementsByTagName('canvas')[0];
    const ctx = canvas.getContext('2d');

    const getPixelRatio = function (ctx) {
      const backingStore = ctx.backingStorePixelRatio ||
        ctx.webkitBackingStorePixelRatio ||
        ctx.mozBackingStorePixelRatio ||
        ctx.msBackingStorePixelRatio ||
        ctx.oBackingStorePixelRatio ||
        ctx.backingStorePixelRatio || 1;
      return (window.devicePixelRatio || 1) / backingStore;
    };
    const ratio = getPixelRatio(ctx);

    canvas.style.width = canvas.width + 'px';
    canvas.style.height = canvas.height + 'px';
    canvas.width = canvas.width * ratio;
    canvas.height = canvas.height * ratio;
    ctx.scale(ratio, ratio);

    // * 取得圖例資料
    this.picData.Cons = require('~/static/PicCons.json');
    this.picData.Canal = require('~/static/PicCanal.json');
    this.picData.Stn = require('~/static/PicStn.json');
    this.picData.Period = require('~/static/PicPeriod.json');
    this.picData.Arrow = require('~/static/PicArrow.json');
    this.$store.commit('SET_PIC_DATA', this.picData);

    proj4.defs('EPSG:4326', '+proj=longlat +datum=WGS84 +no_defs');
    proj4.defs('EPSG:3826', '+proj=tmerc +lat_0=0 +lon_0=121 +k=0.9999 +x_0=250000 +y_0=0 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
    proj4.defs('EPSG:3857', '+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0 +k=1.0 +units=m +nadgrids=@null +wktext  +no_defs');
  },
  methods: {
    //* 下方工具列切換 
    getTabbarStatus(e){
      const mapTool = ['search','coordinate','cadastral','location','channel']
      //* 需清除圖形 
      if(mapTool.indexOf(this.tabbarStatus)>-1){
        this.clearDrawing();
        this.clearSearchResult(this.tabbarStatus);
        pMapBase.RemoveLayer(this.dmapObj);
      }
      this.tabbarStatus = e;
      this.isSliderButton = false;
      this.showClickSearch = false;
      this.getPopupTitle();
      //* 需清除量測
      if(e!=='measurement'&&this.drawTool){
        this.closeMeasureWindow();
        this.clearMeasureResult();
      }
      //* 控制開合
      if(e){
        this.popupStatus = true;
        this.isMapTips = false;
        this.clearMapAction = true;
      }else{
        this.popupStatus = false;
        this.isSliderButton = false;
      }
    },
    //* 搜尋工具上方按鈕切換
    getSearchStatus(e){
      this.clearDrawing();
      this.clearSearchResult(this.tabbarStatus);
      pMapBase.RemoveLayer(this.dmapObj);
      this.tabbarStatus = e;
      this.getPopupTitle();
      if(e!=='measurement'&&this.drawTool){
        this.closeMeasureWindow();
        this.clearMeasureResult();
      }
    },
    //* 點擊查詢
    clickSearch(){
      this.listener = sg.events.on(pMapBase, 'click', (e) => {
        this.showSearchPopup = false;
        this.count1='';
        const mapControl = ['zoomIn','zoomOut','position','home'];
        if(this.mapAction!==''&&mapControl.indexOf(this.mapAction)<0){return};
        if(this.tabbarStatus==='measurement'){return};
        this.resultList = [];
        this.clickSearchResult.Ia.data = [];
        this.clickSearchResult.Stn.data = [];
        this.clickSearchResult.Grp.data = [];
        this.clickSearchResult.Canal.data = [];
        this.clickSearchResult.Cons.data = [];
        this.clickSearchResult.Land.data = [];
        this.clickSearchStatus = true;
        if(this.clickSearchStatus){
          this.$store.commit('SET_MASK_STATUS',true);
          this.clickSearchStatus = false;
          const isCadastral = this.selectLayerOption.surfaceLayer.filter(x=>x.text === '地籍圖').length>0
          const p = pMapBase.FromMapPoint(e.point.x, e.point.y);
          const cs = [[7, 7], [7, -7], [-7, -7], [-7, 7], [7, 7]]
            .map(function (d) { return pMapBase.ToMapPoint(p.X + d[0], p.Y + d[1]); })
            .map(function (p) { return [p.X, p.Y]; });
          const g = { type: 'Polygon', coordinates: [cs] };
          this.myGeoData = g;

          // 畫點
          pMapBase.drawingGraphicsLayer.remove(this.drawPoint);
          this.drawPoint = sg.Graphic.createFromGeometry(new sg.geometry.Point(e.point.x, e.point.y), { markerurl: require('~/assets/img/icon/navigation.svg'), markersize: 50, markercolor: new sg.Color(25, 112, 93, 1) });
          pMapBase.drawingGraphicsLayer.add(this.drawPoint);
          const cData = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(3857), EPSG.CreateSpatialReference(4326), null, { X: this.drawPoint.geometry.x, Y: this.drawPoint.geometry.y });
          const mapCoordinate1 = {
            locate:{X:cData.X.toFixed(4),Y:cData.Y.toFixed(4)},
          };
          //* 判斷圖層是否開啟
          if(this.switchSearchLayer.length>0){
            const isCadastral =  this.switchSearchLayer.indexOf('Land')>-1;
            this.switchSearchLayer.forEach(v=>{
              if(v === 'Land'){
                if(isCadastral){
                  this.getCounty(mapCoordinate1);
                }
              }else{
                if(v==="Ia"){
                  this.getMyIa(g);
                }else{
                  this.getData(g,v);
                }
              }
            })
          }else{
            this.noSearchResult();
          }
        }
      });
    },
    //* 關閉POPUP彈窗
    toggleClickSearchStatus(){
      this.resultList = [];
      this.clickSearchResult.Ia.data = [];
      this.clickSearchResult.Stn.data = [];
      this.clickSearchResult.Grp.data = [];
      this.clickSearchResult.Canal.data = [];
      this.clickSearchResult.Cons.data = [];
      this.clickSearchResult.Land.data = [];
      this.clickSearchStatus = true;
      this.showClickSearch = false;
      this.showSearchPopup = false;
      this.clearDrawing();
    },
    //* 清除圖形
    clearDrawing (e) {
      pMapBase.drawingGraphicsLayer.remove(this.drawPoint);
      this.clickSearchStatus = true;
    },
    //* 取得IA
    getMyIa (geoData) {
      fetch(`/AERC/rest/Ia/${this.userInfo.id}`, {
        method: 'POST',
        headers: new Headers({
          'Content-Type': 'application/json'
        }),
        body: JSON.stringify({
          geom: geoData
        })
      }).then((response) => {
        return response.json();
      }).then((jsonData) => {
        const _this = this;
        if(jsonData.length>0){
          this.clickSearchResult.Ia.title = ['管理處'];
          this.clickSearchResult.Ia.id = 0,
          this.clickSearchResult.Ia.data.splice(0,1);
          this.clickSearchResult.Ia.data.push(
            [jsonData[0].Ia_cns]
          );
          setTimeout(function(){
            _this.resultList.push('管理處');
            _this.showSearchPopup = true;
            _this.showClickSearch = true;
            _this.$store.commit('SET_MASK_STATUS',false);
            _this.noIa = false;
          },1000)
        }else{
          this.noIa = true;
          this.switchSearchLayer.forEach(v=>{
            if(v==="Ia"){
              if(this.switchSearchLayer.length === 1){
                this.noSearchResult();
              }
            }
          })
        };
      }).catch((err) => {
        this.switchSearchLayer.forEach(v=>{
          if(v==="Ia"){
            if(this.switchSearchLayer.length === 1){
              this.noSearchResult();
            }
          }
        })
      });
    },
    //* 取得其他基礎圖資
    getData (geoData, value) {
      let url = `/AERC/rest/${value}`
      let newObj = {};
      newObj = {
        geom: geoData
      };

      fetch(url, {
        method: 'POST',
        headers: new Headers({
          'Content-Type': 'application/json'
        }),
        body: JSON.stringify(newObj)
      }).then((response) => {
        if (response.status === 403) {
          return Promise.reject(response);
        }
        return response.json();
      }).then((jsonData) => {
        if(jsonData.length<1){
          return;
        }
        if(jsonData[0].Consname || jsonData[0].Comment){
          this.clickSearchResult.Cons.title = ['管理處','工作站','構造物名稱','構造物種類']
          this.clickSearchResult.Cons.id = 4,
          jsonData.forEach((x,i)=>{
            this.clickSearchResult.Cons.data.push(
              [x.Ia_cns,x.Stn_cns,x.Consname,x.Name]
            );
          })
          this.resultList.push('水工構造物');
        }else if(jsonData[0].Sys_cns){
          this.clickSearchResult.Canal.title = ['管理處','工作站','渠道名稱','渠道種類','長度(m)','渠道屬性1','渠道屬性2','渠道屬性3']
          this.clickSearchResult.Canal.id = 3,
          jsonData.forEach((x,i)=>{
            const sys1E = x.Sys_atb_1E ? x.Sys_atb_1E : '';
            const sys2E = x.Sys_atb_2E ? x.Sys_atb_2E : '';
            const sys3E = x.Sys_atb_3E ? x.Sys_atb_3E : '';
            this.clickSearchResult.Canal.data.push(
              [x.Ia_cns,x.Stn_cns,x.Sys_cns,x.Sys_cls,x.Length,sys1E,sys2E,sys3E]
            );
          })
          this.resultList.push('渠道');
        }else if(jsonData[0].Grp){
          this.clickSearchResult.Grp.title = ['管理處','管理分處','工作站','小組']
          this.clickSearchResult.Grp.id = 2;
          jsonData.forEach((x,i)=>{
            this.clickSearchResult.Grp.data.push(
              [x.Ia_cns,x.Mng_cns,x.Stn_cns,x.Grp_cns]
            );
          })
          this.resultList.push('小組');
        }else if(jsonData[0].Stn){
          this.clickSearchResult.Stn.title = ['管理處','管理分處','工作站']
          this.clickSearchResult.Stn.id = 1,
          jsonData.forEach((x,i)=>{
            this.clickSearchResult.Stn.data.push(
              [x.Ia_cns,x.Mng_cns,x.Stn_cns]
            );
          })
          this.resultList.push('工作站');
        }
      }).then(()=>{
        const _this = this;
        this.count1 += this.resultList.length.toString();
        const time = this.switchSearchLayer.length*200 < 800 ? 800 : this.switchSearchLayer.length*400;
        const a = this.switchSearchLayer.filter(x=>x!=='Ia');
        setTimeout(function(){
          if(_this.resultList.length<1 && a.length === (_this.count1.match(/0/g) || []).length && _this.noIa){
            _this.noSearchResult();
          }else if(_this.resultList.length>0 && value === 'Ia' || _this.resultList.length>0 && _this.count1.indexOf('1')>-1){
            _this.showSearchPopup = true;
            _this.showClickSearch = true;
            _this.noIa = false;
            _this.$store.commit('SET_MASK_STATUS',false);
          }
        },time)
      }).catch((err) => {
        console.log(err);
      });
    },
    //* 無點擊查詢DATA
    noSearchResult(){
      this.$toast({
        message: '未點擊到圖徵,請重新查詢',
        position: 'top',
        forbidClick: true,
      });
      this.showClickSearch = false;
      this.showSearchPopup = false;
      this.count1 = '';
      this.clearDrawing();
      this.$store.commit('SET_MASK_STATUS',false);
      this.noIa = false;
      return;
    },
    //* 取得COUNTY
    getCounty (mapCoordinate) {
      const _this = this;
      axios.get(`https://api.nlsc.gov.tw/other/TownVillagePointQuery/${mapCoordinate.locate.X}/${mapCoordinate.locate.Y}/4326`).then(r=>{
        const data = r.data;
        axios.get(`https://api.nlsc.gov.tw/S_Maps/qryTileMapIndex?type=2&flag=1&city=${data.ctyCode}&x=${mapCoordinate.locate.X}&y=${mapCoordinate.locate.Y}`).then(r1=>{
          const reg = new RegExp(/\b(0+)/gi);
          const d1 = r1.data[0].landno.slice(0, 4);
          const d2 = r1.data[0].landno.slice(4);
          const landno = d2.replace(reg,"") ? d1.replace(reg,"") + '-' + d2.replace(reg,"") : d1.replace(reg,"");
          axios.get(`https://api.nlsc.gov.tw/dmaps/CadasLandInfo/${data.ctyCode}/${data.sectCode}/${landno}`).then(r0=>{
            const mData = r0.data.ownerType;
            const arr = [];
            const reg = new RegExp(/,/gi);
            Object.keys(mData).forEach((key) => {
              arr.push(key+":"+mData[key]);
            });
            _this.resultList.push('國土測繪中心地籍圖磚');
            _this.clickSearchResult.Land.title = ['地段','地號','所有權人%'];
            _this.clickSearchResult.Land.id = 5,
            _this.clickSearchResult.Land.data = [[data.sectName,landno,arr.toString().replace(reg,`\n`)]];
            _this.showClickSearch = true;
            _this.showSearchPopup = true;
            _this.$store.commit('SET_MASK_STATUS',false);
          }).catch(e0=>{
            _this.noSearchResult();
          })
        }).catch(e1=>{
          this.noSearchResult();
        })
      }).catch(e=>{
        this.noSearchResult();
      })
    },
    //* 圖面查詢
    openMapClick(a){
      this.listener = sg.events.on(pMapBase, 'click', (e) => {
        if(this.tabbarStatus === 'measurement'){return};
        if(this.tabbarStatus === 'position'){return};
        if(this.tabbarStatus === 'channel'){return};
        const p = pMapBase.FromMapPoint(e.point.x, e.point.y);
        const EPSG4326 = new proj4.Proj('EPSG:4326'); // WGS84
        const EPSG3826 = new proj4.Proj('EPSG:3826'); // TWD97
        const cs = [[2, 2], [2, -2], [-2, -2], [-2, 2], [2, 2]]
          .map(function (d) { return pMapBase.ToMapPoint(p.X + d[0], p.Y + d[1]); })
          .map(function (p) { return [p.X, p.Y]; });
        const g = { type: 'Polygon', coordinates: [cs] };
        this.myGeoData = g;
        // 畫點
        pMapBase.drawingGraphicsLayer.remove(this.drawPoint);
        this.drawPoint = sg.Graphic.createFromGeometry(new sg.geometry.Point(e.point.x, e.point.y), { markerurl: require('~/assets/img/icon/navigation.svg'), markersize: 50, markercolor: new sg.Color(25, 112, 93, 1) });
        pMapBase.drawingGraphicsLayer.add(this.drawPoint);
        const cData = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(3857), EPSG.CreateSpatialReference(4326), null, { X: this.drawPoint.geometry.x, Y: this.drawPoint.geometry.y });
        const tData = proj4(EPSG4326, EPSG3826, [cData.X, cData.Y]);
        this.mapCoordinate = {
          locate:{X:cData.X.toFixed(4),Y:cData.Y.toFixed(4)},
          transCoor:{X:tData[0].toFixed(2),Y:tData[1].toFixed(2)}
        };
        this.getPopupTitle();
        if(this.clickSearchStatus && this.tabbarStatus){
          this.popupStatus = true;
        };
      });
    },
    //* 渠道查詢
    openStakeSearch(){
      this.listener = sg.events.on(pMapBase, 'click', (e) => {
        if(this.myPoint.x === e.point.x && this.myPoint.y === e.point.y){return};
        if(this.tabbarStatus === 'measurement'){return};
        if(this.tabbarStatus === 'position'){return};
        if(this.tabbarStatus === 'location'){return};
        const p = pMapBase.FromMapPoint(e.point.x, e.point.y);
        const cs = [[2, 2], [2, -2], [-2, -2], [-2, 2], [2, 2]]
          .map(function (d) { return pMapBase.ToMapPoint(p.X + d[0], p.Y + d[1]); })
          .map(function (p) { return [p.X, p.Y]; });
        const g = { type: 'Polygon', coordinates: [cs] };

        this.myPoint.x = e.point.x;
        this.myPoint.y = e.point.y;
        if(this.clickSearchStatus){
          this.getClickCanal(g);
          // 畫點
          pMapBase.drawingGraphicsLayer.remove(this.drawPoint);
          this.drawPoint = sg.Graphic.createFromGeometry(new sg.geometry.Point(e.point.x, e.point.y), { markerurl: require('~/assets/img/icon/navigation.svg'), markersize: 50, markercolor: new sg.Color(25, 112, 93, 1) });
          pMapBase.drawingGraphicsLayer.add(this.drawPoint);
        };
      });
    },
    //* 取得渠道
    getClickCanal (geoData) {
      fetch('/AERC/rest/Canal', {
        method: 'POST',
        headers: new Headers({
          'Content-Type': 'application/json'
        }),
        body: JSON.stringify({
          geom: geoData
        })
      }).then((response) => {
        if (response.status === 403) {
          return Promise.reject(response);
        }
        return response.json();
      }).then((jsonData) => {
        if (jsonData.length < 1) { 
          this.noSearchResult();
          return; 
        }

        this.geoData = sg.geometry.Geometry.fromGeoJson(jsonData[0].GEOMETRY);
        this.canalName = `${jsonData[0].Sys_cns}(${jsonData[0].Stn_cns})`;

        // 渠道總長

        this.totalLength = this.geoData.length.toFixed(2);
        // 起點至點擊位置的距離
        this.startLength = this.geoData.getValue(new sg.geometry.Point(this.myPoint.x, this.myPoint.y)).toFixed(2);
        // 終點至點擊位置的距離
        this.endLength = this.totalLength - this.startLength;

        const start1 = parseInt(this.startLength / 1000);
        const start2 = (this.startLength % 1000).toFixed(2);
        const end1 = parseInt(this.endLength / 1000);
        const end2 = (this.endLength % 1000).toFixed(2);

        this.stakeSearchText = {
          canalName:this.canalName,
          start1:start1,
          start2:start2,
          end1:end1,
          end2:end2
        }

        this.getPopupTitle();
        if(this.tabbarStatus){
          this.popupStatus = true;
        };
      }).catch((err) => {
        console.log(err);
      });
    },
    //* 左側浮動點擊
    getMapAction(e){
      this.isMapTips = false;
      this.clearMapAction = false;
      this.showClickSearch = false;
      const mapControl = ['zoomIn','zoomOut','position','home'];
      if(mapControl.indexOf(e)<0){
        this.popupStatus = false;
        this.isSliderButton = false;
        const mapTool = ['search','coordinate','cadastral','location','channel']
        if(mapTool.indexOf(this.tabbarStatus)>-1){
          this.clearDrawing();
          this.clearSearchResult(this.tabbarStatus);
          pMapBase.RemoveLayer(this.dmapObj);
        }
        if(e !== 'close'){
          this.tabbarStatus = e;
        }else{
          this.closePopup(true);
        }
      }
      
      this.clearDrawing();
      if(this.drawTool){
        this.closeMeasureWindow();
        this.clearMeasureResult();
      }
      switch(e){
        case 'position':
          this.mapActionClose(this.popupTitle);
          this.moveUserPosition();
          break;
        case 'location':
          this.mapTips = '請點擊圖面位置';
          this.isMapTips = true;
          this.openMapClick(e);
          break;
        case 'channel':
          this.mapTips = '請先開啟渠道圖層';
          this.isMapTips = true;
          this.openStakeSearch();
          break;
        case 'zoomIn':
          this.mapActionClose(this.popupTitle);
          ZoomIn();
          break;
        case 'zoomOut':
          this.mapActionClose(this.popupTitle);
          ZoomOut();
          break;
        case "home":
          this.mapActionClose(this.popupTitle);
          backFullMap();
          break;
        case "close":
          //this.clearDrawing();
          break;
      }
    },
    mapActionClose(e){
      const arr = ['圖面坐標','樁號資訊'];
      if (arr.indexOf(e) > -1){
        this.popupStatus = false;
      }
    },
    setUserPosition(){
      const cData = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(4326), EPSG.CreateSpatialReference(3857), null, { X: this.userPosition.lon, Y: this.userPosition.lat });
      const heading = this.userPosition.heading;
      //畫點
        pMapBase.drawingGraphicsLayer.remove(this.drawUserPosition);
        this.drawUserPosition = sg.Graphic.createFromGeometry(new sg.geometry.Point(cData.X, cData.Y), { markerurl: require('~/assets/img/icon/userPosition.png'), markerrotate:heading ,markersize: 80, markercolor: new sg.Color(25, 112, 93, 1) });
        pMapBase.drawingGraphicsLayer.add(this.drawUserPosition);
    },
    //* 取得使用者位置
    getUserPosition(position){
      this.userPosition.lat=position.coords.latitude;
      this.userPosition.lon=position.coords.longitude;
      this.userPosition.heading=position.coords.heading;
      this.setUserPosition();
    },
    //* 監聽使用者位置
    moveUserPosition(){
      const cData = SpatialReference.CoordinateTransform(EPSG.CreateSpatialReference(4326), EPSG.CreateSpatialReference(3857), null, { X: this.userPosition.lon, Y: this.userPosition.lat });
      pMapBase.ZoomMapTo(new sg.geometry.Point(cData.X, cData.Y));
      pMapBase.getTransformation().FitLevel();
      pMapBase.RefreshMap(true);

      const pTrans = pMapBase.getTransformation();
      pTrans.putMapLevel(14);
      pTrans.FitLevel();
      pMapBase.RefreshMap(true);
    },
    getUserPositionError(e){
      console.log(e)
    },
    //* 關閉POPUP彈窗
    closePopup(e){
      this.popupStatus = !e;
      this.isSliderButton = !e;
      this.clearMapAction = e;
      this.isMapTips = !e;
      this.mapTips = '';
      this.activeWindow = '';
      this.clickSearchStatus = e;
      this.clearAllPage();
    },
    //* 取得測量模式
    getCurrent(e){
      this.startMeasure(e);
    },
    //* 判斷 POPUP title
    getPopupTitle(){
      const data = this.tabbarStatus;
      switch(data){
        case 'layer':
          this.popupTitle = '圖層工具';
          break;
        case 'search':
          this.popupTitle = '渠道查詢';
          this.isSliderButton = true;
          break;
        case 'measurement':
          this.popupTitle = '量測工具';
          this.activeWindow = 'geoMeasureWindow';
          break;
        case 'coordinate':
          this.popupTitle = '坐標查詢';
          break;
        case 'location':
          this.popupTitle = '圖面坐標';
          break;
        case 'channel':
          this.popupTitle = '樁號資訊';
          break;
        case 'cadastral':
          this.popupTitle = '地籍查詢';
          break;
        case 'houseNumber':
          this.popupTitle = '門牌查詢';
          break;
      }
    },
    getWetLayers () {
      const data = this.Rows17;
      for (const key in this.wetLayers) {
        this.wetLayers[key] = _.cloneDeep(data); // data是陣列
      }

      for (const key in this.wetLayers) {
        const result = {
          id: Math.random(),
          LayerName: this.wetLayers[key],
          visible: false,
          opacity: 80,
          LayerTitle: '',
          type: [],
          allShow: true
        };

        this.wetLayers[key].forEach((item) => {
          // 管理處編號
          const id = item.url.substring(item.url.length - 2);

          if (item.visibleLayers.includes(`${id}_${key}`)) {
            item.visibleLayers = [];
            item.visibleLayers[0] = `${id}_${key}`;

            if (key === 'Canal') {
              item.visibleLayers[1] = `${id}_Canal_Arrow`;
            }
            pMapBase.AddLayer(item);
            item.hide();
          } else {
            item.visibleLayers = [];
          }
        });

        if (key === 'Ia') {
          result.LayerTitle = '管理處';
          this.layerOptions.surfaceList.push(result);
        }
        if (key === 'Stn') {
          result.LayerTitle = '工作站';
          this.layerOptions.surfaceList.push(result);
        }
        if (key === 'Cons') {
          result.LayerTitle = '水工構造物';
          result.opacity = 100;
          this.layerOptions.pointList.push(result);
        }
        if (key === 'Canal') {
          result.LayerTitle = '渠道';
          result.opacity = 100;
          this.layerOptions.lineList.push(result);
        }
        if (key === 'Grp') {
          result.LayerTitle = '小組';
          this.layerOptions.surfaceList.push(result);
        }
      }
    },
    getBaseLayerNew () {
      this.layerOptions.baseLayerList = baseLayerListXX;
      this.allBaseLayer = allBaseLayerXX;
      const imageLayer = baseLayerListXX.filter(x=>x.LayerType==='1' && x.Layer_sno === 2)
      imageLayer.status = true;
      this.$store.commit('SET_SELECT_LAYER', {obj:'imageLayer',arr:[imageLayer]});
    },
    //* 載入底圖 wmts
    loadAllBaseLayerTS (layerName, index, layerTitle, LayerSrc) {
      this.allBaseLayer.push(new sg.layers.WMTSLayer(LayerSrc, {
        serviceMode: 'KVP',
        loadEffect: true,
        loaded: () => {
          this.getMyWMTS(layerName, index, layerTitle);
        }
      }));
    },
    getMyWMTS (layerName, index, layerTitle) {
      this.allBaseLayer[index].layerInfo.identifier = layerName;
      this.baseCount++;
    },
    //* 載入底圖 wms
    loadAllBaseLayer (layerName, index, layerTitle, LayerSrc) {
      this.allBaseLayer.push(new sg.layers.WMSLayer(LayerSrc, {
        imageFormat: 'image/png',
        loadEffect: true,
        loaded: () => {
          this.getMyWMS(layerName, index, layerTitle);
        }
      }));
    },
    getMyWMS (layerName, index, layerTitle) {
      this.allBaseLayer[index].visibleLayers = [];
      this.allBaseLayer[index].visibleLayers[0] = layerName;

      this.baseCount++;
    },

    // * 點線面圖層 加入shp
    getPWALayer () {
      fetch('/AERC/rest/PWALayer', {
        method: 'GET',
        headers: new Headers({
          'Content-Type': 'application/json'
        })
      }).then((response) => {
        return response.json();
      }).then((data) => {
        let newArr = [];
        newArr = data.map(item => {
          return { url: item.PWALayerData, title: item.PWALayerTitle, myIndex: item.PWALayerIndex };
        });
        this.$store.commit('SET_PWALAYER_LIST', newArr);
        this.getShpLayer(newArr);
      }).catch((err) => {
        console.log('錯誤:', err);
      });
    },
    getShpLayer (newArr) {
      let getShpLayerNum = 0;
      if(newArr.length>0){
        newArr.forEach((itemU) => {
          fetch(itemU.url, {
            method: 'GET',
            headers: new Headers({
              'Content-Type': 'application/json'
            })
          }).then((response) => {
            return response.json();
          }).then((jsonData) => {
            const result = {
              graph: '',
              id: Math.random(),
              LayerTitle: itemU.title,
              visible: false,
              opacity: 100,
              type: [{ bgColor: '#FFC0CB', border: '#FFC0CB' }],
              LayerName: 'shpVec',
              isAdd: false,
              layerIndex: ''
            };
            this.spGraph = [];

            jsonData.forEach((item) => {
              const geometry = sg.geometry.Geometry.fromGeoJson(item.GEOMETRY);

              if (item.GEOMETRY.type === 'Polygon' || item.GEOMETRY.type === 'MultiPolygon') {
                this.spGraph.push(sg.Graphic.createFromGeometry(geometry, { borderwidth: 1, fillcolor: new sg.Color(220, 105, 105, 1) }));
              }
              if (item.GEOMETRY.type === 'Point') {
                this.spGraph.push(sg.Graphic.createFromGeometry(new sg.geometry.Point(item.GEOMETRY.coordinates[0], item.GEOMETRY.coordinates[1]), { markerstyle: sg.symbols.SimpleMarkerSymbol.STYLE_CIRCLE, markersize: 3, markercolor: new sg.Color(220, 105, 105, 1), borderwidth: 0 }));
              }
              if (item.GEOMETRY.type === 'MultiPoint') {
                this.spGraph.push(sg.Graphic.createFromGeometry(geometry, { markerstyle: sg.symbols.SimpleMarkerSymbol.STYLE_CIRCLE, markersize: 3, markercolor: new sg.Color(220, 105, 105, 1), borderwidth: 0 }));
              }
              if (item.GEOMETRY.type === 'LineString' || item.GEOMETRY.type === 'MultiLineString') {
                this.spGraph.push(sg.Graphic.createFromGeometry(geometry, { linewidth: 3, linecolor: new sg.Color(220, 105, 105, 1) }));
              }
            });

            result.graph = this.spGraph;

            if (jsonData[0].GEOMETRY.type === 'Polygon' || jsonData[0].GEOMETRY.type === 'MultiPolygon') {
              result.opacity = 80;
              result.id = 1 / itemU.myIndex / 1000;
              this.layerOptions.surfaceList.unshift(result);
            }
            if (jsonData[0].GEOMETRY.type === 'Point' || jsonData[0].GEOMETRY.type === 'MultiPoint') {
              result.layerIndex = itemU.myIndex;
              this.layerOptions.pointList.unshift(result);
            }
            if (jsonData[0].GEOMETRY.type === 'LineString' || jsonData[0].GEOMETRY.type === 'MultiLineString') {
              result.layerIndex = itemU.myIndex;
              this.layerOptions.lineList.unshift(result);
              this.layerOptions.pointList.sort((a, b) => { return a.layerIndex > b.layerIndex ? -1 : 1; });
              this.layerOptions.lineList.sort((a, b) => { return a.layerIndex > b.layerIndex ? -1 : 1; });
            }
            getShpLayerNum += 1;
            if(getShpLayerNum === newArr.length){
              this.$store.commit('SET_LAYER_SURFACE_LIST', this.layerOptions.surfaceList);
              this.$store.commit('SET_LAYER_LINE_LIST', this.layerOptions.lineList);
              this.$store.commit('SET_LAYER_POINT_LIST', this.layerOptions.pointList);
              this.layerLoading = true;
            }
          }).catch((err) => {
            console.log('錯誤:', err);
          });
        });
      }else{
        this.$store.commit('SET_LAYER_SURFACE_LIST', this.layerOptions.surfaceList);
        this.$store.commit('SET_LAYER_LINE_LIST', this.layerOptions.lineList);
        this.$store.commit('SET_LAYER_POINT_LIST', this.layerOptions.pointList);
        this.layerLoading = true;
      }
    },

    // * 控制視窗顯示
    ctrlDragBoxVisible (payload) {
      // @DragBox：電腦版可以在畫面上任意移動的 component
      return this.activeWindow === payload;
    },
    // * @ 測量圖形
    startMeasure (id) {
      // 長度測量
      if (id === 0) {
        drawTypee = 'LINESTRING';
        myUnit = 'Meters';
        myUnitNum = 1;
        this.drawTool.ActiveMeasureTool('LINESTRING');
      }
      // 面積測量
      if (id === 1) {
        this.openLine = false;
        drawTypee = 'POLYGON';
        myUnit = 'Square Meters';
        myUnitNum = 1;
        this.drawTool.ActiveMeasureTool('POLYGON');
      }
    },
    // * @ 測量圖形：關閉測量視窗
    closeMeasureWindow () {
      this.activeWindow = '';
      this.openLine = true;
      this.drawTool.ClearMap();
      this.drawTool.ActiveMeasureTool();
    },
    // * @ 測量圖形：清除所有測量圖形
    clearMeasureResult () {
      this.drawTool.ClearMap();
    },
    // * @ 清除搜尋結果
    clearSearchResult (status) {
      this.searchResult.channel = '';
      this.hideResult = false;
      pMapBase.drawingGraphicsLayer.remove(this.channelGraphic);
      pMapBase.drawingGraphicsLayer.remove(this.drawPoint);
      if(status === 'search' && this.mapObj){
        this.mapObj.obj.forEach(x=>{
          pMapBase.drawingGraphicsLayer.remove(x);
        })
      }else{
        pMapBase.drawingGraphicsLayer.remove(this.mapObj);
      }

      this.$store.commit('SET_MAP_OBJ',null);
    },
    // * @ 圖層工具：切換圖層 顯示/隱藏
    layerVisibleCtrl ($event, id, category, layerName, hasLoaded, opacity) {
      if (layerName === '' && hasLoaded === false) {
        console.log(81);
        return;
      }
      if (layerName === '' && hasLoaded === true && $event === false) {
        console.log(82);
        return;
      }
      if (layerName === '' && hasLoaded === true && $event === true) {
        console.log(83);
        this.authWarnBox = true;
        return;
      }
      console.log('vis');

      if (category === 'pointList' && layerName !== 'shpVec') {
        const index = this.layerOptions.pointList.findIndex(item => item.id === id);
        this.layerOptions.pointList[index].visible = $event;

        layerName.forEach((item) => {
          item.putVisible($event);
        });
      }
      if (category === 'lineList' && layerName !== 'shpVec') {
        const index = this.layerOptions.lineList.findIndex(item => item.id === id);
        this.layerOptions.lineList[index].visible = $event;
        layerName.putVisible($event);
      }
      if (category === 'surfaceList' && layerName !== 'shpVec') {
        const index = this.layerOptions.surfaceList.findIndex(item => item.id === id);
        this.layerOptions.surfaceList[index].visible = $event;
        layerName.putVisible($event);
      }
      // 底圖切換
      if (category === 'baseLayer') {
        const index = this.layerOptions.baseLayerList.findIndex(item => item.id === id);
        this.layerOptions.baseLayerList[index].visible = $event;

        if ($event === true) {
          this.allBaseLayer[index].show();
        } else {
          this.allBaseLayer[index].hide();
        }

        if (layerName === 'EMAP15') {
          firstLayer.putVisible($event);
        }

        pMapBase.RefreshMap(true);
      }
      if (category === 'shpitem') {
        const index = this.shpOptions.layerList.findIndex(item => item.id === id);
        this.shpOptions.layerList[index].visible = $event;

        if (this.shpOptions.kmlLayer !== '') {
          this.shpOptions.kmlLayer.putVisible($event);
        }

        if (this.allShpGraphic !== []) {
          this.allShpGraphic.forEach((item) => {
            item.layer.putVisible($event);
          });
        }
      }

      // 點線面shp圖
      if (category === 'pointList' && layerName === 'shpVec') {
        const index = this.layerOptions.pointList.findIndex(item => item.id === id);
        this.layerOptions.pointList[index].visible = $event;

        this.layerOptions.pointList[index].graph.forEach((item) => {
          if (this.layerOptions.pointList[index].isAdd === false) {
            pMapBase.drawingGraphicsLayer.add(item);
          }

          if ($event) {
            item.show();
          } else {
            item.hide();
          }
        });
        this.layerOptions.pointList[index].isAdd = true;
      };

      if (category === 'lineList' && layerName === 'shpVec') {
        const index = this.layerOptions.lineList.findIndex(item => item.id === id);
        this.layerOptions.lineList[index].visible = $event;

        this.layerOptions.lineList[index].graph.forEach((item) => {
          if (this.layerOptions.lineList[index].isAdd === false) {
            pMapBase.drawingGraphicsLayer.add(item);
          }
          if ($event) {
            item.show();
          } else {
            item.hide();
          }
        });
        this.layerOptions.lineList[index].isAdd = true;
      }

      if (category === 'surfaceList' && layerName === 'shpVec') {
        const index = this.layerOptions.surfaceList.findIndex(item => item.id === id);
        this.layerOptions.surfaceList[index].visible = $event;

        this.layerOptions.surfaceList[index].graph.forEach((item) => {
          if (this.layerOptions.surfaceList[index].isAdd === false) {
            pMapBase.drawingGraphicsLayer.add(item);
          }
          if ($event) {
            item.show();
          } else {
            item.hide();
          }
        });
        this.layerOptions.surfaceList[index].isAdd = true;
      }

      pMapBase.RefreshMap(true);
      this.updateOpacity(opacity);
    },
    // * @ 圖層工具：透明度調整
    layerOpacityCtrl (id, value, category, layerName) {
      if (layerName === '') { return; }

      if (category === 'pointList' && layerName !== 'shpVec') {
        const index = this.layerOptions.pointList.findIndex(item => item.id === id);
        const oldVal = this.layerOptions.pointList[index].opacity;
        if (oldVal === value) { return; }
        this.layerOptions.pointList[index].opacity = value;
        layerName.forEach((item) => {
          item.setOpacity(value / 100);
        });
      }
      if (category === 'lineList' && layerName !== 'shpVec') {
        const index = this.layerOptions.lineList.findIndex(item => item.id === id);
        const oldVal = this.layerOptions.lineList[index].opacity;
        if (oldVal === value) { return; }
        this.layerOptions.lineList[index].opacity = value;
        layerName.setOpacity(value / 100);
      }
      if (category === 'surfaceList' && layerName !== 'shpVec') {
        const index = this.layerOptions.surfaceList.findIndex(item => item.id === id);
        const oldVal = this.layerOptions.surfaceList[index].opacity;
        if (oldVal === value) { return; }
        this.layerOptions.surfaceList[index].opacity = value;
        layerName.setOpacity(value / 100);
      }

      // 底圖切換
      if (category === 'baseLayer') {
        const index = this.layerOptions.baseLayerList.findIndex(item => item.id === id);
        this.layerOptions.baseLayerList[index].opacity = value;
        this.allBaseLayer[index].setOpacity(value / 100);

        if (layerName === 'EMAP15') {
          firstLayer.setOpacity(value / 100);
        }

        pMapBase.RefreshMap(true);
      }
      if (category === 'shpitem') {
        const index = this.shpOptions.layerList.findIndex(item => item.id === id);
        this.shpOptions.layerList[index].opacity = value;

        if (this.shpOptions.kmlLayer !== '') {
          this.shpOptions.kmlLayer.setOpacity(value / 100);
        }

        if (this.allShpGraphic !== []) {
          this.allShpGraphic.forEach((item) => {
            item.layer.setOpacity(value / 100);
          });
        }

        pMapBase.RefreshMap(true);
      }

      // 點線面shp圖
      if (category === 'pointList' && layerName === 'shpVec') {
        const index = this.layerOptions.pointList.findIndex(item => item.id === id);
        const oldVal = this.layerOptions.pointList[index].opacity;
        if (oldVal === value) { return; }

        this.layerOptions.pointList[index].opacity = value;
        this.layerOptions.pointList[index].graph.forEach((item) => {
          if (this.layerOptions.pointList[index].isAdd === false) {
            pMapBase.drawingGraphicsLayer.add(item);
          }
          item.symbol.color.a = value / 100;
        });
        this.layerOptions.pointList[index].isAdd = true;
        pMapBase.drawingGraphicsLayer.redraw();
      }

      if (category === 'lineList' && layerName === 'shpVec') {
        const index = this.layerOptions.lineList.findIndex(item => item.id === id);
        const oldVal = this.layerOptions.lineList[index].opacity;
        if (oldVal === value) { return; }

        this.layerOptions.lineList[index].opacity = value;
        this.layerOptions.lineList[index].graph.forEach((item) => {
          if (this.layerOptions.lineList[index].isAdd === false) {
            pMapBase.drawingGraphicsLayer.add(item);
          }
          item.symbol.color.a = value / 100;
        });
        this.layerOptions.lineList[index].isAdd = true;
        pMapBase.drawingGraphicsLayer.redraw();
      }

      if (category === 'surfaceList' && layerName === 'shpVec') {
        const index = this.layerOptions.surfaceList.findIndex(item => item.id === id);
        const oldVal = this.layerOptions.surfaceList[index].opacity;
        if (oldVal === value) { return; }

        this.layerOptions.surfaceList[index].opacity = value;
        this.layerOptions.surfaceList[index].graph.forEach((item) => {
          if (this.layerOptions.surfaceList[index].isAdd === false) {
            pMapBase.drawingGraphicsLayer.add(item);
          }
          item.symbol.color.a = value / 100;
        });
        this.layerOptions.surfaceList[index].isAdd = true;
        pMapBase.drawingGraphicsLayer.redraw();
      }
    },
    // * @ 圖層工具：OGC介接 清除全部
    clearOgcLayer () {
      if (this.ogcOptions.layerList.length < 1) {
        return;
      }
      pMapBase.RemoveLayer(this.wmsLayer);
      pMapBase.RemoveLayer(this.wmTsLayer);
      this.ogcOptions.layerList = [];
      this.wmsUrl = '';
      this.wmTsUrl = '';
      pMapBase.RefreshMap(true);
    },
    // * 回到全圖
    fullMapCtrl () {
      backFullMap();
    },
    // * 放大
    zoomInCtrl () {
      ZoomIn();
    },
    // * 縮小
    zoomOutCtrl () {
      ZoomOut();
    },
    // * 監測是否有localStorage傳來 有->接值進行繪圖
    getLocalStorage () {
      if (localStorage.getItem('oriData') !== null) {
        this.geoData = JSON.parse(localStorage.getItem('oriData'));

        // 先清除之前的
        pMapBase.drawingGraphicsLayer.remove(this.localGraphic);
        // 畫圖
        const geometry = sg.geometry.Geometry.fromGeoJson(this.geoData);
        this.localGraphic = sg.Graphic.createFromGeometry(geometry, { borderwidth: 1, fillcolor: new sg.Color(220, 105, 105, 0.5) });
        pMapBase.drawingGraphicsLayer.add(this.localGraphic);
        // 定位
        const extent = geometry.extent;
        pMapBase.ZoomMapTo(extent);
        //ZoomOut();
        pMapBase.getTransformation().FitLevel();
        pMapBase.RefreshMap(true);
        // 清空localStorage
        localStorage.clear();
      }
    },
    // * 清除頁面所有結果
    clearAllPage () {
      if (this.drawTool !== '') {
        this.clearMeasureResult();
      }
      // this.clearOgcLayer();
      // 清除渠道/點擊/關鍵字查詢結果
      this.clearSearchResult(this.tabbarStatus);
      pMapBase.RemoveLayer(this.dmapObj);
      this.tabbarStatus = '';
      // 關閉椿號點擊視窗
      pMapBase.infoWindow.close();
      // 清除定位視窗
      if (this.$refs.posNavComp !== undefined) {
        this.$refs.posNavComp.clearAllHandler();
        this.$refs.posNavComp.clearLandHandler();
        this.$refs.posNavComp.clearCanalHandler();
      }

      // 清除kml shp
      this.shpOptions.layerList = [];
      pMapBase.RemoveLayer(this.shpOptions.kmlLayer);

      this.allShpGraphic.forEach((item) => {
        pMapBase.drawingGraphicsLayer.remove(item);
      });
      this.allShpGraphic = [];
    },
    getPointService (type, ID, category, layerNAME) {
      const rowss = ['01_Cons', '02_Cons', '03_Cons', '04_Cons', '05_Cons', '06_Cons', '07_Cons', '08_Cons', '09_Cons', '10_Cons', '11_Cons', '12_Cons', '13_Cons', '14_Cons', '15_Cons', '16_Cons', '17_Cons'];

      const filArr = rowss.filter(item => iaList.includes(item.split('_')[0]) === true);
      if (filArr.length < 1) {
        this.authWarnBox = true;
        return;
      }

      const mapArr = [];

      filArr.forEach((item, index, array) => {
        mapArr.push(new MapLayer(item, MSC.MapperConfig.MapSource[0].Url, {
          UserPass: MSC.MapperConfig.MapSource[0].UserPass,
          loaded: () => {
            pMapBase.AddLayer(mapArr[index]);

            if (index === array.length - 1) {
              const indexB = this.layerOptions.pointList.findIndex(item => item.id === ID);
              this.layerOptions.pointList[indexB].visible = true;
              this.layerOptions.pointList[indexB].LayerName = mapArr;
              this.layerOptions.pointList[indexB].hasLoaded = true;
              this.$store.commit('SET_LAYER_POINT_LIST', this.layerOptions.pointList);
              pMapBase.RefreshMap(true);
              this.loadModal = false;
            }
          }
        }));
      });
    },
    // * 點線面map service介接 (地籍地段圖)
    getCovService (type, ID, category, layerNAME) {
      this.loadModal = true;
      console.log('QQ');

      this.allMapSer[type] = new MapLayer(type, MSC.MapperConfig.MapSource[0].Url, {
        UserPass: MSC.MapperConfig.MapSource[0].UserPass,
        loaded: () => {
          pMapBase.AddLayer(this.allMapSer[type]);
          this.allMapSer[type].putVisible(false);

          if (category === 'surfaceList' && layerNAME !== 'shpVec') {
            const index = this.layerOptions.surfaceList.findIndex(item => item.id === ID);
            this.layerOptions.surfaceList[index].visible = true;
            this.layerOptions.surfaceList[index].LayerName = this.allMapSer[type];
            this.allMapSer[type].setOpacity(0.8);
            this.layerOptions.surfaceList[index].hasLoaded = true;
          }

          this.allMapSer[type].putVisible(true);
          pMapBase.RefreshMap(true);
          this.loadModal = false;
        }
      });
    },
    sortMapArr (type) {
      // 計算已載入的圖層
      const loadedArr = [];
      for (const key in this.mapCounter) {
        if (this.mapCounter[key] !== 0) {
          loadedArr.push(key);
        }
      }

      console.log(loadedArr);
      // 先移除已載入的
      loadedArr.forEach((item) => {
        pMapBase.RemoveLayer(this.allMapSer[item]);
        console.log(this.allMapSer[item]);
      });

      console.log('重新排序');
      // 重新排序
      this.realArr.forEach((item) => {
        if (loadedArr.includes(item) === true) {
          console.log(item);
          pMapBase.AddLayer(this.allMapSer[item]);
          this.allMapSer[item].putVisible(true);
        }
      });
    },

    // * 接入圖資物件
    layerInput(){
          // 只有面圖資預先載好圖資
          this.allMapSer.Ia = polyMapSer.Ia;
          this.allMapSer.Stn = polyMapSer.Stn;
          this.allMapSer.Grp = polyMapSer.Grp;
          for (const key in this.allMapSer) {
            const result = {
              id: Math.random(),
              LayerName: this.allMapSer[key],
              visible: false,
              opacity: 80,
              LayerTitle: '',
              type: [],
              allShow: true,
              ready: false,
              hasLoaded: false,
              key:''
            };

            const newArr = [
              {
                id: Math.random(),
                name: '',
                visible: true,
                subId: '',
                bgColor: '',
                border: ''
              }
            ];
            result.type = newArr;
            if (key === 'Ia') {
              result.LayerTitle = '管理處';
              result.visible = true;
              result.LayerName = polyMapSer.Ia;
              result.key = key;
              result.type[0].bgColor = '#a3d9ca';
              result.type[0].border = '#3e9f88';
              this.layerOptions.surfaceList.push(result);
              this.$store.commit('SET_SELECT_LAYER', {obj:'surfaceLayer',arr:[result]});
            }
            if (key === 'Stn') {
              result.LayerTitle = '工作站';
              result.type = this.picData.Stn;
              result.ready = true;
              result.key = key;
              result.LayerName = polyMapSer.Stn;
              this.layerOptions.surfaceList.push(result);
            }
            if (key === 'Cons') {
              result.LayerTitle = '水工構造物';
              result.opacity = 100;
              result.type = this.picData.Cons;
              result.ready = true;
              result.key = key;
              this.layerOptions.pointList.push(result);
            }
            if (key === 'Canal') {
              result.LayerTitle = '渠道';
              result.opacity = 100;
              result.type = this.picData.Canal;
              result.ready = true;
              result.key = key;
              this.layerOptions.lineList.push(result);
            }
            if (key === 'Grp') {
              result.LayerTitle = '小組';
              result.type[0].bgColor = '#00000000';
              result.type[0].border = '#0084A8';
              result.LayerName = polyMapSer.Grp;
              result.key = key;
              this.layerOptions.surfaceList.push(result);
            }
          }
          this.getPWALayer();
    },
    // * 點線面map service介接 (非地籍地段圖)
    getMapService (type, ID, category, layerNAME) {
      if (type === 'Ia') { return; }
      this.loadModal = true;
      if (type === 'Cons') {
        this.getPointService(type, ID, category, layerNAME);
        return;
      }

      let mapName = '';
      if (type === 'Canal') {
        mapName = 'Canal_S';
      } else if (type === 'Stn') {
        mapName = 'Stn_S';
      } else {
        mapName = type;
      }

      this.allMapSer[type] = new MapLayer(mapName, MSC.MapperConfig.MapSource[0].Url, {
        UserPass: MSC.MapperConfig.MapSource[0].UserPass,
        loaded: () => {
          pMapBase.AddLayer(this.allMapSer[type]);
          this.allMapSer[type].putVisible(false);

          // 依權限設定哪些圖層要關閉
          const rows = this.allMapSer[type].getLayers();
          const hasAuthRows = [];

          rows.forEach((item, index) => {
            const myId = item.getName();
            if (myId !== null && myId !== 'Section' && myId !== 'Sec5cov') {
              if (iaList.includes(myId.substring(0, 2)) === false) {
                this.allMapSer[type].getLayers()[index].putVisible(false);
              } else {
                hasAuthRows.push(myId);
              }
            }
          });

          if (hasAuthRows.length < 1 && type !== 'Section' && type !== 'Sec5cov') {
            this.authWarnBox = true;
            this.loadModal = false;
            const index = this.layerOptions[category].findIndex(item => item.id === ID);
            this.layerOptions[category][index].hasLoaded = true;
            return;
          }

          if (category === 'pointList' && layerNAME !== 'shpVec') {
            const index = this.layerOptions.pointList.findIndex(item => item.id === ID);
            this.layerOptions.pointList[index].visible = true;
            this.layerOptions.pointList[index].LayerName = this.allMapSer[type];
            this.layerOptions.pointList[index].hasLoaded = true;
          }
          if (category === 'lineList' && layerNAME !== 'shpVec') {
            const index = this.layerOptions.lineList.findIndex(item => item.id === ID);
            this.layerOptions.lineList[index].visible = true;
            this.layerOptions.lineList[index].LayerName = this.allMapSer[type];
            this.layerOptions.lineList[index].hasLoaded = true;
          }
          if (category === 'surfaceList' && layerNAME !== 'shpVec') {
            const index = this.layerOptions.surfaceList.findIndex(item => item.id === ID);
            this.layerOptions.surfaceList[index].visible = true;
            this.layerOptions.surfaceList[index].LayerName = this.allMapSer[type];
            this.allMapSer[type].setOpacity(0.8);
            this.layerOptions.surfaceList[index].hasLoaded = true;
          }

          this.allMapSer[type].putVisible(true);
          pMapBase.RefreshMap(true);
          this.loadModal = false;
        }
      });
    },
    // * 透明度設定
    updateOpacity(e){
      this.selectLayerOption.surfaceLayer.forEach(x=>{
        if(x.category === 'pointList'){
          const layerNameObj = !x.LayerName ? this.pointList[0].LayerName : x.LayerName;
          this.layerOpacityCtrl(x.id,e,x.category,layerNameObj);
        }else if(x.category === 'lineList'){
          const layerNameObj = !x.LayerName ? this.lineList[0].LayerName : x.LayerName;
          this.layerOpacityCtrl(x.id,e,x.category,layerNameObj);
        }else{
          if(!x.layerName){
            const layerNameObj = this.surfaceList.filter(y=>y.LayerTitle === x.LayerTitle)[0].LayerName;
            this.layerOpacityCtrl(x.id,e,'surfaceList',layerNameObj);
          }else{
            this.layerOpacityCtrl(x.id,e,'surfaceList',x.layerName);
          }
          
        }
      })
      this.selectLayerOption.imageLayer.forEach(x=>{
        this.layerOpacityCtrl(x.id,e,x.category,x.layerName);
      })
      this.selectLayerOption.areaLayer.forEach(x=>{
        this.layerOpacityCtrl(x.id,e,x.category,x.layerName);
      })
    },
    // * 開始測量
    getMeasurement(){
      this.drawTool.endDraw();
    }
  },
  computed: {
    mapCounter () {
      return this.$store.state.count;
    },
    // * 點擊查詢取得已開啟圖層
    switchSearchLayer(){
      const a = this.selectSearchLayer.map(x=>{
        return x === '管理處' ? 'Ia' : x === '工作站' ? 'Stn' : x === '小組' ? 'Grp' : x === '水工構造物' ? 'Cons' : x === '渠道' ? 'Canal' : 'Land'
      })
      return a;
    },
    // * 判斷點擊查詢顯示表單
    showSearchLayer(){
      return function (a) {
        return this.selectSearchLayer.indexOf(a) > -1 && this.resultList.indexOf(a) > -1;
      }
    },
    ...mapState([
      'userInfo',
      'surfaceList',
      'pointList',
      'lineList',
      'selectLayerOption',
      'mapAction',
      'selectSearchLayer',
      'maskStatus',
      'mapObj',
      'dmapObj'
    ]),
  },
  watch: {
    'searchResult.channel': {
      handler (value) {
        if (value !== '') {
          this.$store.commit('HIDE_FOOTER_CTRL', true);
        } else {
          this.$store.commit('HIDE_FOOTER_CTRL', false);
        }
      }
    },
    baseCount (value) {
      if (value === this.layerOptions.baseLayerList.length) {
        this.allBaseLayer.forEach((item, index) => {
          if (this.layerOptions.baseLayerList[index].LayerName !== 'EMAP15') {
            pMapBase.AddLayer(item);
            item.hide();
          }
          pMapBase.RefreshMap(true);
        });
      }
    },
    // * 載入點線面wms圖層
    plsCount (value) {
      // 之後改成value === iaList.length
      if (value === iaList.length) {
        this.getWetLayers();
      }
    },

    activeWindow: {
      handler (value) {
        // 只會載入一次 new MeasureTool
        if (value === 'geoMeasureWindow' && this.openOnce === true) {
          this.openOnce = false;
          this.drawTool = new MeasureToolXX('', pMapBase);
        }
        // 打開測量視窗預設啟動長度測量
        if (value === 'geoMeasureWindow' && this.openLine === true) {
          drawTypee = 'LINESTRING';
          myUnit = 'Meters';
          myUnitNum = 1;
          this.drawTool.ActiveMeasureTool('LINESTRING');
        }
        // 從測量視窗切換至其他視窗
        if (value !== 'geoMeasureWindow' && this.openOnce === false) {
          this.openLine = true;
          this.drawTool.ClearMap();
          this.drawTool.ActiveMeasureTool();
        }
        // 開啟街景工具
        if (value === 'streetMapWindow' && this.openOnceStreet === true) {
          this.streetMap = new GoogleStreetMap();
          this.openOnceStreet = false;
          console.log(pMapService);
        }
        if (value === 'streetMapWindow') {
          document.getElementsByTagName('body')[0].style.cursor = "url('images/pegman-cursor.png'), auto";
          this.streetMap.openStrMap(true);
        } else {
          this.streetMap = new GoogleStreetMap();
          document.getElementsByTagName('body')[0].style.cursor = 'default';
          this.streetMap.openStrMap(false);
        }

        // 點線面圖資載入
        if (value === 'switchLayersWindow' && this.openOnceLa === true) {
          // 只有管理處預先載好圖資
          this.allMapSer.Ia = iaMapSer;

          for (const key in this.allMapSer) {
            const result = {
              id: Math.random(),
              LayerName: this.allMapSer[key],
              visible: false,
              opacity: 80,
              LayerTitle: '',
              type: [],
              allShow: true,
              ready: false,
              hasLoaded: false
            };

            const newArr = [
              {
                id: Math.random(),
                name: '',
                visible: true,
                subId: '',
                bgColor: '',
                border: ''
              }
            ];
            result.type = newArr;

            if (key === 'Ia') {
              result.LayerTitle = '管理處';
              result.visible = true;
              result.LayerName = iaMapSer;
              result.type[0].bgColor = '#a3d9ca';
              result.type[0].border = '#3e9f88';
              this.layerOptions.surfaceList.push(result);
            }
            if (key === 'Stn') {
              result.LayerTitle = '工作站';
              result.type = this.picData.Stn;
              result.ready = true;
              this.layerOptions.surfaceList.push(result);
            }
            if (key === 'Cons') {
              result.LayerTitle = '水工構造物';
              result.opacity = 100;
              result.type = this.picData.Cons;
              result.ready = true;
              this.layerOptions.pointList.push(result);
            }
            if (key === 'Canal') {
              result.LayerTitle = '渠道';
              result.opacity = 100;
              result.type = this.picData.Canal;
              result.ready = true;
              this.layerOptions.lineList.push(result);
            }
            if (key === 'Arrow') {
              result.LayerTitle = '渠道流向';
              result.opacity = 100;
              result.type = this.picData.Arrow;
              result.ready = true;
              this.layerOptions.lineList.push(result);
            }
            if (key === 'Grp') {
              result.LayerTitle = '小組';
              result.type[0].bgColor = '#00000000';
              result.type[0].border = '#0084A8';
              this.layerOptions.surfaceList.push(result);
            }
            if (key === 'Sec5cov') {
              result.LayerTitle = '地籍圖';
              result.type[0].bgColor = '#00000000';
              result.type[0].border = '#e69800';
              this.layerOptions.surfaceList.push(result);
            }
          }
          this.openOnceLa = false;
          this.getIRLayer();
        }
      }
    },
    drawTool(n,o){
      console.log(n);
    }
  }
};
</script>

<style lang="scss">
  @import '~/assets/scss/components/_map.scss';

  @keyframes dash-cycle-ani {
    100% {
      stroke-dashoffset: 0;
    }
  }

  div,span,table,input{
    font-family: $font-family !important;
  }

  .hide_arr {
    display: none;
  }

  .nores_channel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100px;
      padding: 10px;
    }

    p {
      color:  #595959;
      padding-bottom: 3px;
      @include noto-sans-tc-16-regular;
    }
  }

  .modal_wrapper666666 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000000000;
    cursor: default;
    display: none;
  }

  .modal666666 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background: url('~/assets/img/loading_icon.svg') no-repeat center/contain;
  }

  .modal_wrapper888888 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000000000;
    cursor: default;
  }

  .modal888888 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background: url('~/assets/img/loading_icon.svg') no-repeat center/contain;
  }

  .scbar_wrap {
    position: fixed;
    bottom: 90px;
    left: 50px;
  }

  .canvasShot {
    // position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2000;
  }

  .mapWrap {
    margin-top: 54px;
    .border_bot {
    height: 1px;
    background: $light-green;
    width: calc(100% - 4.5px);
  }

  .hide_button_bigTable {
    background: $main-green;
    text-align: center;
    width: 250px;
    padding: 8.5px 0;
    color: white;
    cursor: pointer;
    position: absolute;
    top: -34px;
    border-radius: 0 22px 0 0;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -7px;
    }

    p::before {
      content: '';
      width: 18px;
      height: 18px;
      background: url('~/assets/img/down-white-triangle.svg') no-repeat right/contain;
      display: inline-block;
      margin-right: 7px;
    }
  }

  .up_arrow::before {
    background: url('~/assets/img/white-triangle.svg') no-repeat right/contain !important;
  }

  .hide_button_right {
    display: flex;
    position: absolute;
    right: 0;
    top: -34px;
    border-radius: 22px 0 0 0;
    background: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .hint {
      margin-right: 5px;
      color: #494949;
      @include noto-sans-tc-16-regular;
    }
  }

  .hide_block66 {
    transition: transform 0.4s;
    // transform: translateY(62.5%);
    transform: translateY(100%);
  }

  .show_block {
    transition: transform 0.4s;
    transform: translateY(0);
  }

  .table_wrap {
    padding: 2px 5px;
  }

  .reduceHeight {
    height: calc(100vh - 91px) !important;
  }

  .main{
    position: relative;
    width: 100%;
    height: calc(100vh - 91px);
    overflow: hidden;
    z-index: 0;
    // background: pink;
  }

  .layerwindow {
    width: 363px;
    //max-height: 440.2px;
    max-height: 421px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .layer__list {

    .layer__item:nth-child(odd) {
      background-color:#F5F5F5;
    }
  }

  .layer__item {
    @include noto-sans-tc-16-medium;
  }

  .btn_group_wms {
    display: flex;
    border-radius: 5px;

    .btn {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 13px;
      font-family: "Noto Sans TC";
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      color: rgba(73, 73, 73, 1);
      text-align: center;
      background-color: rgba(226, 228, 228, 1);
      border: 2px solid #e2e4e4;
      cursor: pointer;
    }

    .current {
      background-color: rgba(255, 224, 177, 1);
      border: 2px solid rgba(234, 181, 101, 1);
    }

    .btn:nth-child(1) {
      border-radius: 5px 0 0 5px;
    }

    .btn:nth-child(2) {
      border-radius: 0 5px 5px 0;
    }
  }

  .bt_wrapOGC {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    border-bottom: 1px solid #959595;
  }

  .button-primary , .button-default {
    // width: 64px;

    .button-text {
      font-weight: 100;
    }
  }

  .ogc__list {
    @include noto-sans-tc-16-medium;

    .title_name {
      margin: 5px 0;
    }

    textarea {
      resize: none;
      width: 359px;
      height: 25px;
      border-radius: 5px;
      border: 1px solid #959595;
      color: #494949;
      font-size: 16px;
      padding: 5px 0 3px;
    }

    .ogc_table1 {
      border: 1px solid #C4DED8;
      margin-top: 9px;

      input {
        margin-right: 15px;
      }

      .og_item {
        padding: 8px 0;
        color: #494949;
        padding-left: 7px;
        @include noto-sans-tc-16-regular-line16;
      }

      .og_item:nth-child(even) {
        background-color: #F5F5F5;
      }

      .og_item_wrap {
        height: 140px;
        overflow-y: scroll;
      }
    }

    .ogc_allbtn {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;

      div:nth-child(2) {
        margin-left: 10px;
      }
    }

    .og_title {
        border-bottom:  5px solid #3E9F88;
        padding: 7px 0;
        padding-left: 7px;
        @include noto-sans-tc-16-medium;
    }

    .title {
      color: $header-black;
      @include noto-sans-tc-16-medium;
    }

    .ogc_table2 {
      border: 1px solid #C4DED8;
      margin-top: 9px;

      .og_title {
        padding-left: 15px;
      }
    }
  }

  .no_filemm {
    background-color: #EFF4F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3E9F88;
    padding: 10px 0;
    @include noto-sans-tc-16-regular;
  }

  .shp__list {
    padding: 10px 17px;
    @include noto-sans-tc-16-regular;
    .tit {
      width: 386px;
      color:  #595959;
      margin-top: 7px;
    }

    .bt_wrap {
      border: none;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 10px;
    }
  }

  .street_wrap {
    width: 310px;
    padding: 10px 20px 0 20px;
    color: #595959;
    @include noto-sans-tc-16-regular;
  }

  .result_table {
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 100000;
    width: 100%;
    // height: 430px;
  }

  .checkBoxOption{
    input[type="checkbox"] {
      display:none;
    }
    input[type="checkbox"] + label
    {
      height: 14px;
      width: 14px;
      display:inline-block;
      margin: 0 5px;
      cursor: pointer;
      @include checkbox;
    }
    input[type="checkbox"]:checked + label
    {
      background: url("~/assets/img/check.svg");
      height: 14px;
      width: 14px;
      display:inline-block;
      margin: 0 5px;
      cursor: pointer;
    }
  }

  .clickSearchPopup{
    padding: 1em;
    width: 80%;
    height: 217px;
    top: 30%;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
    .SearchPopupContent{
      height: 180px !important;
      padding: 0 10px;
      margin-top: 36px;
      div{
        padding-right: 6px;
      }
    }
  }

}

</style>
