<template>
    <div class="main">
        <Header/>
        <nuxt/>
        <Footer copyright="©2022行政院農業委員會-農田水利署"/>
    </div>
</template>
<script>
import Header from '~/components/model/Header.vue';
import Footer from '~/components/model/Footer.vue';
export default {
    components: {
        Header,
        Footer
    }
}
</script>