<template>
    <div class="loginArea">
        <nuxt/>
        <Footer copyright="©2022行政院農業委員會-農田水利署" :loginText="true"/>
    </div>
</template>
<script>
import Footer from '~/components/model/Footer.vue';
export default {
    components: {
        Footer
    },
}
</script>
<style lang="scss" scoped>
.loginArea{
    min-height: $vh-100;
    background: url('~/static/mainBg.svg') no-repeat center;
    background-size: cover;
}
</style>