<template>
  <div class="container">
    <SliderButtonBox 
      v-show="isSliderButton"
      :isClose="popupStatus"
      :tabbarStatus="tabbarStatus"
      @searchStatus="getSearchStatus"
    />
    <Tabbar 
      :clearTabbarStatus="!popupStatus"
      @tabbarStatus="getTabbarStatus"
    />
    <FlatButtonBox
      :clearMapAction="clearMapAction"
      @mapAction="getMapAction"
    />
    <MapTipsBar 
      v-show="isMapTips"
      :text="mapTips" 
    />
    <Popup 
      :title="popupTitle" 
      :type="tabbarStatus"
      :isShow="popupStatus" 
      @closePopup="closePopup"
      @getCurrent="getCurrent"
    />
  </div>
</template>

<script>
import Tabbar from '~/components/tools/Tabbar.vue';
import MapTipsBar from '~/components/tools/MapTipsBar.vue';
import SliderButtonBox from '~/components/model/SliderButtonBox.vue';
import FlatButtonBox from '~/components/model/FlatButtonBox.vue';
import Popup from '~/components/model/Popup.vue';

export default {
  name: 'IndexPage',
  middleware: 'routerAuth',
  meta: {
    requiresAuth: true
  },
  components: {
    Tabbar,
    MapTipsBar,
    SliderButtonBox,
    FlatButtonBox,
    Popup
  },
  data:()=>{
    return{
      tabbarStatus:'',
      isSliderButton:false,
      popupStatus:false,
      popupTitle:'',
      mapTips:'',
      isMapTips: false,
      clearMapAction: false
    }
  },
  methods:{
    getTabbarStatus(e){
      this.tabbarStatus = e;
      this.isSliderButton = false;
      this.getPopupTitle(e);
      if(e){
        this.popupStatus = true;
        this.isMapTips = false;
        this.clearMapAction = true;
      }else{
        this.popupStatus = false;
      }
    },
    getSearchStatus(e){
      this.getPopupTitle(e);
      this.tabbarStatus = e;
    },
    getMapAction(e){
      this.isMapTips = false;
      this.popupStatus = false;
      this.clearMapAction = false;
      switch(e){
        case 'location':
          this.mapTips = '請點擊圖面位置';
          this.isMapTips = true;
          break;
        case 'channel':
          this.mapTips = '請先開啟渠道圖層';
          this.isMapTips = true;
          break;
      }
    },
    closePopup(e){
      this.popupStatus = !e;
      this.isSliderButton = !e;
    },
    getPopupTitle(e){
      switch(e){
        case 'layer':
          this.popupTitle = '圖層工具';
          break;
        case 'search':
          this.popupTitle = '渠道查詢';
          this.isSliderButton = true;
          break;
        case 'measurement':
          this.popupTitle = '量測工具';
          break;
        case 'coordinate':
          this.popupTitle = '坐標查詢';
          break;
        case 'cadastral':
          this.popupTitle = '地籍查詢';
          break;
        case 'houseNumber':
          this.popupTitle = '門牌查詢';
          break;
      }
    }
  }
}
</script>

<style lang="scss">
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  //align-items: center;
  text-align: center;
  background-color:blanchedalmond;
}

.title {
  font-family:
    Quicksand,
    "Source Sans Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
