<template>
    <form class="loginBox w-80">
        <div class="mainLogo w-100">
            <img :src="require('~/assets/img/logo.svg')">
        </div>
        <div class="mainTitle w-100">
            {{ title }}
        </div>
        <div class="loginInput w-100">
            <InputTool
                placeholder="請輸入帳號"
                is-icon="account"
                @inputValue="getAccount"
            />
            <InputTool
                placeholder="請輸入密碼"
                is-icon="lock"
                input-type="password"
                @inputValue="getPassword"
            />
            <div class="verification flexBox w-100">
                <InputTool
                    placeholder="請輸入驗證碼"
                    class="flex-1 inputBox"
                    @inputValue="getCaptcha"
                />
                <img
                    :src="verifyImg"
                    class="flex-1"
                    @click="Verify"
                >
            </div>
            <div
                v-show="loginNum===0"
                class="flexBox flex-left"
            >
                <p
                class="default-hint-text"
                style="padding-left:10px"
                >
                <span>驗證碼英文字母不區分大小寫輸入</span>
                </p>
            </div>
            <div
                v-show="loginNum>0"
                class="flexBox flex-right error-hint">
                <img
                    alt=""
                    class="vector"
                    src="https://static.overlay-tech.com/assets/865a3600-f89e-4d3d-b02a-cc77fa01eefb.svg"
                />
                <p class="error-hint-text">
                <span v-show="loginNum<5">您已輸入錯誤{{ loginNum }}次，尚有{{ 5-loginNum }}次機會，達到5次後將限制登入10分鐘</span>
                <span v-show="loginNum>=5">您已達錯誤次數上限，請{{ expiredTime1 }}後再試</span>
                </p>
            </div>
            <Button text="登入" class="w-100" @click="login"/>
        </div>
        <div class="flexBox flex-right">
            <span
                class="forgetPassWord"
                @click="forgetPassWord"
            >忘記密碼</span>
        </div>
        <AlertBox
            v-show="showSuccessAlert"
            :title="successTitle"
            box-icon="success"
            :text="successText"
            @confirm="closeAlert"
            @close="closeAlert()"
        />
        <AlertBox
            v-show="loginError"
            :title="loginErrorTitle"
            :box-icon="loginIcon"
            :text="loginErrorText"
            @confirm="closeAlert"
            @close="closeAlert()"
        />
        <AlertBox
            v-show="isForgetPassWord"
            :cancel-button="true"
            :add-input1="true"
            title="忘記密碼怎麼辦?"
            :inputObj="{
                placeholder1:'請輸入帳號',
            }"
            box-icon="warning"
            text="寄送重設密碼於註冊信箱 請前往信箱重設密碼"
            :tips1="forgetPasswordTips"
            :warn-rule="errRule"
            @confirm="sendForgetPassword"
            @close="closeForgetPassWord"
        />
        <AlertBox
            v-show="isResetPassWord"
            :cancel-button="true"
            :add-input1="true"
            :add-input2="true"
            title="請設定密碼"
            box-icon="hide"
            text=""
            inputType="password"
            :tips1="resetPassword1Tips"
            :tips2="resetPassword2Tips"
            :warn-rule="errRule"
            :isClear="isClearResetPassWord"
            :inputObj="{
                placeholder1:'請輸入8~30碼英數組合',
                placeholder2:'請輸入8~30碼英數組合',
                inputTitle1:'請輸入密碼',
                inputTitle2:'請再次輸入密碼'
            }"
            @confirm="setNewPassword"
            @close="closeResetPassWord"
        />
    </form>
</template>
<script>
import InputTool from '~/components/tools/InputTool.vue';
import Button from '~/components/tools/Buttons.vue';
import AlertBox from '~/components/tools/AlertBox.vue';
import { loginReq, getVerify,forgetPassword } from '~/api/login';
import { forgetPasswordErr } from '~/publish/apiErrorHandler';
import { editAccount } from '~/api/account';
import { getSha256 } from '~/publish/cryptoData';
import { validatePassword } from '~/publish/validatePassword';
export default {
    name: 'Login',
    layout: 'login',
    middleware: 'routerAuth',
    meta: {
        requiresAuth: true
    },
    components:{
        InputTool,
        Button,
        AlertBox
    },
    data:()=>{
        return{
            title:'農田水利現勘應用工具(PWA)',
            loginNum: 0,
            loginError:false,
            loginErrorTitle:'TEST',
            loginIcon:'warning',
            loginErrorText:'TESTTEXT',
            showSuccessAlert:false,
            successTitle:'',
            successText:'',
            isForgetPassWord: false,
            isResetPassWord: false,
            forgetPasswordTips: '',
            resetPassword1Tips: '',
            resetPassword2Tips: '',
            errRule: '',
            expiredTime: 0,
            expiredTime1: '',
            account: '',
            password: '',
            verifyImg: '',
            captcha: '',
            inputDisable: false,
            forgetPwdUrl:'',
            isClearResetPassWord:false
        }
    },
    mounted(){
        this.Verify();
    },
    methods:{
        // getLogin(){
        //     sessionStorage.setItem('loginStatus', 1);
        //     this.$router.push('/');
        // },
        Verify () {
            getVerify().then((r) => {
                this.verifyImg = r.data;
            }).catch((e) => {
                console.log(e);
            });
        },
        login () {
            const password256 = getSha256(this.password);
            const data = `account=${this.account}&password=${password256}&captcha=${this.captcha}`;
            loginReq(data).then((r) => {
                if (r.data[0].status) {
                    sessionStorage.setItem('loginStatus', 1);
                    sessionStorage.setItem('loginUser', r.data[0].id);
                    sessionStorage.setItem('userAuthority', r.data[0].permit);
                    this.$store.commit('SET_USER_INFO', { userInfo: r.data[0] });
                    this.$router.push('/map/');
                } else {
                    console.log('驗證碼錯誤');
                }
            }).catch((e) => {
                if ((e.response.status === 404 || e.response.status === 500)) {
                    this.loginErrorTitle = '登入錯誤';
                    this.loginErrorText = '請確認帳號密碼是否正確';
                    this.loginError = true;
                } else if ((e.response.status === 400)) {
                    if (e.response.data === '驗證碼錯誤') {
                        this.loginErrorTitle = '驗證碼輸入錯誤';
                        this.loginErrorText = '請重新輸入驗證碼';
                        this.loginError = true;
                    } else if (e.response.data === '密碼過期') {
                        this.loginErrorTitle = '密碼超過3個月未修改';
                        this.loginErrorText = '請重新設定您的密碼，以確保帳號安全';
                        this.loginError = true;
                    } else if (e.response.data === '驗證碼過期') {
                        this.loginErrorTitle = '驗證碼過期';
                        this.loginErrorText = '請重新輸入驗證碼';
                        this.loginError = true;
                    } else {
                        this.loginErrorTitle = '密碼超過3個月未修改';
                        this.loginErrorText = '請重新設定您的密碼，以確保帳號安全';
                        this.loginError = true;
                        this.loginIcon = 'error';
                        this.forgetPwdUrl = e.response.data;
                    }
                } else if ((e.response.status === 401)) {
                    this.loginErrorTitle = '帳號尚未啟用或被停用';
                    this.loginErrorText = '請前往註冊信箱驗證帳號 或聯絡管理員檢查帳號狀態';
                    this.loginError = true;
                } else if ((e.response.status === 403)) {
                    if (e.response.data <= 4) {
                        this.expiredTime = e.response.data;
                        this.loginNum = e.response.data;
                    } else {
                        const res = e.response.data.split(',');
                        if (parseInt(res[0]) === 5) {
                        this.loginNum = res[0];
                        this.expiredTime = this.setExpiredTime(res[1]);
                        this.inputDisable = true;
                        const a = setInterval(() => {
                            if (this.expiredTime > 0) {
                                this.expiredTime = this.setExpiredTime(res[1]);
                                this.expiredTime1 = this.countDown(this.expiredTime);
                            } else {
                                this.inputDisable = false;
                                this.loginNum = 0;
                                this.expiredTime = 0;
                                this.expiredTime1 = '';
                                // this.Verify();
                                clearInterval(a);
                            }
                        }, 1000);
                        }
                    }
                }
            });
        },
        countDown (s) {
            const min = Math.floor(s / 60);
            const sec = s - (min * 60);
            const result = `${this.addNum(min)}:${this.addNum(sec)}`;
            return result;
        },
        addNum (n) {
            return n < 10 ? '0' + n : n;
        },
        setExpiredTime (res) {
            const loginDate = res;
            const loginTime = loginDate.split(' ');
            const getDate = loginTime[0].split('-');
            const getTime = loginTime[1].split(':');
            const expiredTime = new Date(getDate[0], getDate[1] - 1, getDate[2], getTime[0], getTime[1], getTime[2]).getTime();
            const expiredTimeT = new Date().setTime(expiredTime + 1000 * 60 * 10);
            const nowT = new Date().getTime();
            const result = Math.floor((expiredTimeT - nowT) / 1000);
            return result;
        },
        closeAlert(){
            if (this.forgetPwdUrl !== '' && this.loginError) {
                this.isResetPassWord = true;
                this.loginError = false;
            }else{
                this.loginError = false;
                this.showSuccessAlert = false;
                this.isResetPassWord = false;
                this.forgetPwdUrl = '';
                this.Verify();
            }
        },
        forgetPassWord(){
            this.isForgetPassWord = true;
        },
        closeForgetPassWord(){
            this.isForgetPassWord = false;
        },
        closeResetPassWord(){
            this.isResetPassWord = false;
            this.loginError = false;
            this.loginErrorTitle =
            this.loginErrorText =
            this.resetPassword2Tips =
            this.resetPassword1Tips = '';
            this.isClearResetPassWord = true;
        },
        sendForgetPassword(e){
            const data = `account=${e.value1.val}`;
            forgetPassword(data).then(r => {
                this.isForgetPassWord = false;
                this.showSuccessAlert = true;
                this.successTitle = '發送信件成功';
                this.successText = '請前往信箱重設密碼';
            }).catch(err => {
                this.forgetPasswordTips = forgetPasswordErr(err.response.status);
                this.errRule = 'code8';
                console.log(err);
            });
        },
        async setNewPassword (e) {
            const url = new URL(this.forgetPwdUrl);
            const token = url.searchParams.get('t');
            this.loginErrorTitle =
            this.loginErrorText =
            this.resetPassword2Tips =
            this.resetPassword1Tips = '';
            this.isClearResetPassWord = false;
            const password1 = e.value1.val;
            const password2 = e.value2.val;

            //await this.validateParameters();

            // if (this.showValidateError) {
            //     return;
            // }

            if (!password1 || !password2) {
                this.resetPassword1Tips = !password1 ? '此欄必填' : '';
                this.resetPassword2Tips = !password2 ? '此欄必填' : '';
                return;
            }

            const passwordMessage1 = validatePassword(password1);
            const passwordMessage2 = validatePassword(password2);

            if (passwordMessage1 || passwordMessage2) {
                this.resetPassword1Tips = passwordMessage1 ? '密碼輸入格式錯誤' : '';
                this.resetPassword2Tips = passwordMessage2 ? '密碼輸入格式錯誤' : '';
                return;
            }

            if (password1 !== password2) {
                this.resetPassword1Tips = '您輸入的兩組密碼並不相符，請再試一次';
                this.resetPassword2Tips = '您輸入的兩組密碼並不相符，請再試一次';
                return;
            }

            console.log(password1);
            const result = {
                id: [this.account],
                password: getSha256(password1),
                token: token
            };
            if (this.$route.query.s === 'new') {
                result.status = 1;
            }
            const { status, data } = await editAccount(
                result,
                {
                validateStatus: () => true
                }
            );

            console.log(status)
            console.log(data)

            this.showSuccessAlert = status < 300;
            this.successTitle = this.showSuccessAlert ? '設定成功' : '';
            this.successText = this.showSuccessAlert ? '已成功設定密碼' : '';
            this.isResetPassWord = !this.showSuccessAlert;

            if (status === 400) {
                const errorTextIsDefault = true;
                this.resetPassword1Tips = errorTextIsDefault ? '因應資安要求,密碼不能與前三次相同 請重新輸入密碼' : data;
                this.resetPassword2Tips = errorTextIsDefault ? '因應資安要求,密碼不能與前三次相同 請重新輸入密碼' : data;
                this.isClearResetPassWord = true;
            }

            // if(this.showSuccessAlert){
            //     this.forgetPwdUrl = '';
            // }
        },
        getAccount (e) {
            console.log(e);
            if (e) {
                this.account = e.val;
            }
        },
        getPassword (e) {
            console.log(e);
            if (e) {
                this.password = e.val;
            }
        },
        getCaptcha (e) {
            console.log(e);
            if (e) {
                this.captcha = e.val;
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.loginBox{
    display: flex;
    align-content: center;
    height: $vh-80;
    margin: 0 auto;
    padding-top: calc( 20vh - 21px );
    align-items:center;
    flex-direction: column;
    .mainLogo{
        //display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 2vh;
        img{
            width: 300px;
        }
    }
    .mainTitle{
        //display: flex;
        align-items: center;
        text-align: center;
        //letter-spacing: 0.09em;
        margin-bottom: 0.25vh;
        font-size: 1.5em !important;
        color: #494949;
        word-break: keep-all;
        //max-width: 300px !important;
        @include noto-sans-tc-24-medium;
    }
    .loginInput{
        .verification{
            display: flex;
            img{
                flex: 1;
                max-width: 100px;
                height: 40px;
                margin-left: 5px;
            }
            input{
                max-width: 100px;
            }
            .inputBox{
                max-width: calc( 80vw - 105px ) !important;
            }
        }
        .input-box{
            margin: 0.5em 0;
        }
        .loginBtn{
            margin: 1vh 0;
            background: #3E9F88;
            border-radius: 5px;
            text-align: center;
            padding: 6px 15px;
            cursor: pointer;
            color: white;
            a{
                color:#FFF;
                padding: 6px 8em;
            }
            @include noto-sans-tc-18-medium;
            &:active,&:hover,&.focus{
                background-color: #21705d;
            }
        }
    }
}
.forgetPassWord{
    color: $dark-blue;
    @include noto-sans-tc-16-medium;
}

.error-hint{
    padding: 5px 0;
    justify-content: center !important;
    img{
        object-fit: contain;
    }
    p{
        margin: 0;
    }
}
</style>